[2017-10-24 20:03] mstange opened #1927 "Consider adding an API to specify root corner radii"
At the moment, on macOS, due to the way Firefox gets its OpenGL content to the screen, the window's bottom corners are square instead of rounded. It would be nice to have webrender apply rounded corners to its rendering on request.

The effects of this API would be slightly different compared to a rounded clip in the display list that is applied to the entire display list contents: The corner radi

[2017-10-24 20:04] mstange commented on #1416
I've filed #1926 and #1927 about the smaller APIs. I'm going to close this issue since we don't need the full freedom of arbitrary compositing operators at the moment.

[2017-10-24 20:04] #1416 closed

[2017-10-24 21:17] Gankro opened #1928 "Fast (Unblurred) Shadows Mishandle Clips"
Copying from my comment elsewhere:

Basically, gecko likes doing some cute tricks where it draws parts of the text multiple times with different clips to create the illusion of a single glyph/line across multiple runs with possible style changes.

Mostly this works fine, and can be naively lowered with no problem. However this causes a problem for fast shadows, because they inherit the clip from t

[2017-10-24 21:18] Gankro commented on #1928
I'm happy to fix this, but I'm not really sure how mutating the clip-scroll-tree is supposed to work.

[2017-10-24 21:33] glennw commented on #1928
I *think* the right answer here might be that we want to adjust the local clip rect on the item only, and leave any clips in the clip-scroll tree as-is. But @Gankro is working on some test case(s) that we can use to investigate further.

[2017-10-25 00:30] nc4rrillo opened #1931 "Scrolling broken when clip rect contains a non zero x origin"
Hi,
I'm working on a UI framework using WebRender and I've run into a peculiar issue. I'm not sure if its just me misunderstanding the API or if its a genuine bug.

I'm using the scroll API to scroll the first scrollable node found at a given WorldPoint, which so far has been working fine. However, I've been trying to offset the viewport rect to take into account the width of the border, and it ha

[2017-10-25 00:31] glennw commented on #1931
cc @mrobinson

[2017-10-25 02:38] nc4rrillo opened #1932 "Dotted borders render incorrectly"
Hi,
I've noticed dotted borders render the corners seemingly incorrectly.

![](https://i.imgur.com/6x0xBa0.png)

[code]

[2017-10-25 03:46] lsalzman opened #1934 "Auto-crop for generating png reference for reftests"
It is tedious and error-prone to have to manually crop the reference images generated by wrench. It would be nice if there were some option to auto-crop the output png so that we can skip the extra manual intervention here for the common case.

[2017-10-25 03:48] j3parker commented on #1661
The ellipse shader code handles circles in the easy/fast way (because the SDF impl for ellipses doesn't work for that special case) here, currently: https://github.com/servo/webrender/blob/6a7b5381b21805f4e3a15cda3bbe8466bc916485/webrender/res/ellipse.glsl#L58-L67

Is the idea in this issue to create a separate fragment shader that only has that path? (Presumably with some `#ifdef`s to cut out the

[2017-10-25 03:58] j3parker commented on #1661
Hm, total list of shaders using the shared ellipse code:

* `ps_clip_rectangle`
* `brush_mask`
* `cs_clip_rectangle`

[2017-10-25 04:01] glennw commented on #1661
That's the basic idea, yep!

Although, the clipping code is undergoing quite a lot of changes right now, so it's perhaps not the best time to work on this task.

One step towards this task that would be super useful is to create a wrench test case that does only require circle clips, locally replace the ellipse code by a shader that only does the circle clip, and measure the performance difference

[2017-10-25 04:11] j3parker commented on #1661
Alright, sounds good. I'll give the wrench test idea a go tomorrow and report back.

[2017-10-25 05:06] nc4rrillo commented on #1931
After digging through the scrolling code in WR (fascinating stuff btw), I found this issue and it ended up being in....my code.

Closing.

[2017-10-25 05:06] #1931 closed

[2017-10-25 05:56] glennw commented on #1934
I've been meaning to do this for a while... see #1936.

[2017-10-25 10:15] nc4rrillo opened #1938 "Scrolling questions"
Hi,
I'm working on a UI framework in WebRender and I'm running into an issue with scrolling.

I'm rebuilding the display list when the UI tree changes, (in this case I'm adding items to a list of items stacked vertically inside of a scrollable region). The new display list ends up having a bigger extent content rect for the same ClipId as a previous Display List as a result.

I currently:
- Build

[2017-10-25 11:48] mrobinson commented on #1912
@staktrace Thanks for the feedback and sorry for the pain! My plan for today is to:
1. Rework the API so the arguments are clearer. In particular I think it's better to think of the two max_offsets as the "minimum negative offset" and the "maximum positive offset". These offsets define the edges of the sticky constraint rectangle relative to the sticky rect. The "bottom" and "top" terminology just

[2017-10-25 12:23] NiLSPACE opened #1939 "Failed to compile shader: "brush_mask""
Ref: servo/servo#18974

As of a few days ago Servo started throwing the following errors in console:
[code]
This only happens on my integrated Intel GPU.

Specs:
GPU: Intel HD Graphics 530
Driver version: 22.20.16.4735

[2017-10-25 12:40] staktrace commented on #1912
@mrobinson Thanks! I was also thinking about this some more yesterday and I realized that we need to expose the 0 value as part of the API. The reason is that when gecko generates the display list it can do so at a scroll offset that's not zero. In those cases, the "top" sticky item for example might need to allow a negative offset in order for the item to positioned properly during async scrollin

[2017-10-25 12:45] staktrace commented on #1912
So in addition to any naming/documentation I think the API needs to change like so: https://github.com/staktrace/webrender/commit/866096db085f3f3102abdb139063bdbf089531e1

[2017-10-25 17:16] mstange commented on #643
This is superseded by #1926 and can be closed.

[2017-10-25 17:52] kvark opened #1941 "Text AA reftests failing on some linux configurations"
Reftests introduced by #1855 fail on my Fedora-26 machine:

Reftest log: [wr-text-aa.zip](https://github.com/servo/webrender/files/1415634/wr-text-aa.zip)
cc @glennw

[2017-10-25 19:38] mstange opened #1943 "The horizontal blur pass sometimes seems to blur in garbage from the side"
https://bugzilla.mozilla.org/show_bug.cgi?id=1411693

[Testcase](https://bug1411693.bmoattachments.org/attachment.cgi?id=8922041) (created by Darkspirit)

When hovering over the element on the page, the box-shadow sometimes has extra shadows on the right edges. Here are two screenshots with and without the glitch, and with `gfx.webrender.debug.render-targets` enabled:

good frame:
<img width="1193

[2017-10-25 19:56] #643 closed

[2017-10-25 20:52] glennw commented on #1941
Could you check what FreeType version you have?

[2017-10-25 20:54] kvark commented on #1941
2.7.1-9

[2017-10-25 20:59] glennw opened #1944 "Make wrench reftests use all CPU cores."
Running the reftests is slow enough now that it's worth considering running them in parallel.

This would probably involve creating an OSMesa context per CPU core, and distributing the tests on worker threads, or something similar to that.

[2017-10-25 21:06] jrmuizel commented on #1944
It'd also be interesting to compare to running them with LLVMpipe

[2017-10-25 21:22] glennw commented on #1944
True, we should revisit that and see if we can switch to llvmpipe on wrench + servo.

[2017-10-25 21:30] glennw commented on #1756
So, I guess if/when we do want to support this, we could expand the blob interfaces to support stroking a path we extract from the font platform APIs?

[2017-10-25 21:32] Gankro commented on #1928
Another option would be to abandon fast-shadows if internal clips are found, but that's probably too aggressive?

[2017-10-25 22:41] jrmuizel opened #1946 "WebRender's blur is much uglier"
Compare: FF w/ WebRender (things are much boxier)
<img width="172" alt="ff" src="https://user-images.githubusercontent.com/332653/32026856-f74ff8aa-b9b3-11e7-825a-5503b361d424.png">

vs Chrome:
<img width="171" alt="chrome" src="https://user-images.githubusercontent.com/332653/32026874-017b5c84-b9b4-11e7-9dce-e88e8db6487e.png">

Gecko without WebRender looks like Chrome

[2017-10-25 22:43] glennw commented on #1946
@jrmuizel Is it better with https://github.com/servo/webrender/pull/1920 applied (this is in the merge queue)?

[2017-10-26 02:10] #1934 closed

[2017-10-26 07:34] glennw commented on #1946
#1920 has landed now - so it'd be worth checking if the results are any better with that.

[2017-10-26 09:37] JerryShih commented on #1677
I have some updates for this in https://bugzilla.mozilla.org/show_bug.cgi?id=1399389.

[2017-10-26 15:46] kvark commented on #1926
Is there an associated FF issue?

If `color.a == 0.0` and your dst factor is `gl::ONE_MINUS_SRC_ALPHA`, wouldn't that effectively be `gl::ZERO`?

[2017-10-26 18:21] kvark commented on #1939
Looking at the source at 37d531900bcb8e7c09c01759af12493abed8c0e3 using `apitrace`, the problem is within this function:
[code]

I'd bet on the driver being confused by the `PictureTask` construction here.

[2017-10-26 18:39] kvark commented on #1946
The original screenshot looks as if our horizontal blur is not working correctly.

[2017-10-26 20:20] glennw opened #1950 "Shader validation misses some windows specific issues"
For one example, see https://github.com/servo/webrender/pull/1945#issuecomment-339787218.

We should take a look at how we are calling the shader validator - perhaps there is a different GLSL version or target we can set?

[2017-10-26 21:51] glennw commented on #1943
I can reproduce this with a static box shadow that has a fractional blur radius. There must be somewhere in the code that ends up with a rounding error when a fractional blur radius is supplied. I'll work on a fix today.

[2017-10-26 21:52] mstange commented on #1780
Fixed by #1945.

[2017-10-26 21:53] mstange commented on #1876
Fixed by #1945.

[2017-10-26 21:53] #1876 closed

[2017-10-26 21:55] #1780 closed

[2017-10-26 22:12] glennw commented on #1943
Note to self: the blur radius is correctly rounded to device pixels, but the CSS space blur radius is retained as a float. Probably related to that.

[2017-10-27 06:48] glennw commented on #1817
https://github.com/servo/webrender/pull/1954 fixes the box shadow time on this page. However, something has changed in WR / Gecko / page content which results in a ridiculous number of clip masks being allocated (26 x 2048 x 2048 A8 pages!), so that will need further investigation.

[2017-10-27 07:30] GuanWen-Chen opened #1955 "Remove isolation conflict log in push_stacking_context"
There are some cases that a stacking context can contain multiple child stacking contexts with blend mode:
  In the test in[1], we have two background-images applied to blend mode in the same item.

If my understanding is correct, this error log in push_stacking_context assume a stacking context can only have one child stacking context which has blend mode.

Perhaps we should remove this assumptio

[2017-10-27 07:33] GuanWen-Chen commented on #1955
r? @kvark

[2017-10-27 09:59] nical commented on #1939
I added [an entry](https://github.com/servo/webrender/wiki/Driver-issues#1939---) to the driver issues page with lots of blanks to fill in when this has been figured out.

[2017-10-27 10:12] subsevenx2001 commented on #1805
I found that the bogus lines disappeared after I bypass this if to make all pixel run in the if-block anyway. Maybe there is something wrong in the else block, I suspect it is some kind of rounding issue.
if (all(lessThan(local_pos * vClipSign, vClipCenter * vClipSign))) -> if (true)
https://dxr.mozilla.org/mozilla-central/source/gfx/webrender/res/ps_border_corner.glsl#335

[2017-10-27 16:40] mstange commented on #1917
It shouldn't be different. The bug is that it is different at the moment. The blur shader ignores R/G/B, the text shader respects it (which is incorrect for shadows).

[2017-10-27 16:47] kvark commented on #1939
@nical thanks! I was going to fill it up after we get more info/confirmation on what's going on.

[2017-10-27 17:18] staktrace commented on #1817
These clip masks you're referring to, are they clip items with non-empty masks? i.e. `SpecificDisplayItem::Clip(ClipDisplayItem { _, Some(_) })`?

@jrmuizel mentioned this potential regression during today's daily standup and I wanted to check that it wasn't an accidental regression from bug 1405359 or bug 1409446, but when I load the page at https://www.w3.org/conf/2013sf/ it doesn't seem like ge

[2017-10-27 18:15] mstange opened #1957 "Image masks don't create an intermediate surface to group the masked contents"
https://bugzilla.mozilla.org/show_bug.cgi?id=1412375

[Testcase](https://bug1412375.bmoattachments.org/attachment.cgi?id=8922912)

Expected results vs actual results:
<img width="419" alt="screen shot 2017-10-27 at 2 13 04 pm" src="https://user-images.githubusercontent.com/961291/32118795-fdca785e-bb20-11e7-8e4a-e0cd14017982.png">

It might be worth having a different API for grouping masks vs non

[2017-10-27 18:37] mstange commented on #1957
It could even be a filter, just like opacity is.

[2017-10-28 03:30] Gankro opened #1959 "fast-shadows of apple emoji aren't colored"
Now that we correctly prevent emoji from being effected by colors, the colors we try to apply to them as fast shadows get ignored.

test case:

[code]

screen shot (with blurred version for reference)

<img width="266" alt="screen shot 2017-10-27 at 11 29 31 pm" src="https://user-images.githubusercontent.com/1136864/32130885-c0dc7a2a-bb6e-11e7-9181-733f25d29f79.png">

[2017-10-28 03:47] mstange commented on #1917
I suggest closing this issue in favor of #1959 which has a screenshot and is easier to understand.

[2017-10-28 03:50] Gankro commented on #1959
live version is near the top of https://gankro.github.io/blah/webtests/text.html

[2017-10-29 21:22] #1939 closed

[2017-10-30 04:04] glennw commented on #1957
This is a timely bug report - as I'm working on optimizing the clip stack bugs / issues in https://github.com/servo/webrender/issues/1817 so I'll try to cover this at the same time, since they are very related.

[2017-10-30 05:03] glennw commented on #1817
It's not totally clear where they are coming from yet, but I do see a huge number of full screen clip masks being generated. There's often up to 30 or so 2048x2048 targets being allocated, which is clearly a bug. I'll be investigating this further today or tomorrow.

[2017-10-30 07:13] glennw commented on #1817
With #1960 and #1954, this is starting to look reasonable. It runs at about 10ms GPU time on my HD4600.

It's unfortunately then badly CPU bound in DL (de)serialization time. I'm not sure what the cause of that is, but it seems particularly bad.

In terms of GPU time, I'm fairly happy with the 10ms right now, *because* our GPU time baseline appears to be around 6ms when drawing basically nothing e

[2017-10-30 07:14] glennw commented on #1817
In addition to that, we should do some profiling and investigation of why the baseline is that high, when rendering basically nothing. It should be significantly less than that, even with the known clip and z-buffer issues.

[2017-10-30 14:26] #1571 closed

[2017-10-30 17:33] mstange commented on #1817
Are you testing this in a local Firefox build? If you are, please be aware of the [recent change to the default rust optimization level from 2 to 1](https://developer.mozilla.org/en-US/docs/Mozilla/Benchmarking#Rust_optimization_level).

[2017-10-30 18:33] staktrace opened #1964 "Allow items to be clipped by the intersection of multiple clip chains"
I'm not convinced this is entirely covered by #840, so I'm filing a new issue.

The scenario that we want to support is described by Markus at https://bugzilla.mozilla.org/show_bug.cgi?id=1408792#c13 - the problem is that the WR API doesn't allow us to say "this item should be clipped by the intersection of these two clip chains". We can only specify a single clip chain per item, plus a "local cli

[2017-10-30 18:36] staktrace commented on #1964
/cc @mrobinson

[2017-10-30 19:13] glennw commented on #1817
Oh, I was not aware of that change. Thank you for the heads up! I'll profile again today with an optimized build!

[2017-10-30 19:27] mrobinson commented on #1938
@nc4rrillo Thanks for reporting this issue. Can you tell me if the following change fixes things?

[code]

[2017-10-30 20:58] glennw commented on #1964
Question - do we need an arbitrary number of clip chains that can be specified, or do we know / think that two would cover all use cases?

[2017-10-30 21:17] mstange commented on #1964
You can nest the example arbitrarily deeply, so I think we would need an arbitrary number.

The other way to resolve this conundrum would be to make it so that clips on a stacking context always apply to everything that's rendered by that stacking context (including the stacking context's contents). This would be closer to what Gecko is doing.
Maybe this already happens when the stacking context h

[2017-10-30 23:02] glennw commented on #1817
I ran this page again with the rustc optimization level fixed. The CPU backend and GPU times are *reasonable* (not great), but the DL build time is still awful - it often spikes up to 50ms of DL build time.

It's possible that it's a measurement error, but we should investigate this further. Is it possible Gecko is taking that long to build the DL in this case?

[2017-10-31 01:16] jrmuizel commented on #1817
I think some of the DL times are not that meaningful in Gecko.

[2017-10-31 01:28] glennw commented on #1774
Update:

The initial brush structures and shaders have landed. Built on top of these are some significant performance optimizations for (common) box shadows. Additionally, we've started the work to improve the performance of clips (using primitive clip masks and caching the clip chains at the start of the frame).

Looking at the performance of rendering some simple sites, including ```about:blank`

[2017-10-31 03:02] glennw commented on #1774
Addendum: The work above will also be the foundation that allows us to accurately work out where we can use sub-pixel AA on intermediate targets.

[2017-10-31 04:43] glennw commented on #452
@jrmuizel This could probably do with another update - it looks like a few more of those items are ready now. Or should we close this now that we're trying to keep GH and bugzilla issues in sync?

Things on the list that (I think) are ready now:
 * Source blending
 * Hit testing
 * Blur
 * Shadows with different radii
 * Colored glyphs

[2017-10-31 04:44] glennw commented on #1774
#1776 is also covered by the work above, as something that falls out of this change.

[2017-10-31 05:53] #1926 closed

[2017-10-31 11:54] paulrouget opened #1968 "Crash: "address register can't be src operand in direct addressing""
On Android:

[code]

any idea what might go wrong?

[2017-10-31 19:14] nc4rrillo commented on #1938
@mrobinson This fixes my issue :+1:

Another change I have made locally that I'm wondering if it can get upstreamed is to enable drawing scrollbars for all scroll frames if the pref is set. Currently it only does it for the root frame.

The change I made is here:
[code]
in `flatten_root` in frame.rs

[2017-10-31 19:54] mrobinson commented on #1938
@nc4rrillo Thanks! I would like to make the scrollbar property a per-ScrollFrame setting.

[2017-10-31 20:37] Darkspirit commented on #1808
Is this also fixed by https://github.com/servo/webrender/pull/1969 ? (They are "See Also"s in Bugzilla)

[2017-10-31 20:41] mstange commented on #1808
No, it's not. I'll remove it from the see also list.

[2017-10-31 22:30] #1938 closed

[2017-10-31 23:06] glennw commented on #1968
This is a driver bug when compiling a shader, unfortunately, by the looks. The only way to diagnose this would be to identify which shader it is (with some logging), and then find out what piece of code in the shader is triggering this error by trial and error.

It's also possible (but unlikely) there might be an android OS or driver update available. What OS version and device is this on?

[2017-11-01 05:20] mfkl commented on #1968
Android 7.1.2, Wileyfox Swift.

[2017-11-01 10:36] Betsy25 opened #1976 "continuous insta-crashes when enabling Webrender."
If this is not the correct place to file a bug, feel free to close it.
Using FF nightly with, when setting these prefs...

`gfx.webrender.enabled --> true`
`gfx.webrender.blob-images --> true`

... I get continuous insta-crashes upon (re-)starting the browser. Had to revert them from the prefs.js

All crash reports look exactly the [same](https://crash-stats.mozilla.com/report/index/bb639203-7761-

[2017-11-01 15:02] jrmuizel commented on #1976
This crash is being tracked here: https://bugzilla.mozilla.org/show_bug.cgi?id=1412848. I can't reproduce it locally, and don't have a theory about why it's crashing.

[2017-11-01 15:03] jrmuizel commented on #1976
Can you try this with a fresh profile?

[2017-11-01 15:24] Betsy25 commented on #1976
I started with Extensions disabled, and while the browser window stayed empty for a couple of seconds upon starting, it didn't crash.

[2017-11-01 15:26] jrmuizel commented on #1976
Can you narrow down which extension might be related to crash?

[2017-11-01 15:46] Betsy25 commented on #1976
It seems like it doesn't matter, as long as any extension is enabled.
Only _uBlock Origin_ enabled --> 5sec hang + crash upon start.
Only _Bitwarden - Free Password Manager_ enabled --> 5sec hang + crash upon start.

[2017-11-01 17:00] jrmuizel commented on #1976
Weird. I can not reproduce the problem when I install both of those extensions

[2017-11-01 17:14] Betsy25 commented on #1976
Yes, there are a lot of users in the [Nightly thread](http://forums.mozillazine.org/viewtopic.php?p=14773683#p14773683) on Mozillazine forums, who uses all kind of extensions, some including those, and most of them seem to experience no crashes. One other member who also uses a HD 5000 series graphics card experiences extreme long loading times. (That probably ain't related to my crashing problem)

[2017-11-01 17:18] jrmuizel commented on #1976
Do you have any special font settings that you can think of?

[2017-11-01 17:35] Betsy25 commented on #1976
Nope, nothing different from the default AFAIK.
[Screen 1](http://www.imagebam.com/image/89ec4e644051433)
[Screen 2](http://www.imagebam.com/image/d45968644051453)

[2017-11-01 18:50] Gankro opened #1978 "vibrancy text is slightly thicker"
Top: webrender
Bottom: vanilla gecko

![screen shot 2017-11-01 at 2 41 16 pm](https://user-images.githubusercontent.com/1136864/32291553-c5ae3c16-bf13-11e7-9c8c-fbea01a20fa0.png)

Selected tab:
![screen shot 2017-11-01 at 2 41 30 pm](https://user-images.githubusercontent.com/1136864/32291554-c5be21bc-bf13-11e7-8613-046d6dd742b0.png)

Not a huge deal, it just looks a bit worse, imo?

[2017-11-01 18:57] Gankro commented on #1978
note: the selected tab doesn't use vibrancy, and also looks different, so the title isn't quite right here. Also our vibrancy is currently using a bit of a hack, since @mstange's vibrancy blending mode hasn't landed yet.

[2017-11-01 20:36] glennw commented on #1774
Note to self: the ```build``` step of ```Picture``` is a good place to apply optimizations. A couple of examples of simple optimizations that could have significant performance wins:

* Picture that is a (opacity) blend which contains a single primitive could often be collapsed to apply opacity to the primitive rendering, and skip the intermediate surface.
* Picture that is a large intermediate su

[2017-11-01 22:29] Darkspirit commented on #1922
@mstange I can no longer reproduce this bug since the latest webrender update. Can you confirm this?

Commits between the previous and latest webrender update:
https://github.com/servo/webrender/compare/4b8493d6bdc64d2d83202ac15b06b0d4b14c6e76...c0194de78ce26106a8497484dc8d159069e3a482

[2017-11-01 23:22] Darkspirit commented on #1943
This got better with the latest webrender update. (Thank you!) Those unwanted things on the right and bottom are gone and only a white flickering is left.

Commits between the previous and latest webrender update:
https://github.com/servo/webrender/compare/4b8493d6bdc64d2d83202ac15b06b0d4b14c6e76...c0194de78ce26106a8497484dc8d159069e3a482

[2017-11-02 02:00] mstange opened #1980 "Extend the wrench YAML format to allow listing FontInstances with their fields"
At the moment it's not possible to specify, for example, different font modes for different pieces of text inside a YAML file. It's also not possible to specify platform font options (like the "font_smoothing" option on Mac).

We should add a way to specifying these things. That will let me add tests for #1974, for example.

[2017-11-02 12:47] roblabla commented on #1394
Is this and https://github.com/servo/webrender/issues/1059 the same ?

[2017-11-02 14:43] staktrace commented on #411
The changes in #1744 seem to be sufficient for what I wanted here. My plan is to use the u8 field in the ItemTag as a bitmask to store the touch-action information. We might need to expand it to a u16 later but for now a u8 should be ok. Closing this issue; the rest of the work is all gecko-side as far as I can tell.

[2017-11-02 14:43] staktrace commented on #411
Oh, I can't actually close this issue. But somebody should.

[2017-11-02 19:09] #411 closed

[2017-11-02 19:10] #1394 closed

[2017-11-02 19:41] nc4rrillo commented on #1932
Seems related to having a radius < width for the border

[code]

renders as:

![](https://i.imgur.com/dylVAuL.png)

[2017-11-02 20:55] Betsy25 commented on #1976
Just chiming in to post my new findings.
Switching **only** _gfx.webrender.enabled_ to _true_ does **NOT** crash the browser, but there is a 5-6sec long blank browser window upon start.

It is the _gfx.webrender.blob-images_ that is insta-crashing the browser.

[2017-11-02 20:58] glennw commented on #1774
Note to self: We seem to be invoking split composites and plane splitting in a lot of places where it doesn't seem necessary. This could probably explain what looks like bad batching in the profiler on a lot of sites...

[2017-11-02 21:10] jrmuizel commented on #1976
@Darkspirit figured out that the crash was happening only in 32bit builds. I can reproduce it now so it should be easy to fix.

[2017-11-03 01:27] jrmuizel commented on #1976
A fix to this problem has landed. It should make it into tomorrow's Nightly build.

[2017-11-03 03:48] glennw commented on #1976
Closing this since it's fixed and tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1412848.

[2017-11-03 03:48] #1976 closed

[2017-11-03 03:56] staktrace commented on #1928
This was bugzilled: https://bugzilla.mozilla.org/show_bug.cgi?id=1414125

[2017-11-03 05:40] glennw opened #1984 "Very high draw call count on simple sites in Gecko."
For example, in HN the Gecko + WR is submitting around 275 draw calls per frame. In Servo, this is typically less than 10.

Investigating now since this is likely to be a simple bug and a significant performance win once fixed.

[2017-11-03 15:20] jrmuizel opened #1985 "Yes, but what does your startup *do*? is slow"
I see it being really slow in Servo and Gecko:

https://jrmuizel.github.io/webrender/slow/Yes%2C%20but%20what%20does%20your%20startup%20*do*%3F%20%E2%80%93%20Terence%20Eden's%20Blog.html

I suspect this is just the large shadow radius at the top

[2017-11-03 18:02] nc4rrillo opened #1986 "8-12ms GPU with large drop shadow blur radius"
On my integrated Intel GPU I'm seeing 8-10ms GPU time while drawing box shadows.
Here's a reduced YAML:

[code]
![](https://i.imgur.com/K2q1g2X.png)

if I drop the blur radius of the second box shadow to 4, the GPU time goes from 8ms to 3ms.

[2017-11-03 18:12] nc4rrillo opened #1987 "Crash when using BinaryRecorder with non-IPC"
Sending a hit_test API message triggers an unreachable code path in `channel_mpsc.rs`

[code]

[2017-11-03 18:16] jrmuizel opened #1988 "stripe.com has huge GPU times in Gecko"
I was seeing 222ms times, so there's probably something very wrong happening.

[2017-11-03 18:17] jrmuizel commented on #1988
Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1414357

[2017-11-03 20:01] jrmuizel commented on #1988
Here's a yaml file that reproduces the problem: http://jrmuizel.github.io/webrender/stripe.zip

[2017-11-03 20:08] glennw commented on #1988
Hopefully https://github.com/servo/webrender/pull/1961 and/or https://github.com/servo/webrender/issues/1984 will fix this, but I'll profile after they are sorted to confirm.

[2017-11-03 20:08] glennw commented on #1986
Hopefully https://github.com/servo/webrender/pull/1961 and/or https://github.com/servo/webrender/issues/1984 will fix this, but I'll profile after they are sorted to confirm.

[2017-11-03 20:08] glennw commented on #1985
Hopefully https://github.com/servo/webrender/pull/1961 and/or https://github.com/servo/webrender/issues/1984 will fix this, but I'll profile after they are sorted to confirm.

[2017-11-03 20:54] jrmuizel commented on #1987
We use the binary recorder with non-ipc in Firefox (though not hit_test). Do you have steps that would make it easy to reproduce this?

[2017-11-03 23:43] nc4rrillo commented on #1987
I created a sample which reproduces here: https://github.com/nc4rrillo/wr-crash-sample
It does the bare minimum, creates a simple display list, then sends a hit test to WR.

STR:
- Click anywhere ;)

[2017-11-04 14:40] Darkspirit commented on #1805
[Verified fixed](https://bugzilla.mozilla.org/show_bug.cgi?id=1404158#c16). Thank you! (Can we close this?)

[2017-11-05 17:21] mstange commented on #1922
I can no longer reproduce this either. It was most likely fixed by #1954.

However, I don't think the underlying bug has been debugged as part of that fix. So I'm worried that we might still hit similar glitches in other scenarios where we try to allocate extremely large alpha render target pieces. @glennw, should we leave this open so that the glitches can be debugged? Or should we resolve this s

[2017-11-05 20:15] #1805 closed

[2017-11-05 20:16] glennw commented on #1922
@mstange I agree that it's likely the underlying bug still exists. I think we can resolve this now though since it's not really actionable with this test case. We can open a new bug when a repro is found, or just re-open this one with further information. Thanks!

[2017-11-05 20:16] #1922 closed

[2017-11-05 23:04] jrmuizel opened #1990 "Too much time spent drawing the chrome"
I see 44 draw calls on this yaml file:
https://jrmuizel.github.io/webrender/chrome.zip

It would be good to get a diagnosis of what's going on.

https://bugzilla.mozilla.org/show_bug.cgi?id=1414679

[2017-11-05 23:11] glennw commented on #1990
I will look into this as part of the batching investigation I'm looking at this week.

[2017-11-05 23:27] glennw commented on #1990
One thing I've noticed that is causing a lot of batch breaks:

The favicon images are added with ```NEAREST``` texture filtering instead of ```LINEAR```.

The texture cache currently just allocates ```NEAREST``` images as standalone textures, on the assumption that these will be very rare.

We *can* make the texture cache a bit smarter about this. Is it intentional / required that the favicon imag

[2017-11-05 23:46] glennw commented on #1990
Forcing those images to be nearest drops the draw call count from 44 to 38 - still not great. I'll investigate the rest as part of https://github.com/servo/webrender/issues/1984.

[2017-11-05 23:48] mstange commented on #1990
Yes, favicons using `NEAREST` is intentional, see for example [bug 1041845](https://bugzilla.mozilla.org/show_bug.cgi?id=1041845) and [this testcase from it](https://bug1041845.bmoattachments.org/attachment.cgi?id=8466360).

[2017-11-05 23:52] glennw opened #1992 "Make nearest filtered images use the texture cache efficiently."

[2017-11-05 23:53] glennw commented on #1990
OK, I've opened https://github.com/servo/webrender/issues/1992 to make that case efficient. It's a small amount of work - I'll try to do it this week in between work on other tasks.

[2017-11-06 06:10] paulrouget commented on #1968
We updated the phone, but still.

Giving up. We used a different phone.

[2017-11-06 06:10] #1968 closed

[2017-11-06 07:40] NiLSPACE commented on #1984
For me the amount of draw calls is roughly the same, Gecko is just a little bit higher.

https://news.ycombinator.com has roughly 300 draw calls in Gecko while Servo has about 230. Perhaps it depends on the OS?

![image](https://user-images.githubusercontent.com/1160867/32430077-d8d3c32a-c2cd-11e7-8983-6bf563733b2d.png)

[2017-11-06 15:43] mrobinson commented on #1912
@staktrace I guess we can close this now?

[2017-11-06 15:44] staktrace commented on #1912
Yup!

[2017-11-06 15:44] #1912 closed

[2017-11-06 16:21] mstange commented on #1990
I should probably mention that the browser CSS only asks for `NEAREST` on favicons if the UI scale is exactly 2. So if you're testing optimizations for this case in Firefox on a machine that doesn't have a scale of exactly 2, you might want to set the `layout.css.devPixelsPerPx` pref to 2 in order to reproduce it.

[2017-11-06 16:44] kvark commented on #1990
Note that strictly speaking we don't have to separate `NEAREST` from `LINEAR` textures. We could snap the texture coordinate in the fragment shader to the nearest texel center instead. That, if batch breaks are really killing us :)

[2017-11-06 16:52] mstange opened #1993 "Long GPU times on https://getpocket.cdn.mozilla.net/explore/trending even after #1961"
[This page](https://getpocket.cdn.mozilla.net/explore/trending) scrolls very slowly even on a Firefox build that includes the patch for #1961. It has some large blur radius box-shadows.

[2017-11-06 18:00] mstange opened #1994 "Please make timer queries a runtime feature"
Having the GPU graphs in Firefox can be really useful. Right now we don't have them because Firefox doesn't turn on the required webrender feature. We also don't want the timer query code to be run by default in Firefox because it can have overhead.

So it would be nice if this feature could be enabled at runtime, for example only when the webrender profiler is shown.

[2017-11-06 18:29] jrmuizel opened #1995 "marmalead is slow"
I see ~9 ms of gpu time that looks unrelated to shadows: https://jrmuizel.github.io/webrender/marmalead.zip

[2017-11-06 18:30] Darkspirit commented on #1995
https://bugzilla.mozilla.org/show_bug.cgi?id=1414910

[2017-11-06 19:13] kvark commented on #1987
Happens on serializing an `MsgSender`:
[code]

[2017-11-06 19:50] glennw commented on #1987
I believe this will be resolved when https://github.com/servo/webrender/pull/1991 lands. If not, there may be another message that needs to be blacklisted.

[2017-11-06 20:00] glennw commented on #1984
Yes, it turns out this is a recent regression rather than a Servo / Gecko difference. I'm working on a couple of fixes this week.

[2017-11-06 20:15] glennw commented on #1946
@jrmuizel Are you able to test this again (if the #1920 change has made its way into Gecko), or provide STR and I'll check it?

[2017-11-06 20:23] jrmuizel commented on #1946
Yeah this looks good now.

[2017-11-06 20:23] #1946 closed

[2017-11-06 22:11] glennw commented on #1990
Around half of the GPU time is spent applying opacity filters which are not necessary. There's two cases that we need to handle here:

* The iframe has a large rect, with opacity(0). We're not detecting this correctly right now, due to some implementation details related to how property bindings are processed (even though they aren't actually used here).
* Most of the images are a stacking context

[2017-11-06 22:13] glennw commented on #1990
Oh, another issue we have is that all the image masks for the tab text get blitted from the texture cache into a clip mask before being applied. In the simple case (where the only clip *is* the image mask), we should just sample directly from the image mask in the texture cache. That will save quite a lot of GPU time in this test case.

[2017-11-06 22:35] nc4rrillo commented on #1987
Can confirm #1991 fixes this.

[2017-11-06 22:35] #1987 closed

[2017-11-06 22:41] glennw commented on #496
This can be considered complete with the removal of ClipScrollGroup and PackedLayer.

[2017-11-06 22:41] #496 closed

[2017-11-06 22:44] glennw commented on #1990
Note to self: there are also several very large standalone textures in the texture cache. They look mostly redundant - they are a single color. Perhaps redundant image masks? Any ideas @jrmuizel ? I'll look into them in detail anyway.

[2017-11-06 22:50] glennw commented on #1297
@Gankro It'd be worth checking if this still occurs once https://github.com/servo/webrender/pull/1975 makes its way into a Gecko build.

[2017-11-06 22:59] glennw commented on #1574
This seems OK to me now - I see ~4ms GPU time when scrolling on CNN in Gecko now. Feel free to re-open if there are still issues.

[2017-11-06 22:59] #1574 closed

[2017-11-06 23:16] jrmuizel commented on #1990
@glennw how did you identify those textures?

[2017-11-06 23:30] glennw commented on #1990
@jrmuizel If you run wrench with the texture cache debugger (and my pending patch to support favicons in the texture cache), you'll see several images shown that don't go in the texture cache. The only reason they shouldn't go in the cache is if they are > 512 pixels. I haven't looked any further than that yet.

This is a picture of the texture cache debugger when viewing this scene. Generally, yo

[2017-11-06 23:36] jrmuizel commented on #1990
Ok, three of those are likely:
1509921165-img-1.png:  PNG image data, 2494 x 66, 8-bit/color RGBA, non-interlaced
1509921165-img-3.png:  PNG image data, 2494 x 148, 8-bit/color RGBA, non-interlaced
1509921165-img-4.png:  PNG image data, 2494 x 66, 8-bit/color RGBA, non-interlaced

Which are solid color blob images coming from the Chrome. I can investigate why.

[2017-11-06 23:44] glennw commented on #1990
Yep, that seems like them. I think they are being rendered as normal ```Image``` primitives too. I thought they would be image masks, but I don't think they are.

[2017-11-06 23:45] glennw commented on #1990
Yep, they are attached to Image primitives in the yaml file - would be interesting to see where they come from.

[2017-11-06 23:53] glennw commented on #1990
Most border primitives are falling off the fast path, but they shouldn't be. The code doesn't correctly handle the case where some edges are solid, and other edges are none/hidden as a fast path border.

[2017-11-06 23:56] glennw commented on #1990
There's also a significant amount of time drawing clip mask(s) and solid rects. The clip mask(s) should be resolved by drawing them in segments and/or a fast path for uniform radii. Need to investigate the solid rectangle time - it might just be that there is a full screen rect being drawn (in which case, the z-buffer will reject that on a normal page where there is content).

[2017-11-07 00:08] glennw commented on #1995
This looks to be mostly similar to the issues drawing the chrome UI - that is, lots of blend composites being applied where they don't need to. I'll re-profile this one once that is sorted.

[2017-11-07 00:13] glennw opened #2000 "Fast border paths are often not hit when they could be."
WR doesn't detect fast border cases very well (such as a solid style on one edge, with none on the other edges). This has a small effect on draw call count and GPU times when drawing the Gecko chrome.

Instead of fixing this now, it probably makes sense to wait until borders are switched over to brush shaders and handle it at the same time.

[2017-11-07 00:58] glennw opened #2001 "Share box shadow intermediate tasks where possible."
We should add a cache key for box shadow render tasks, and the associated blurs / downsample tasks. This would save GPU time on pages that use a large number of box shadows with the same parameters.

The cache key for the box shadow task should include the parameters that define the shadow task (e.g. blur radius, border radii, box shadow clip mode).

The cache key for the blur and down-sample task

[2017-11-07 02:11] jrmuizel commented on #1990
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1415001 about the large images. It shouldn't be too hard to do better.

[2017-11-07 02:18] mephisto41 opened #2002 "box-shadow inset is broken after #1961"
Quote from #1961

data:text/html,\<div style="margin:100px;height:200px;box-shadow:inset 0 0 30px black;border-radius:50px">
before this patch:
![image](https://user-images.githubusercontent.com/1924982/32473909-d0094db4-c3a4-11e7-8b6e-176e29b21a20.png)
after this patch:
![image](https://user-images.githubusercontent.com/1924982/32473915-d6df4986-c3a4-11e7-810b-97a74a2ecc40.png)

[2017-11-07 02:52] ssylvan commented on #1894
Might want to consider a kawase filter for large blur kernels see e.g. https://software.intel.com/en-us/blogs/2014/07/15/an-investigation-of-fast-real-time-gpu-based-image-blur-algorithms

It's not a true gaussian, but a pretty close approximation and much faster.

The "moving average" box filter mentioned is also pretty attractive in some ways (predictable cost so quite nice for large kernels.. b

[2017-11-07 03:15] jrmuizel commented on #1894
There's also "Dual filtering" which claims even better performance than Kawase: https://community.arm.com/cfs-file/__key/communityserver-blogs-components-weblogfiles/00-00-00-26-50/siggraph2015_2D00_mmg_2D00_marius_2D00_notes.pdf

[2017-11-07 03:20] ssylvan commented on #1894
At the risk of going on a bit of a tangent, couldn't most simple cases be covered by a small number of precomputed blurred box corners (like, at build time)? So store alpha textures from 1x1 to 63x63 or something (probably don't need to go too big, at some point it's smooth enough for bilinear sampling). Maybe you're already doing that.

[2017-11-07 03:20] nc4rrillo opened #2003 "thread 'RenderBackend' has overflowed its stack after WR update"
While upgrading to the latest WR:
[code]
YAML:

[code]
If it helps any, it only happens if I scroll a few times.

STR:
1. `git checkout https://github.com/nc4rrillo/indigo`
2. `cd indigo/indigo`
3. `cargo update -p webrender`
4. `cargo run --example borders`
5. Scroll up and down a few times.

[2017-11-07 03:29] #1984 closed

[2017-11-07 03:31] nc4rrillo commented on #2003
Related to the following code where I build a complex clip:

[code]

if I remove the rounded corners on the rect, the overflow isn't triggered.

[2017-11-07 03:36] nc4rrillo commented on #1986
Still seeing more or less the same GPU time after #1961

[2017-11-07 03:57] mstange commented on #1894
The Kawase and dual filtering methods are impressive but I wonder how well they do with respect to continuity as the blur radius changes. People sometimes animate the blur radius, and it would be good not to have "pops" between different discrete blur renderings during such animations.

For box shadows, the plan is to only compute only the corners we need, as we need them, and to cache them betwee

[2017-11-07 04:06] ssylvan commented on #1894
Yeah I was suggesting looking at actual usage patterns to see if there's some subset of box filters that covers 99% of cases that can be precomputed (and then interpolated to cover minor variations).

[2017-11-07 06:09] #1992 closed

[2017-11-07 10:40] mrobinson commented on #1828
Here's my summary of the issue:
1. The primitive boundaries passed to ClipChain processing code are already clipped by the screen boundaries of the clipping ClipScrollNode.
2. If we rejected clips based on these bounds, we might reject the clip which was itself responsible for created these ClipScrollNode screen boundaries. This happens especially when the content is clipped by a ClipScrollNode wi

[2017-11-07 10:42] mrobinson commented on #1828
The mask is already limited by the primitive boundaries, so maybe the right thing to do here is to simply not render any pixels outside of the mask bounds?

[2017-11-07 12:16] sotaroikeda opened #2005 "Add capability to use glProgramBinary()"
To speed up shader initialization, it seems good to use glProgramBinary() if it is requested.

This issue is related to [Bug 1391159](https://bugzilla.mozilla.org/show_bug.cgi?id=1391159)

Also related to servo/gleam#132

[2017-11-07 16:02] nical commented on #1932
I traced it down to the creation of `BorderCornerClipSource` in border.rs where we compute the ellipse of a dotted corner with negative radii due to subtracting the width to the corner radius (good catch @nc4rrillo!). The code that positions the dots for the corner expects positive ellipse raddii, and using the abs fixes the missing pieces.
However, because of the way this code places the dots on

[2017-11-07 16:38] nical opened #2006 "Support running wrench with ANGLE on Windows."
It should prove handy whenever we'll get to debugging ANGLE/D3D specific bugs, and D3D11 tends to have much better tooling available than GL, for example pixel history and debugging in renderdoc.

[2017-11-07 18:01] pcwalton commented on #1932
@nical Based on experience with CSS 2.1, I highly doubt there's a detailed spec for dotted borders.

[2017-11-07 18:20] nical commented on #1932
bugzilla entry: https://bugzilla.mozilla.org/show_bug.cgi?id=1415246

[2017-11-07 18:32] kvark commented on #2003
Can confirm 5bdcb9546fa2efd65190334c793876c3cc12939d is causing this, still producing a fix

[2017-11-07 21:09] kvark commented on #2006
Pretty sure this is already done. Wrench uses `glutin` for initialization, and that one checks for libEGL as of https://github.com/servo/glutin/pull/112 . All you need is to drop Angle's `libEGL.dll` in the folder with wrench executable.

[2017-11-07 23:24] #2003 closed

[2017-11-08 03:37] kvark commented on #1955
Closing according to discussion in #1956

[2017-11-08 03:37] #1955 closed

[2017-11-08 03:38] kvark commented on #1950
Is there an indication that the validation is supposed to handle this sort of issues?

[2017-11-08 04:26] glennw commented on #1361
@jrmuizel @nical Is this still an issue?

[2017-11-08 04:29] glennw commented on #1950
I haven't looked into at all, as to whether it should handle this issue. This bug is basically a placeholder to do some investigation and see if there is a way to detect some issues that we are currently missing.

[2017-11-08 05:54] glennw commented on #233
Render context creation errors should be handled by the windowing library. We do now have support for WR to return RendererError types - for example, when shader compilation fails.

[2017-11-08 05:54] #233 closed

[2017-11-08 05:55] glennw commented on #469
I don't think this is really necessary or useful now. The vast majority of images end up in a shared texture cache, negating the usefulness of this. We insert comments in the shader source code specifying which shader this is.

[2017-11-08 05:55] #469 closed

[2017-11-08 05:57] glennw commented on #668
@MSleepyPanda Are you still planning to work on this?

[2017-11-08 05:58] glennw commented on #744
I think we can close this since it's not really actionable by itself - we can open issues for documenting specific parts or decisions.

[2017-11-08 05:58] #744 closed

[2017-11-08 05:58] glennw commented on #1017
@nical Is this still relevant?

[2017-11-08 06:00] glennw commented on #1427
@jrmuizel Are you able to check if this is still an issue?

[2017-11-08 06:02] glennw commented on #1646
I believe this is resolved now. Please re-open if more work is required.

[2017-11-08 06:02] #1646 closed

[2017-11-08 06:03] glennw commented on #1544
@jrmuizel @mstange I think this can be closed now?

[2017-11-08 06:05] glennw commented on #1440
We do now have a field on each render task specifying what kind of clear it requires. But we don't take full advantage of this in the renderer yet as an optimization.

[2017-11-08 06:07] glennw commented on #1755
We now use the ```query``` feature to disable this in builds that don't want the profiler.

[2017-11-08 06:07] #1755 closed

[2017-11-08 06:10] glennw commented on #1827
I believe this is fixed by #1920.

[2017-11-08 06:10] #1827 closed

[2017-11-08 06:13] glennw commented on #2006
This is a duplicate of #1432.

[2017-11-08 06:13] #2006 closed

[2017-11-08 06:38] glennw commented on #1988
I'm seeing ~40ms on my HD4600. There doesn't seem to be too much time spent in shadows / blurs, but there is a huge amount of time spent generating clips (and clearing clip targets). Most of these appear redundant. There's also a lot of time spent in the slow transform shaders, which will be resolved once we land the brush changes to draw inner segments as opaque.

[2017-11-08 06:44] glennw commented on #1986
With current master, I see a GPU time of ~1.25ms on my HD4600 + Linux, which seems OK.

Are you still able to reproduce this issue? What platform / GPU are you running on?

[2017-11-08 06:56] #2002 closed

[2017-11-08 07:06] nc4rrillo commented on #1986
Just tried again with current master and I do see some improvement, now uses around 4-5ms.
Using Intel HD Graphics 520 on Linux

[2017-11-08 07:38] glennw commented on #1986
Are you running with ```vblank_mode=0``` to disable vsync for profiling? I think the timer queries are only accurate when running with vsync disabled. I have a Linux laptop here with an HD530 - I'll test on that. I would expect the HD520 to be significantly faster than a HD4600.

[2017-11-08 07:41] nc4rrillo commented on #1986
That was it. down to 1.5ms :)

[2017-11-08 07:46] glennw commented on #1986
Cool! On my HD530, I see a GPU time reported of ~1.5ms. The FPS is ~345, which is a total frame time of ~2.9ms. It's possible that discrepancy is the time used by the OS compositor to present the framebuffer, I would guess.

But the GPU time in WR seems OK-ish. Most of the time is spent clearing framebuffer targets (which is a fixed cost that won't go up as the scene complexity increases), and als

[2017-11-08 07:47] nc4rrillo commented on #1986
Yup, I agree this can be closed

[2017-11-08 07:47] #1986 closed

[2017-11-08 08:15] nical commented on #1017
It'd still be nice to have path objects in the resource cache but I don't think it's critical. We can revisit whenever the time's right.

[2017-11-08 08:15] #1017 closed

[2017-11-08 08:49] paulrouget opened #2012 "scrollbars need radius"
The scrollbar would look better with rounded ends.

Is it hard to do?

[2017-11-08 09:02] nical opened #2013 "Dots can overlap in border corners."
This happens if the border radius is inferior to the border width, see the reftest image added in #2007.

[2017-11-08 14:19] jrmuizel commented on #1361
Not sure. Things seem to work in Gecko

[2017-11-08 14:56] kvark commented on #469
In other words, we have hacked the GL object model so much that labeling those objects doesn't make sense any more :)
Seriously though, I'd keep it open with a low-priority tag or something. Labeling graphics resources is just a good hygiene, similar to how you expect the code to be commented.

[2017-11-08 14:57] kvark commented on #1432
Pretty sure this is done, just need to be confirmed before closing.

[2017-11-09 03:38] demo99 commented on #2001
I'll work on this.

[2017-11-09 04:12] glennw commented on #2001
@demo99 Great, thanks! If you set up a benchmark with several identical box shadows as a wrench yaml file, and then hit ```O``` that will show the render target debugger. It should be fairly clear to see from that if the intermediate surfaces are being shared.

[2017-11-09 08:36] nical commented on #2013
![dotted-corner-small-radius](https://user-images.githubusercontent.com/264854/32595783-7eea1bc8-c531-11e7-8581-ccdaf6ab54b7.png)

[2017-11-09 09:00] nical commented on #1932
The clipped corners are fixed in #2007, the remaining work (ugly overlap) is tracked in #2013.

[2017-11-09 09:00] #1932 closed

[2017-11-09 09:26] nical commented on #1361
It works in gecko because we deal with blob images in device pixels. My understanding is that @stshine wanted to do something in servo with blob images in CSS pixels (which makes sense), and that isn't supported at the moment although it should not be too hard to add support for it.

[2017-11-09 16:16] jrmuizel commented on #1921
It would be good to get this done for Austin. Do we have a good idea how to do so?

[2017-11-09 16:27] nical commented on #1921
Currently the animated property bindings are read while flattening the items during the scene building process. Glenn mentioned something in #1774 about reorganizing things to make it so we sample the animated properties while building the frame instead:

[2017-11-09 19:01] glennw commented on #1921
Yup, I'm working on the patch @nical mentioned above - I have all the (wrench) reftests passing except the plane splitting tests. I'm hoping to finish that up today - this task will be very easy to do once that patch lands.

[2017-11-09 20:04] jrmuizel commented on #1542
@kvark, @mstange and I just had a discussion about this and also came to the conclusion that an explicit API is the way to go.

Our proposal is as that we add the following to StackingContexts:
enum Rasterization {
    Untransformed
    Transformed(xscale: f32, yscale: f32)
}

This API should be relatively easy for Gecko to use and should give us everything we need in the short term.

[2017-11-09 20:07] glennw commented on #1542
Sounds good. This should also become relative simple to implement once the picture tree work I'm doing is complete.

[2017-11-09 20:39] jrmuizel commented on #1542
The enum would probably better be named:
[code]
or

[code]

[2017-11-10 06:20] glennw commented on #1921
Didn't quite get the picture tree patch finished today, but it's coming together very well. All the Servo/Gecko tests apart from plane splitting are working now. With a bit of luck, that patch should be ready early next week.

[2017-11-10 17:53] mstange opened #2023 "Heavily-downscaled images look bad"
https://bugzilla.mozilla.org/show_bug.cgi?id=1405469

This can be seen with the header image at [https://www.reddit.com/r/firefox/](https://www.reddit.com/r/firefox/): The header [image file](https://b.thumbs.redditmedia.com/yRlXvjV2ZFDLGkklcn78T8KgfHS65c4X0bNID4p68UU.png) is 3,242px × 833px big and gets displayed at 175px x 45px, which is a downscale factor of 18.5 (or 9.25 on a HiDPI@2x display)

[2017-11-10 18:17] jrmuizel commented on #2023
Shouldn't Gecko's high quality downscaling be taking care of this?

[2017-11-10 18:47] kvark commented on #2023
@jrmuizel
Shouldn't Gecko's high quality downscaling be taking care of this?

Down-scaling can be expensive and maps to GPU somewhat nicely. Woudln't we want to do this in WR at the end of the day then anyway for performance reasons?

[2017-11-11 00:00] jrmuizel opened #2027 "Deserializer masks out signaling nans"
When @Gankro and I were looking at the deserialization code we noticed that it's masking out signaling NaNs. We don't need this protection. We don't know how to convince the byteorder crate of this.

[2017-11-11 04:03] jrmuizel commented on #2027
Here are the issues that caused this behaviour: https://github.com/BurntSushi/byteorder/issues/71 and https://github.com/rust-lang/rust/pull/39271

[2017-11-11 04:51] Gankro commented on #2027
I am working on submitting a patch to fix the *very* incorrect piece of llvm documentation that originally motivated this.

[2017-11-11 05:29] jrmuizel commented on #2027
Great. It might also be valuable for us to make sure there are tests in llvm that ensure that behaviour around signalling NaNs is sane.

[2017-11-11 06:31] atouchet commented on #2023
Possibly related Servo bugs:

https://github.com/servo/servo/issues/11960
https://github.com/servo/servo/issues/17465

[2017-11-11 11:48] kasper93 commented on #2023
Well, of course scaling is perfect task for WR. It just need to use proper interpolation, because like I stated in Bugzilla bug it currently is using Nearest Neighbour by the looks of that.

[2017-11-12 05:17] jrmuizel commented on #2027
Here's the beginnings of some tests that show that signaling NaNs don't turn immediately into undef
[code]

[2017-11-12 21:57] qwertychouskie opened #2029 "Weird text bug"
https://jacobspctuneup.tk/STK/newgui/mainmenu.html

How it looks
![](http://i.imgur.com/OLCcTPj.png)

How it should look
![](http://i.imgur.com/Qab3mRL.png)

FF Nightly 2107/11/11

[code]

[2017-11-14 07:14] sotaroikeda opened #2034 "gl.renderbuffer_storage() is very slow on P50 Windows"
During running http://learningwebgl.com/lessons/lesson03/index.html, gl.renderbuffer_storage() spent a lot of time on P50 Windows. It was checked with Gecko Profiler. Such symptom was not seen with another PCs with discrete GPU.

profiled data is https://perfht.ml/2ierBxp

It might be a characteristic of integrated GPU. Similar thing is written at AdvancedLayers.md.
  https://dxr.mozilla.org/mozil

[2017-11-14 08:41] nical opened #2035 "The emoji panel in mastodon allocates a gazillion images in the texture cache."
Log into mastodon and click on the thing to add emojis.

This will allocate a *lot* of items (the emojis themselves) in the texture cache and a lot of textures to hold them. On my fedora+intel laptop this freezes the entire desktop for dozens of seconds.

[2017-11-14 08:51] subsevenx2001 commented on #2013
![screen shot 2017-11-14 at 4 47 13 pm](https://user-images.githubusercontent.com/1597202/32770727-93690216-c95b-11e7-85a3-abc168896252.png)

I tried the yaml file, changing radius into 10 and got a weird corner rendering.
It seems that the corner calculation is still incorrect.

Tried similar thing in gecko as well, it seems that border-radius will be ignored under dotted style if border-radius i

[2017-11-14 09:07] mrobinson commented on #1964
@mstange Just to clarify, stacking contexts don't have clips. For filters, the boundaries of the filtered area are determined by the display items inside (and their respective positions).

[2017-11-14 09:08] mrobinson commented on #1964
I can understand now why we'd want to add the option to add a special clip to a stacking context.

[2017-11-14 10:03] nical commented on #2035
To give a rough idea of how epic this is, here is a screenshot of the texture cache debugging view enabled (the tiny row at the bottom):

![mastodon-tex-cache](https://user-images.githubusercontent.com/264854/32773932-0c4db996-c92b-11e7-8a73-ffa3d1d7ba10.png)

[2017-11-14 12:54] jrmuizel commented on #2035
https://bugzilla.mozilla.org/show_bug.cgi?id=1401672 should fix that

[2017-11-14 13:17] nical opened #2036 "Shader compilation failure in ps_hardware_composite on linux+nvidia"
[code]

I think that I had the issue when trying to load the ars technica front page.

[2017-11-14 16:51] staktrace opened #2037 "WR hit-testing produces incorrect results sometimes"
I have a local patchset that stands up gecko to use the WR hit-testing API. While getting it stood up I was running into an issue where the hit-test result was sometimes incorrect. I don't fully understand the coordinate spaces involved here, but I traced down the problem to the line at https://github.com/servo/webrender/blob/b8bda858646e30f9c4ed12c6a6b4233c9ff75ce8/webrender/src/clip_scroll_tree.

[2017-11-14 19:19] kvark commented on #2029
cc @lsalzman

[2017-11-14 19:23] mstange commented on #2029
This looks like a more extreme version of #1808.

[2017-11-14 20:10] kvark commented on #2036
Not seeing anything wrong with this shader. Perhaps you can play with it in order to reduce the case.

[2017-11-14 20:26] kvark commented on #2037
Your proposal fix sounds good to me. The code using it is `if !clip.contains(&point_in_clips)`, and `clip` is given in the local coordinates of the current clip node, if I'm not mistaken, so we shouldn't be subtracting `local_clip_rect`.

[2017-11-14 20:54] glennw commented on #2037
I suspect this *was* correct and that I probably accidentally broke it in https://github.com/servo/webrender/pull/1981/files - I changed the coordinate spaces of some of those rects when I removed the PackedLayer and ClipScrollGroup code. Does that sound right @mrobinson ?

[2017-11-15 00:30] #2034 closed

[2017-11-15 01:16] glennw commented on #1384
https://github.com/servo/webrender/pull/2016 claims this is fixed.

[2017-11-15 01:16] #1384 closed

[2017-11-15 01:18] glennw commented on #452
@jrmuizel Is it worth keeping this open now that we are syncing up with bugzilla bugs?

[2017-11-15 01:20] glennw commented on #452
I ticked off Blur, Shadows with different radii, hit testing and source blending.

[2017-11-15 05:18] asppsa commented on #1601
FWIW I am seeing more or less the same thing with a Radeon HD 5750 (Juniper PRO) and slightly more recent Mesa:

[code]

I see the exact same errors if I try run Firefox Nightly [with WebRender enabled][1].  In the `cargo run` case, any interaction, - such as clicking or moving the mouse in the window - is enough to generate more repetitions of the errors.  In Firefox, there is just a constant str

[2017-11-15 07:57] mrobinson commented on #2037
@glennw That sounds right to me. Thanks for looking into this!

[2017-11-15 08:56] #2037 closed

[2017-11-15 09:49] eyelash commented on #1601
Might be [this bug](https://bugs.freedesktop.org/show_bug.cgi?id=99349) which was recently fixed (the fix will be in Mesa 17.3).

[2017-11-15 18:16] kvark commented on #1384
Notice how I changed "fixed XXX" to "related to XXX" in the description. This issue definitely needs to be retested though.

[2017-11-15 19:02] glennw commented on #1496
Fixed by #2031. We can open new bugs for any isolation specific issues.

[2017-11-15 19:02] #1496 closed

[2017-11-15 19:02] glennw commented on #1718
Fixed by #2031. We can open new bugs for any isolation specific issues.

[2017-11-15 19:02] #1718 closed

[2017-11-15 20:48] jrmuizel opened #2044 "Implement drop-shadow filter"
This is needed for Facebook and MotionMark

[2017-11-15 20:48] jrmuizel commented on #2044
https://bugzilla.mozilla.org/show_bug.cgi?id=1415034

[2017-11-15 21:16] jrmuizel opened #2045 "MotionMark CSS bouncing circles doesn't run fast enough"
http://browserbench.org/MotionMark/developer.html?test-interval=30&display=minimal&tiles=big&controller=ramp&frame-rate=50&kalman-process-error=1&kalman-measurement-error=4&time-measurement=performance&suite-name=HTMLsuite&test-name=CSSbouncingcircles&complexity=143

I'm not exactly sure where the problem is but I it looks like webrender might be spending a lot of CPU time.

[2017-11-15 21:26] glennw commented on #2045
Note to self: @jrmuizel thinks this might be Gecko-related, so don't need to look into this just yet.

[2017-11-15 21:27] jrmuizel commented on #2045
Turns out I'm wrong. This is still Gecko bound. Style (something weird is happening according to @emilio) and DisplayList building (we have a bunch of debug code on nightly that's trying to catch a crash)

[2017-11-15 21:42] glennw commented on #2045
FWIW many of the MM tests are also style-bound in Servo too.

[2017-11-16 00:09] glennw commented on #2035
@nical The gecko change has landed now - could you check if this is still an issue?

[2017-11-16 03:20] #1994 closed

[2017-11-16 03:37] asppsa commented on #1601
@eyelash, compiling & running mesa from git seems to have gotten rid of the messages for me!  Will try again when there's a 17.3 release

[2017-11-16 04:08] glennw commented on #1601
Thanks for testing that!

[2017-11-16 04:26] jrmuizel commented on #2035
Make sure you turn on the image.mem.shared pref

[2017-11-16 04:29] emilio commented on #2045
My profile looks wildly different from what @mstange showed to me:

  https://perf-html.io/public/d8b8f4bfd0cf029444a0a43e44d68d89e1f9065f/calltree/?hiddenThreads=&thread=4&threadOrder=0-2-3-4-1&v=2

Unless there's something osx-specific (maybe in the UA sheets in Gecko) that would cause that (there was a bunch of time on style invalidation code), I don't know what to make of that profile, style l

[2017-11-16 04:30] emilio commented on #2045
Yeah, but this is because of a largely different reason IIUC, which is the style serialization code running for every style attribute setter, something we cannot really fix easily until we get rid of the old style system in Gecko unfortunately :(

[2017-11-16 04:32] emilio commented on #2045
(For reference, the URL I was using to get more circles and such is http://browserbench.org/MotionMark/developer.html?test-interval=30&display=minimal&tiles=big&controller=fixed&frame-rate=50&kalman-process-error=1&kalman-measurement-error=4&time-measurement=performance&suite-name=HTMLsuite&test-name=CSSbouncingcircles&complexity=500)

[2017-11-16 05:02] emilio commented on #2045
(That being said, it seems I'm painting in software, so maybe it's just an effect of the painting getting much slower. I'll try to take more numbers tomorrow profiling the style threads)

[2017-11-16 09:10] nical commented on #2035
Unfortunately this issue remains pretty much the same (on the latest nightly with the shared images pref).

Another fun thing to try (that doesn't require any account) is to type things in the awesome bar and watch the little search icon fill up the drop-down menu's texture cache as you type.

[2017-11-16 09:50] glennw commented on #2035
OK, I can see if I can repro tomorrow. It'd be interesting to log out the image keys that are being referenced in the display and see if indeed they are being shared correctly.

[2017-11-16 16:23] nical commented on #2035
The problem seems to be mostly on the gecko side, and Andrew is working on it.

[2017-11-16 16:24] jrmuizel commented on #2035
mastadon is using svg images and we don't handle them properly yet.

[2017-11-16 19:04] jrmuizel commented on #1993
This seems fixed.

[2017-11-16 19:25] mstange commented on #1993
It's a lot better than before, but with my integrated GPU it's still only scrolling at 38 FPS, and it's all bound on the GPU.

[2017-11-16 19:26] glennw commented on #2035
Is there anything WR-side to do here or should we close this?

[2017-11-16 19:29] glennw commented on #1993
I'll keep it open then - sounds like it still has issues on some hardware at least.

[2017-11-16 21:30] #1921 closed

[2017-11-16 22:29] jrmuizel commented on #2035
We can close it.

[2017-11-16 22:29] #2035 closed

[2017-11-17 00:23] jrmuizel opened #2051 "Implement NativeFontHandle writing on Mac"
We can implement this using the technique here: https://searchfox.org/mozilla-central/source/gfx/2d/ScaledFontMac.cpp#255

I have patches in progress.

[2017-11-17 03:08] jrmuizel commented on #2051
https://github.com/servo/core-foundation-rs/pull/127 and https://github.com/servo/core-graphics-rs/pull/104 add the platform support that we'll need for this.

[2017-11-17 14:56] Gankro commented on #2027
https://github.com/rust-lang/rust/pull/46012

[2017-11-17 16:38] bogas04 opened #2055 "Missing sides on boxes on codesandbox.io"
I'm using WebRender on Nightly (OSX) and found a rendering issue while browsing on https://codesandbox.io. The sides of the boxes aren't getting filled with the background-color.

Refer to this tweet: https://twitter.com/bogas04/status/931450562410770432?s=17

[2017-11-17 16:43] #2005 closed

[2017-11-17 17:33] kvark commented on #2055
Thanks for filing the issue! We seem to be improperly transforming 3d contexts here.

[2017-11-17 22:46] hgallagher1993 opened #2057 "assertion failed: descriptor.width > 0 && descriptor.height"
I got this after trying to run the benchmark on http://browserbench.org/MotionMark/

<details>
 <summary>Summary</summary>

[code]
</details>

[2017-11-18 22:06] moinakb001 opened #2059 "gleam::gl in query.rs"
Seeing as how device aims to abstract away all gl-related things, shouldn't the glint(and other gl-specific types) be abstracted too in the device.rs file?

[2017-11-18 23:33] Darkspirit commented on #1854
This got fixed with the latest webrender update. (https://github.com/servo/webrender/compare/8a39cf24f493e894a66c2465dd310a2b2923e558...d490a74c438d987122c600afca6bb2247ab38637)
https://bugzilla.mozilla.org/show_bug.cgi?id=1408116#c2

[2017-11-19 02:45] kvark commented on #2059
Ideally, yes.

[2017-11-19 04:03] moinakb001 commented on #2059
I'll look into it.

[2017-11-19 20:07] glennw commented on #1854
Thanks!

[2017-11-19 20:07] #1854 closed

[2017-11-19 23:52] mstange opened #2061 "Very large box shadows cause rendering bugs"
Testcase: `data:text/html,<div style="height:20px;box-shadow:0 0 2000px 2000px rgba(0,0,0,0.4)">`

Loading this page in a WebRender Firefox renders a blank tab and makes text in the tab bar disappear. I think unreasonably large box-shadow blurs should be clamped, or the shadow should be rendered without a blur. In this case, the blur achieves nothing, but I ran into a website that did this anyway.

[2017-11-20 00:01] glennw commented on #2061
Wow! Yes, clamping or ignoring the blur sounds reasonable. Do you have a suggested threshold value for blur radius we could use?

[2017-11-20 00:08] mstange commented on #2061
Gecko seems to allow a maximum stddev of 300: https://searchfox.org/mozilla-central/rev/c633ffa4c4611f202ca11270dcddb7b29edddff8/layout/painting/nsCSSRendering.cpp#4412-4428

[2017-11-20 00:09] mstange commented on #2061
Oh, I think that's the maximum radius (not stddev), and the variable `blurStdDev` is misnamed.

[2017-11-20 00:29] glennw commented on #2061
Added help wanted and easy tags - this is an easy task for a new contributor. We would need to clamp the blur radius, and add some wrench reftests for this case.

[2017-11-20 00:29] glennw commented on #2061
We might as well also apply the max spread radius that Gecko uses in the above code.

[2017-11-20 00:36] mstange commented on #2061
I think the max spread radius is only used when spreading has to be applied per-pixel. For most box-shadows, where the spread radius only affects the dimensions of the shape that's used for the shadow, the spread radius is not clamped.

Gecko uses per-pixel spreading only if a box-shadow is applied on an elements with -moz-appearance (where the shape is unknown and up to the platform). With WebRen

[2017-11-20 00:44] glennw commented on #2061
OK, that makes sense. Thanks!

[2017-11-20 03:09] mephisto41 commented on #2044
I'll work on this.

[2017-11-20 15:32] mstange commented on #1854
This was fixed by #2048.

[2017-11-20 16:28] staktrace opened #2065 "Implement ClipSource::contains for missing ClipSource types"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1418830

It looks like some cases (perhaps only with gfx.webrender.hit-test set to true) we are entering ClipSource::contains with a ClipSource type that is not handled, so that function is panicking. We should handle whatever the missing case is.

[2017-11-20 17:22] mrobinson commented on #2065
I have a feeling this might be happening for image masks. I'll try to get a fix out for this.

[2017-11-21 01:56] nc4rrillo opened #2068 "Inset box shadow rendering bug"
While browsing [this docs.microsoft.com page](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/) I noticed strange lines in the tree view on the left.

If you look at [this page](https://jsfiddle.net/3xjgekou/) you'll notice extra lines being drawn for inset box shadows compared to FF Nightly with WR off.

Setting any of the values to non-zero causes the issue to go away.

[2017-11-21 02:01] nc4rrillo commented on #2068
Tested this on Linux with an Intel GPU and on Windows 10 with an nVidia GPU. Seems to be affected by the page zoom in FF.

[2017-11-21 09:58] nc4rrillo commented on #2068
I've tried to recreate this in a sample app but I can't trigger the weird behavior, wondering if its Gecko specific or if I have the conditions that trigger it wrong.

[2017-11-21 10:16] nc4rrillo commented on #2061
Would this be more involved than `blur_radius = f32::min(blur_radius, MAX_BLUR_RADIUS)` inside of `add_box_shadow`?

[2017-11-21 11:03] nical opened #2071 "Poor performance on low end surface tablet"
Bugzilla entry: https://bugzilla.mozilla.org/show_bug.cgi?id=1419353

I tried WebRender on a windows 10 surface tablet equipped with an intel atom x7-z8700 CPU @ 1.6Ghz 2Go RAM GPU id 0x22b0 version 20.19.15.4424.

At best we get 30 fps on all of the pages that I tried including simple ones, with a lot of time (30ms+) attributed to the compositor according to webrender's built-in profiling ui (ren

[2017-11-21 11:39] nical commented on #2071
Also, compiling shaders on this device seems to take forever.

[2017-11-21 13:26] jrmuizel commented on #2071
For the record that has a gen8 cherryview GPU which is relatively modern.
You should be able to get a useable profile with the gecko profiler on
Windows which I assume is what the machine is running?

On Nov 21, 2017 7:39 AM, "Nicolas Silva" <notifications@github.com> wrote:

[2017-11-21 13:41] nical commented on #2071
I am unfortunately unable to use the profiler when webrender is enabled on windows (on this computer and another one as well).

[2017-11-21 19:47] nc4rrillo commented on #2068
bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1419528

[2017-11-21 20:13] Darkspirit commented on #2068
This is a regression from Nightly's perspective: https://bugzilla.mozilla.org/show_bug.cgi?id=1419528#c2
(https://github.com/servo/webrender/compare/a624aa6d3b6006c510c8b14026567af4ac545d2f...7892f5364bc4d35c7a9b42949f0ace4cc54f8b3c)

[2017-11-21 20:14] glennw commented on #2061
I *think* that's probably all that's needed, yep!

[2017-11-21 20:17] glennw commented on #2071
If we're seeing a lot of time in the compositor, and it's a reasonably modern GPU, my guess would be that we're either hitting a driver slow path, or perhaps one of the shaders is being horribly compiled (e.g. unrolling a loop badly). Could you try running with vsync disabled, and report the profiler numbers in that case?

[2017-11-21 20:18] glennw commented on #2071
Also, what resolution does that tablet run on, and do you have the GPU (or I guess that's implied by the CPU above, and I can just look it up).

Finally, are we definitely running WR under ANGLE in these builds, or could it be running native GL? (Gecko should output the GL renderer string on startup to the console, if you can access that on Windows).

[2017-11-21 20:21] glennw commented on #2068
These glitches often depend on the contents of the surface cache and the allocation patterns, so it might be quite difficult to hand-craft a test case. What I normally do in these cases is do a binary wrench recording (```export ENABLE_WR_RECORDING=1```) from Gecko - and then replay this file in wrench. If we can reproduce it that way, it's normally quite easy to reduce the test case and fix from

[2017-11-22 00:20] glennw commented on #1695
This happened.

[2017-11-22 00:20] #1695 closed

[2017-11-22 01:45] sotaroikeda commented on #2071
If ANGLE is used on Windows, there could  be a problem of how to use SwapChain in ANGLE. [Bug 1418571](https://bugzilla.mozilla.org/show_bug.cgi?id=1418571) and [Bug 1419293](https://bugzilla.mozilla.org/show_bug.cgi?id=1419293) might be related.

[2017-11-22 02:07] sotaroikeda commented on #2071
And with D3D SwapChain,  PartialPresents  with small invalidation regions is effective like [CompositorD3D11::Present()](https://dxr.mozilla.org/mozilla-central/source/gfx/layers/d3d11/CompositorD3D11.cpp#1196)

[2017-11-22 06:31] pcwalton commented on #1985
Just checked in Servo. This is fast now. Yay!

[2017-11-22 06:31] #1985 closed

[2017-11-22 06:53] glennw commented on #1670
This seems OK-ish to me now. There's still a lot of performance wins available as part of the ongoing brush and clip work, but nothing in the profile seems terrible now.

[2017-11-22 06:53] #1670 closed

[2017-11-22 06:55] glennw commented on #1985
Confirmed in Gecko that it's holding 60fps quite easily. The main suspect remaining is that around half the time is spend generating clip masks. We're working on various improvements here.

[2017-11-22 06:55] glennw commented on #1894
I think we can call this solved, for now. I haven't seen blurs being the main bottleneck on anything I test for some time now.

[2017-11-22 06:55] #1894 closed

[2017-11-22 06:58] glennw commented on #2045
I confirmed with current Gecko that this doesn't appear to be WR-limited, and gets a better score than with WR disabled. Closing for now, but please re-open if there is WR related work to do here.

[2017-11-22 06:58] #2045 closed

[2017-11-22 07:01] glennw commented on #1993
This seems fixed for me too, with current Gecko. I get around ~120 fps with vsync disabled on my HD4600 GPU. Around half the time is spend clearing and generating clip masks, which mostly seem redundant, so there should be some big improvements to come here.

@mstange Do you think we can close this?

[2017-11-22 07:05] glennw commented on #1995
Most of the time here is spent in opacity blends (I suspect most of these can be collapsed into not using a surface, but I need to confirm) and also angle gradients, which are quite sub-optimal right now.

[2017-11-22 07:06] glennw commented on #1731
As an update, this test file is now taking 6ms CPU time for me, and 3.5ms GPU time. The CPU time isn't too bad given the huge number of individual clips in this file. @jrmuizel is there still work ongoing in Gecko related to this?

[2017-11-22 09:09] mephisto41 commented on #2044
https://github.com/mephisto41/webrender/tree/drop-shadow

wip, still need some works.

[2017-11-22 13:11] Gankro commented on #1731
Have you tried it on the latest Rust nightly? Eddyb's enum layout optimizations just landed, might have improved how much we memcopy.

[2017-11-22 18:10] mstange commented on #1993
It's at ~43fps now. Let's wait for the clip mask improvements before we close it, and maybe also for box-shadow caching.

[2017-11-22 19:43] kvark opened #2083 "Force transformed shader when property is involved"
MotionMark's first test shows an interesting effect: batches of transformed rectangles are broken by (sometimes individual) instances which just happen to be aligned. We are trying to be too smart here.

I believe we should force the use of transformed shaders for objects having transformation in animated property (themselves, or in one of the parent reference frames). That would work within an as

[2017-11-22 19:45] kvark opened #2084 "Support local space clip masks"
MotionMark first test features hundreds of clipped rectangles rotated differently (also see #2083). Each produces a separate clip mask to be rendered, which is inefficient.

It would be best to recognize the transformed property here and generate a single mask in local space that is shared between all the instances. This would require the transformed shaders to be aware of the space the mask is pr

[2017-11-22 19:48] glennw commented on #2084
Interesting idea! I wonder if the anti-aliasing would be affected in a bad way though by doing this?

[2017-11-22 19:50] glennw commented on #2083
Nice find! Of note - primitives that are switched over to brush shaders no longer have the distinction between transform for shader selection. Both transform and non-transform variants go through the same shader (this is what I've been working towards with the recent write_transform_vertex changes). If this is a major bottleneck for this test case, I could bump up the priority of that work?

[2017-11-22 19:53] glennw commented on #2084
Another thing to consider for this test case - we don't currently share these clip masks at all, even if they were the same. I wonder if we were to quantize the parameters to device pixel amounts, and share them, if we'd drop the number of masks quite significantly here?

[2017-11-22 20:05] kvark opened #2085 "Text batch breaks in MotionMark"
MotionMark test 8 has lots of text drawn on top of each other. We don't end up batching it at all, since each text gets split into 2 sub-passes. We should either stop using multiple passes, or force them to participate in rendering as regular batches, so that we could batch all the pass-1 together, then all the pass-2 together, etc.

Note: ok, not "all" of it, but at least some non-intersecting pa

[2017-11-22 20:07] kvark opened #2086 "Opaque text pre-pass"
This is an off-spring of #2085. Given lots of text drawn on top of each other, it could be very efficient to have an opaque pre-pass (having all the text batched together) that would discard everything but the opaque parts of the text. It would ensure that the actual transparent passes touch way less pixels.

[2017-11-22 20:08] glennw commented on #2085
We don't actually do 2-pass text at all anymore, except in the case of subpx on a transparent background (which I don't believe Gecko makes use of yet @mstange ?). If that's occurring, it would definitely be surprising. Could it be something to do with text shadows that's making it look like 2 pass?

[2017-11-22 20:09] kvark opened #2087 "[meta] MotionMark performance issues"
I've done a pass through the MotionMark performance with RenderDoc on Windows 10 + AMD machine. Interestingly, for most cases the actual workload GPU times are minuscule (!) compared to what other actors (such as Angle) are doing behind our back. This may be due to relatively good GPU in place (RX 460). Anyway, the main paths to optimizations I'd expect to come from Gecko WR layer and figuring out

[2017-11-22 20:16] mstange commented on #2085
Gecko does make use of it, but only for the text in the tabs and in sidebars, and only on Mac. (And it's three passes, not two.)

[2017-11-22 20:20] glennw commented on #2085
Yea, so I think we may be either mis-interpreting what's going on here, or there's a very unexpected bug going on :)

[2017-11-22 20:23] glennw commented on #2087
@kvark Is it a reasonable conclusion from looking at those bugs that the GPU time in WR is a small portion relative to the full screen rects and clears coming via angle? And if so, we should focus on investigating the angle issues first, to get the major performance wins before we look into the WR-specific issues?

[2017-11-22 20:27] glennw commented on #2087
Oh, you basically said as much in the first paragraph :) OK, I'll do some investigating of these issues. Thanks for writing them up!

[2017-11-22 20:28] kvark commented on #2087
@glennw yes, this is correct in the context of a good GPU. The text-rendering test was most offending in terms of actual content, other things are surely dominated by Angle weirdness.

[2017-11-22 20:39] pcwalton commented on #2084
Another possibility would be to recognize the special case of a solid color with a rounded clip and change the clip into a plain old border display item.

Ideally, to make this optimization better for real-world use cases (i.e. not just tailored to this benchmark) it might be nice to do it after primitive segmentation. This would allow it to, for example, eliminate the clips from large rounded fla

[2017-11-22 20:44] glennw commented on #2084
That's an interesting idea - but there's an even better solution I think - extend the mask shader (used above) to support a vertex color. Then, in this case we just draw a colored mask directly onto the surface and skip intermediate surfaces altogether.

[2017-11-22 21:11] kvark commented on #2085
Added a screenshots to the subject. I'll take another look, maybe it's not about double-pass as I assumed.

[2017-11-22 21:18] glennw commented on #2085
Huh, interesting screenshot. Are you able to extract the shader source code? Are there shader changes occurring between those draw calls? If not, I wonder why those batches are being broken at all? That's definitely not what I'd expect to see...

[2017-11-22 21:19] glennw commented on #2085
Actually, I can do a apitrace here on Linux and see if that shows similar issues.

[2017-11-22 21:21] kvark commented on #2084
After talking to @glennw I admit we can't have local clip masks (because of AA), and the last proposal (using clip_rectangle for rendering into the color framebuffer) seems reasonable ~~hack~~ :)

[2017-11-22 21:23] glennw commented on #2085
Ohhh the batch breaks are occurring due to the small color changes for every text run that is being drawn on top of the previous. That makes sense now. So what we really need to do here is make use of the dual source blending extension on machines that support it. That will drastically reduce batch breaks for almost all our target hardware. The opaque text pass you mentioned would also be a big wi

[2017-11-22 21:56] #2061 closed

[2017-11-23 00:00] glennw commented on #1648
This test case is drawing a huge number of clip masks. Visually, there doesn't seem to be any reason it should be, so I need to investigate why.

[2017-11-23 00:23] pcwalton commented on #2084
Clips cause similar problems in the bouncing gradient circles:

![problem](https://i.imgur.com/D6GKyhm.png)

[2017-11-23 00:42] glennw commented on #2084
@pcwalton I *think* (yet to be confirmed) that the test case above is also drawing a heap of redundant rectangular clip masks, which might explain part of the problem too.

[2017-11-23 00:58] glennw commented on #1648
OK, if I apply a local fix to avoid clip masks in this case, the MM score goes from 165 to 472 (!). I think that parts of https://github.com/servo/webrender/pull/2062/files provide a proper fix for this. @mrobinson is working on separating that into multiple commits, which I'm also going to test with locally to confirm it does solve this bug.

[2017-11-23 01:23] nc4rrillo commented on #1672
I'm working on this.

[2017-11-23 01:34] glennw commented on #1672
Awesome! Let me know if anything's not clear from the description :)

[2017-11-23 01:40] pcwalton commented on #2084
Note that if the clip mask is a circle it *can* be reused regardless of rotation, because it's, well, a circle. Optimizing this might help that benchmark (but might not help real-world sites).

Also, I checked to see whether the problem was the ellipse shader by commenting it out. This improved performance by 50% or so. So while optimizing the ellipse shader would certainly help, it's far too slow

[2017-11-23 01:42] glennw commented on #2084
I'll take a look at this test case using the fix mentioned here https://github.com/servo/webrender/issues/1648#issuecomment-346511425 and investigate from there.

[2017-11-23 02:13] mstange opened #2088 "ps_blend.glsl could be using a mat3 instead of a mat4"
All the matrices generated in [ps_blend.glsl](https://github.com/servo/webrender/blob/master/webrender/res/ps_blend.glsl) only make use of the top left 3x3 square of the matrix. I think this matrix could use the `mat3` type instead, and the fragment shader could be doing `oFragColor = vec4(vColorMat * Cs.rgb, Cs.a)`, which should be a bit cheaper.

[2017-11-23 03:31] glennw commented on #2084
OK, this test looks fairly reasonable with the removal of the redundant rectangular clip masks. Could still do with improvement but it's not bad now.

![circles](https://user-images.githubusercontent.com/2350882/33158074-865d4980-d052-11e7-8872-353420be3f90.png)

[2017-11-23 03:33] glennw commented on #2084
The GPU usages sits at around 4-8 ms for me when just drawing the required clips.

[2017-11-23 14:45] nical commented on #2087
On various devices (both windows and linux) I see a lot of time spent clearing/rendering things in intermediate targets that were already present in the last frames. I assume that the ANGLE fixes you mentioned will alleviate some of that cost, but more aggressively caching things that we render in intermediate targets should help a ton as well, and even remove the need to render into intermediate

[2017-11-23 18:57] #2065 closed

[2017-11-23 19:33] mrobinson opened #2093 "Unable to find glyph key cache after recent text transform changes"
After #2058, when I try to run the recorded yaml from #1817. I see this error:

[code]
when I run

[code]

[2017-11-23 19:33] mrobinson commented on #2093
cc @lsalzman

[2017-11-23 19:41] mstange commented on #2093
I also see this crash when I open that page ([https://www.w3.org/conf/2013sf/](https://www.w3.org/conf/2013sf/)) in Firefox in a Firefox build that includes the [webrender update](https://bugzilla.mozilla.org/show_bug.cgi?id=1419440) that includes #2058.

[2017-11-23 19:45] mstange commented on #2093
[code]

[2017-11-23 19:48] mstange commented on #2093
Reduced testcase: `data:text/html,<div style="transform:rotate(-20deg);text-shadow:0 0 1px blue">Test`

transformed text shadows seem to be busted

[2017-11-23 19:51] staktrace commented on #2093
We should add a gecko reftest for this; presumably the crash would have shown up in my try pushes if we had one

[2017-11-23 19:51] lsalzman commented on #2093
Markus is working on a yaml testcase for wrench

[2017-11-23 19:56] mstange commented on #2093
possible YAML testcase, haven't tested it yet:

[code]

[2017-11-23 20:59] lsalzman commented on #1808
This is fixed by PR #2058 with followup in PR #2093.

[2017-11-23 21:02] #1808 closed

[2017-11-23 23:11] glennw commented on #2087
We can certainly cache items that we draw to intermediate surfaces - it's not a huge amount of work. We will definitely want to do it for power-saving reasons too, even if not performance.

However, I think we need to do deeper investigations of the clear / surface costs as well - many of the issues are simple cases to fix - for example, double clears, or slow path shaders, or redundant work being

[2017-11-23 23:34] kvark commented on #2087
@glennw this is going to be less effective than the clear masks the driver is supposed to manage anyway, and prevent the driver from doing so... We may try this on different HW/platform to see where it makes sense today.

[2017-11-23 23:55] glennw commented on #2087
Yea, in theory it shouldn't be faster than what most GPUs / drivers do - but might be an interesting experiment to try on some hardware.

[2017-11-24 05:21] lsalzman commented on #2029
It is very likely that between #2058 and #2095 this will be fixed. We should check this again once those two land in Firefox nightlies.

[2017-11-24 07:14] mephisto41 commented on #2044
#2091 fix this.

[2017-11-24 18:56] kvark commented on #1672
Not sure if it's worth going that far in the GPU debugging support instead of just integrating with RenderDoc so that we can hit "capture" from our UI.

[2017-11-24 22:15] staktrace opened #2099 "Make hit-testing more robust to timing irregularities"
I've been working on a gecko mochitest to exercise the WR hit-testing API, and I've been getting intermittent failures. I'm not 100% sure about this yet but it seems like these failures happen when the hit-test message arrives at the render_backend between scene being built and the clip_scroll_tree being rebuilt. Conceptually this makes sense because it means WR might be in an inconsistent state a

[2017-11-24 22:25] glennw commented on #2099
From a quick look at the source code, we call ```clip_scroll_tree.update_tree``` when building a frame for render, but not when doing a hit test. This would suggest your analysis is right - that it can be out of sync when a new scene arrives but before a render.

If that's the case, calling ```clip_scroll_tree.update_tree``` at the start of hit test - and probably adding a dirty tracker to ```upda

[2017-11-25 02:26] nc4rrillo commented on #1672
I can work on that as well 👍. Seems fairly straightforward.

[2017-11-26 05:52] mstange opened #2100 "Too much GPU time on the Chrome addon store site"
On [https://chrome.google.com/webstore/detail/embark-new-tab-page/aeajehgeohhgjbhhbicilpenjfcbfnpg/reviews?hl=en](https://chrome.google.com/webstore/detail/embark-new-tab-page/aeajehgeohhgjbhhbicilpenjfcbfnpg/reviews?hl=en), scrolling the reviews is a bit slow.

[2017-11-26 15:26] mrobinson commented on #2099
Hrm. I wonder if the right thing to do here is to wait to update the hit test item list until we call `clip_scroll_tree.update_tree`. I will take a look at this tomorrow!

[2017-11-27 08:10] nical opened #2106 "Remove the need to allocate an FBO in the texture cache."
See #2101. Textures in the texture cache have an FBO because we use glBlitFramebuffer to display them in the debugging ui. We should use a shader to blit them and avoid allocating FBOs instead.

[2017-11-27 12:00] mrobinson commented on #2099
This is actually a bit tricky! Perhaps there's a clever way to handle this though. Ideally, hit testing should be done against the currently rendered frame. As far as I can tell though, the ClipScrollTree and the ClipStore are not retained after a `FrameBuilder::build(...)` is called. The ClipScrollTree can almost certainly be replaced by the vector of ClipScrollNodeData, but I'm still not sure ho

[2017-11-27 15:04] kvark opened #2108 "[RFC] One trait to rule them all"
We've got quite a few external trait objects now:
[code]
[code]

I don't think it makes much sense to erase the types on all of these. We could instead have a mega-trait for defining all dependent types (similar to [gfx:hal::Backend](https://github.com/gfx-rs/gfx/blob/05e34beabc617ce7eda7117c6686ba0a2db5b337/src/hal/src/lib.rs#L225)):
[code]

Cons:
  - that type would need to be defined by Gecko,

[2017-11-27 15:40] staktrace commented on #2099
@nical Does your transaction stuff affect this at all? I thought we had a design that would allow hit-testing to work against currently rendered frames while we are in the process of building the next frame. (I have some vague recollection of this from that google doc you made)

[2017-11-27 17:49] nical commented on #2099
I think it does. With the transactions, anything that is part of a transaction will be applied atomically in the sense that we don't go back to the render backend event loop in between the things of a given transaction.
I'll finish the transaction work in January since it's not in the P2/P1 list at the moment.

[2017-11-27 18:53] kvark opened #2110 "PBO copies are slow on Angle"
It appears that Windows/Angle spends tons of time in `update_texture_from_pbo`: https://perfht.ml/2zJnkg4
Angle decided to defer mapping and filling an actual D3D11 staging buffer up until this call. Since the copy itself is done in a draw call, it has to stall the GPU until the copy is done. This is one issue, but the actual current one is different: `Map` itself is waiting. I suppose it's waitin

[2017-11-27 19:09] jrmuizel commented on #2110
This is showing up during motionmark bouncing circles.

[2017-11-27 19:17] jrmuizel commented on #2110
I should also note that to reproduce this slowness I need to run the test case in ramp mode first and then reload with constant complexity. i.e.
Constant complexity @ 400 => 6ms compositor time
Ramp => up to 11ms compositor time
Constant complexity @ 400 => 16ms compositor time

So it does seem like this problem is being made worse through some invisible persistent state (the webrender texture cac

[2017-11-27 19:18] kvark commented on #2110
@jrmuizel we should have a separate issue for the (suspected) cache pollution

[2017-11-27 19:23] glennw commented on #2108
Seems reasonable to me, although perhaps low priority for now.

[2017-11-27 19:58] kvark opened #2111 "Upgrade the reftest list format"
Looking into the growing list of supported prefixes/functions now: https://github.com/servo/webrender/pull/2105/files#diff-f340cf8bfec5772b98e4211803fbe7cdR219

The format chosen ("xxx.list") doesn't seem to scale nicely, given that all the prefixes are expected to come on the same line... so the tests don't align, and the very fact we are using a simple text format falls down here.

I suggest des

[2017-11-27 21:18] kvark opened #2112 "Visible seams on transformed borders"
You can see them if you zoom into ![example](https://raw.githubusercontent.com/glennw/webrender/86348b29b49b316fb816c49a7b816544a1099609/wrench/reftests/transforms/prim-suite.png]

#2016 fixed the split code to not have T-junctions, also forced AA to be applied to the correct rectangle. #2102 improves those edges, but apparently this is not enough?

We should fix the geometry extrusion to take the

[2017-11-28 01:10] kvark commented on #2110
Thanks to Angle team I got some answers! This is not about orphaning, but rather about some texture formats not being supported by the fast path of buffer->texture copies: https://cs.chromium.org/chromium/src/third_party/angle/src/libANGLE/renderer/d3d/d3d11/Renderer11.cpp?type=cs&q=supportsFastCopyBufferToTexture&sq=package:chromium&l=3006

In particular, Angle doesn't like our RGB8 and A8.

[2017-11-28 01:29] glennw commented on #2110
Awesome, thanks for following this up!

[2017-11-28 02:06] jrmuizel commented on #2110
The profile shows us hitting the fast path not missing it.

On Nov 27, 2017 8:29 PM, "Glenn Watson" <notifications@github.com> wrote:

[2017-11-28 02:18] glennw commented on #2110
@jrmuizel Are you using the Gecko profiler for this or something else?

[2017-11-28 02:22] qwertychouskie commented on #2029
This seems fixed in the latest FF Nightly, thanks!

[2017-11-28 02:22] #2029 closed

[2017-11-28 02:28] glennw commented on #2110
@kvark From your investigations of angle, would it be worth considering alternative update strategies (e.g. render target with float points, or perhaps map/unmap or something else?)

[2017-11-28 02:30] pcwalton commented on #2084
I just retested. With 1000 circles I now get ~30 FPS in Servo+WR+slow style hack and 37 FPS in Chrome. Most of the GPU time is spent in clips, unsurprisingly. CPU time outweighs GPU time.

[2017-11-28 02:32] glennw commented on #2084
@pcwalton Is that with https://github.com/servo/webrender/pull/2104 applied (it's not in Servo yet)? It might not make any difference here, but it may be quite significant. What CPU/GPU times are you seeing in WR?

[2017-11-28 02:34] pcwalton commented on #2084
@glennw Yes, it's with #2104 applied.

![https://i.imgur.com/D800yLU.png]

[2017-11-28 02:36] glennw commented on #2084
@pcwalton Cool, those numbers look reasonable-ish for that test. I'll do some tests on having a fast clip path for uniform radii, that's probably the next easy win there.

[2017-11-28 02:45] pcwalton opened #2114 "HiDPI issue when running Servo on MotionMark"
http://browserbench.org/MotionMark/developer.html?test-interval=30&display=minimal&tiles=big&controller=fixed&frame-rate=50&kalman-process-error=1&kalman-measurement-error=4&time-measurement=performance&suite-name=HTMLsuite&test-name=CSSbouncinggradientcircles&complexity=1000

Intel Iris, Retina MacBook Pro. This causes circles to flicker in and out while the main benchmark runs.

![Screenshot](ht

[2017-11-28 03:04] jrmuizel commented on #2110
Yeah. If you look at the perfht.ml link in the first comment

On Nov 27, 2017 9:18 PM, "Glenn Watson" <notifications@github.com> wrote:

[2017-11-28 03:20] glennw commented on #2110
When I originally set up the GPU cache, the idea was to be able to use an unsynchronized map to update the texture, on platforms where that made sense (i.e. a persistent pointer into the texture data). It does two things to enable this:

* Items are never evicted that are newer than an arbitrary amount of frames (currently set to 10).
* When items are invalidated for update, the old location is or

[2017-11-28 04:13] jrmuizel commented on #2110
FWIW, here's the skia upload path:
https://searchfox.org/mozilla-central/rev/7a8c667bdd2a4a32746c9862356e199627c0896d/gfx/skia/skia/src/gpu/GrOpFlushState.h#74
https://searchfox.org/mozilla-central/rev/7a8c667bdd2a4a32746c9862356e199627c0896d/gfx/skia/skia/src/gpu/gl/GrGLGpu.cpp#737
https://searchfox.org/mozilla-central/rev/7a8c667bdd2a4a32746c9862356e199627c0896d/gfx/skia/skia/src/gpu/gl/GrGLGpu.

[2017-11-28 06:52] glennw opened #2116 "Render target pool seems to leak?"
I don't have a good repro for this yet. Browsing around a heap of sites in Gecko with master WR, I ended up with around 25 render targets displaying in the render target debugger. Each site I was browsing only had around 2-3 targets in use at a time.

This is mostly a placeholder until I have time to get a better repro, although it may be quite easy to repro just by browsing a few sites.

[2017-11-28 06:52] glennw commented on #2116
cc @kvark

[2017-11-28 10:11] romanstingler opened #2117 "Unusable UI errors on Linux Nouveau"
On my system Running ArchLinux with latest FF nightly

[system_info_archmob_1511863556.log](https://github.com/servo/webrender/files/1509359/system_info_archmob_1511863556.log)

when I set
– “gfx.webrender.enabled” to true,
– “gfx.webrender.blob-images” to true,
– “image.mem.shared” to true,
– “layers.acceleration.force-enabled” to true

I get following display error on Wayland (have not tested on

[2017-11-28 14:17] kvark commented on #2110
@jrmuizel

Damn, that is correct. Back to square one!

@glennw

Will see after this issue is resolved.

TBH, that sounds perfect :) We definitely need to check out persistent mapping for the GPU cache texture. However, this is quite specific (GPU cache only, not the texture cache or other data) and will probably need to wait till we resolve the outstanding performance issues first (assuming we can

[2017-11-28 14:32] romanstingler commented on #2117
I tested it within an old Xorg session, same graphical issues

[2017-11-28 15:11] nical opened #2118 "Support color animated properties"
Animating things like background colors isn't uncommon, should be fairly straight forward to do in webrender without rebuilding the scene and is typically expensive in Gecko without webrender because the latter relies on invalidation->repaint->double-buffering->texture-upload.

While not high priority, it would make for a fun feature to show off webrender's architecture.

[2017-11-28 17:19] pcwalton commented on #2118
Bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1371101

[2017-11-28 17:20] #2116 closed

[2017-11-28 17:24] nical commented on #2117
Might be https://bugzilla.mozilla.org/show_bug.cgi?id=1421280 (or related).

[2017-11-28 18:35] jrmuizel opened #2123 "Facebook uses more cpu with webrender than Chrome"
Running https://jrmuizel.github.io/webrender/facebook-refresh.html on MBP shows (42% usage child process, 60% usage parent process) vs (52% child, 11% GPU) in Chrome

[2017-11-28 18:35] jrmuizel commented on #2123
Of note is 60% vs 11%

[2017-11-28 19:08] jrmuizel opened #2124 "Use ARB_texture_storage for allocating textures"
It's not uncommon for drivers to require allocating an entire miptree when texture allocation is done with TexImage2D. Using TexStorage2D can avoid this problem. That might reduce the time spent in brw_blorp_copy_miptrees as seen in https://perfht.ml/2zNOsuE

However, brw_blorp_copy_miptrees might not actually be doing miptree related work despite the name

[2017-11-28 19:20] pcwalton opened #2125 "Bouncing balls demo doesn't clip properly"
Test case: https://codepen.io/davide_ravasi/full/WbRKrY/

Screen shot:
![Screenshot](https://i.imgur.com/nhvLq5W.png)

The ball should be circular.

[2017-11-28 19:23] jrmuizel commented on #2125
FWIW, the ball is circular in Gecko

[2017-11-28 19:28] pcwalton commented on #2125
Oh, I bet it's the elliptical borders. Closing as likely a Servo issue.

[2017-11-28 19:28] #2125 closed

[2017-11-28 20:12] glennw commented on #2118
Would this resolve all the CPU issues in the MotionMark Multiply test when implemented? That test basically has a heap of border corners with animated color and rotating transform. Once this is implemented, we could probably run that benchmark without rebuilding the display list at all?

Steps to implement this are:
 * Extend PropertyBinding to support ColorF.
 * Change the color field in a rectan

[2017-11-28 20:17] glennw commented on #2123
I will investigate this today.

[2017-11-28 20:29] jrmuizel opened #2127 "Support timer queries on ANGLE"
ANGLE supports EXT_disjoint_timer_query which should let us get better information

[2017-11-28 20:36] pcwalton commented on #2118
The hard part here is implementing the Gecko style system bit, as I understand things. In particular, my understanding is that we need a new nsChangeHint for color changes.

[2017-11-28 20:42] staktrace commented on #1781
Is it possible for one document to embed another, the way one pipeline can embed another one using push_iframe? If so this change should be pretty easy on the gecko side.

[2017-11-28 21:16] kvark commented on #1781
@staktrace the whole point of documents is to have independent workloads for both render backend and renderer. Having one inside of another would only be possible if we bake it into a rendertarget, like what the `frame_output` example does. But this is certainly not what Gecko needs.

And since we are touched this issue - the support for documents on `Renderer` side is done, so I believe WR is rea

[2017-11-28 21:16] #1781 closed

[2017-11-28 21:23] nc4rrillo commented on #2118
I think this may be a bit more involved, I gave this a go and couldn't get changes included in `GenerateFrame` to produce an updated result.

[code]

[2017-11-28 21:44] glennw commented on #2118
Ah, I should have been more specific in my description - that code there only executes once for a new display list. The resolve would actually need to be done later (probably in ```prepare_prim_for_render``` would be ideal).

[2017-11-28 22:09] mrobinson commented on #1993
I did some digging into this. The issue seems to be that we are rendering some large ClipOut masks for a box shadow with a rounded rectangle. Removing that seems to make the GPU queries look a lot more equal. @glennw and I talked and we think that the best fix here would be to segment the box shadow to allow more of it to be rendered without a mask.

[2017-11-28 22:21] staktrace commented on #1781
I don't really understand how the Gecko side is supposed to work if we can't put one document inside another. On the gecko side the web content is embedded inside the chrome content in that there is stuff from the chrome document both "above" and "below" the web content document.

[2017-11-28 22:27] kvark commented on #1781
@staktrace what does putting the content inside the chrome pipeline tree give you anyway?
You could have the following documents:
  1. Top part of the chrome, with a designated rectangle area
  2. Bottom part of the chrome (status bar) with a designated area
  3. Content part, again covering a sub-rectangle of the full screen
  4. Rounded corners - a transparent document covering full screen

Thes

[2017-11-28 22:40] glennw commented on #2123
From an initial profile, I get:

![fb](https://user-images.githubusercontent.com/2350882/33347959-56558486-d4e0-11e7-9e4d-c5fa4e78f0b6.png)

This has ~5-8ms in DisplayList in Gecko, and ~3-4ms in RenderLayers.

![fb2](https://user-images.githubusercontent.com/2350882/33348009-77e4e54c-d4e0-11e7-922c-49c17b443ba0.png)

We're seeing particularly high CPU time in compositor (although this *might* be

[2017-11-28 22:47] glennw commented on #2123
OK, with vsync disabled (on Intel Linux, ```vblank_mode=0``` and ```layout.frame_rate``` set to 0), the compositor time is ~3ms.

All of these numbers are higher than ideal, but not unexpected given the known current CPU bottlenecks. I'll get some more detailed profiling info on what the hotspots are for us to target first.

[2017-11-28 22:49] jrmuizel commented on #2123
They possibly match. I had a look at profile from @emilio's machine and the
child side seemed reasonable except for a bad fallback case for input
type=file.

I'm more worried about the webrender side. I was seeing a lot of cpu time
in the renderer thread

On Nov 28, 2017 5:40 PM, "Glenn Watson" <notifications@github.com> wrote:

[2017-11-28 22:52] jrmuizel commented on #2123
I'll post a profile later tonight that shows what I see

On Nov 28, 2017 5:49 PM, "Jeff Muizelaar" <jrmuizel@gmail.com> wrote:

[2017-11-28 22:59] glennw commented on #2123
OK, I'll investigate the renderer time anyway - even if it is ~3 ms, that still seems really high.

[2017-11-28 23:09] kvark commented on #2110
Had a long discussion today with Angle peers. Ended up filing an upstream issue - https://bugs.chromium.org/p/angleproject/issues/detail?id=2268

TL;DR:
They don't expect us to use PBOs at all, and `STREAM_DRAW` on them in particular. Using `STATIC_DRAW` is our best hope for a minimally-intrusive fix. They'd prefer us just calling `glTexSubImage2D` directly on the GPU textures...

[2017-11-28 23:20] glennw commented on #2123
There are a lot of draw calls occurring on this page. There's several planned improvements to help with this - most of them reliant on switching items over to be brush shaders that can batch together. Since there's a lot of optimizations that are blocked on this work - I'm going to start on those today. Porting rectangles and border corner/edge shaders to brush shaders should eliminate a lot of dr

[2017-11-28 23:33] kvark commented on #2110
Yes, that's my plan :) We'll definitely need separate paths on Windows/Angle versus the world :)

[2017-11-29 01:10] #1672 closed

[2017-11-29 01:13] glennw commented on #2123
https://github.com/servo/webrender/pull/2130 is a small win here - it drops the draw calls from 172 to 154, saving around 10% of the CPU time in the compositor thread. I'm going to continue investigating the batching on this site, as that still seems very high.

[2017-11-29 01:50] glennw opened #2131 "Bug when converting a binary replay to a yaml file."
This seems especially broken on Gecko replays, which make use of multiple pipelines.

If I comment out this line (https://github.com/servo/webrender/blob/master/wrench/src/yaml_frame_writer.rs#L328) I generally get usable replays (without it, only the main pipeline gets written out).

I don't think that's the *correct* fix, but I haven't looked deeply into the root cause, and that code is a bit ta

[2017-11-29 02:02] jrmuizel commented on #2131
I think I've seen something like this as well. See also #1826

[2017-11-29 02:03] jrmuizel commented on #2123
Here's my profile: https://perfht.ml/2ieKFPw
Unfortunately the gecko profiler doesn't have a good way of distinguishing waiting vs working so this profile doesn't really show the same things as instruments.

[2017-11-29 02:05] jrmuizel commented on #2123
Breaking out the timing information in the profiler for webrender_bindings::bindings::wr_renderer_render vs GLContextCGL::SwapBuffers would be helpful. I can fix that.

[2017-11-29 02:06] glennw commented on #2123
One interesting thing I found (though unrelated to this issue) - there is a very large image that appears to be a single color:

alloc ImageDescriptor { format: BGRA8, width: 1887, height: 2081, stride: Some(7548), offset: 0, is_opaque: false }

Appears to be light grey.

It's probably worth finding out where that comes from in the display list and if it's redundant, because it could be costing qu

[2017-11-29 02:07] glennw commented on #2123
Oh, and it's marked as not opaque either - so that will definitely be costing performance. Perhaps it's an image mask covering the whole screen or something?

[2017-11-29 03:01] kvark commented on #1993
@mrobinson that also happens to be the case for #2100

[2017-11-29 04:07] staktrace commented on #1781
Just to be clear - when I said "above" and "below" I meant in z-order. Stuff from the chrome (e.g. doorhangers) can overlap the content area. But I guess if documents can overlap (which is what it sounds like you're describing) then maybe we can make it work.

[2017-11-29 08:33] sotaroikeda commented on #2127
[Bug 1421549](https://bugzilla.mozilla.org/show_bug.cgi?id=1421549) is created.

[2017-11-29 16:37] jrmuizel opened #2132 "MotionMark bouncing circles is worse the second time it's run"
On our AMD Window 10 machine the score will go from around 400 to 80. @kvark thinks we might be fragmenting the GPU cache. I suggested it might be useful to expose the size of the gpu cache in the profiler hud to see if that might be the persistent state that's causing the change here.

[2017-11-29 17:07] kvark commented on #2132
Related - #2110, which was originally filed to address the issue, but it doesn't capture the extent in full.

I believe what's happening here is that GPU cache gets fragmented. Since we are uploading the whole rows, we end up transferring too much data, hitting Angle's soft spots. Steps to take:
  1. confirm the hypothesis by looking at the GPU cache structure. If we don't have a way to inspect it

[2017-11-29 17:10] kvark opened #2133 "Transformed primitive rendering glitches"
See https://github.com/servo/webrender/pull/2069#issuecomment-347914944 for original report.
Related bugzilla entries:
  - https://bugzilla.mozilla.org/show_bug.cgi?id=1420748
  - https://bugzilla.mozilla.org/show_bug.cgi?id=1420754
  - https://bugzilla.mozilla.org/show_bug.cgi?id=1421526

[2017-11-29 19:47] kvark opened #2134 "Use R8 format instead of A8"
This is a child task of #2110

`A8` is outdated, and Angle in particular doesn't like it (invoking a slow path on uploads).
We should be using `R8` instead and be future-proof.

Note: this doesn't show up in profiles yet, so not high priority.

[2017-11-29 19:50] kvark commented on #2132
We confirmed that the GPU cache texture quickly grows from 1024x512 to 1024x2048, and then the performance still degrade with time. This is supporting the fragmentation hypothesis but not confirming it just yet.

[2017-11-29 19:50] glennw commented on #2133
@staktrace Thanks for tracking down the regression range. Self assigned for when I have time to look at this.

[2017-11-29 20:10] mstange opened #2135 "Inset box-shadows on large elements cause rendering glitches"
https://bugzilla.mozilla.org/show_bug.cgi?id=1421272

[Testcase](https://bug1421272.bmoattachments.org/attachment.cgi?id=8933009) (you may need to zoom in a bit)

On this page, WebRender renders garbage in the box-shadow area, and the text in my tabs disappears, and so does the back button.

When fixing this, please don't just apply something special for inset box-shadows that makes them require l

[2017-11-29 20:56] Darkspirit commented on #2135
(Another inset box shadow regression from the same WebRender update: #2068)

[2017-11-29 21:07] jrmuizel commented on #2110
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1421783 and https://bugzilla.mozilla.org/show_bug.cgi?id=1421784

[2017-11-29 23:10] pcwalton commented on #2123
Something strange about this benchmark is that Chrome causes the WindowServer to use a ton of CPU, primarily in `CA::Render::Surface::decode()`. Is Chrome using Core Animation in some different way?

[2017-11-30 16:58] jrmuizel opened #2140 "facebook-refresh is gpu bound on mstange's mbp"
https://jrmuizel.github.io/webrender/facebook-refresh.html
He gets 36ms swaps

[2017-11-30 17:01] mstange commented on #2140
Profile: https://perfht.ml/2iqcnZI

[2017-11-30 18:45] jrmuizel opened #2143 "http://bennettfeely.com/gradients/ gets sluggish on the reference hardware"
I see this with both ANGLE and native GL

[2017-11-30 18:50] jrmuizel commented on #2143
Here's the largely uninteresting profile: https://perfht.ml/2AsXfBr

[2017-11-30 20:06] Gankro opened #2144 "Mysterious Giant Image on Facebook"
As noted in https://github.com/servo/webrender/issues/2123#issuecomment-347728853

I'm gonna look into it unless someone points me in a more important direction.

[2017-11-30 22:29] jrmuizel opened #2145 "6+ ms of gpu time being spent on rogers site because of inset shadows"
yaml here: https://jrmuizel.github.io/webrender/rogers.zip

The gpu gets hit pretty hard here. I see power usage of around 60W

[2017-11-30 23:12] glennw commented on #2145
This looks to be caused by one *very* large inset box shadow:

[code]

We don't have any optimizations for inset box shadows that we have for outset box shadows, yet.

[2017-11-30 23:14] glennw commented on #2145
Broadly speaking, we need to apply the same kinds of optimizations (only target the part of the primitive that can be affected by the blur), but this is slightly trickier for inset box shadows. I expect these optimizations to leverage off the in-progress work for primitive segments.

[2017-11-30 23:15] glennw commented on #2145
GPU profile confirms that all the time is spent in drawing one massive mask (to blur), then blurring it, then a very large clip mask.

[2017-11-30 23:24] nc4rrillo commented on #2118
I'm working on this on the WR side, and I have it working for simple Rects. I was able to get it working in `prepare_prim_for_render` by looking up the `cpu_rectangle` entry, modifying the `RectangleContent` and invalidating the `metadata.gpu_location`

 I've run into some difficulty with how places like the border/box shadow code expect a resolved value, my current thought is to expand `PropertyB

[2017-11-30 23:31] glennw commented on #2118
I think that sounds like a good approach.

[2017-12-01 01:51] nc4rrillo commented on #2118
@glennw Another issue I've run into is that `BorderPrimitiveCpu` has raw gpu blocks assembled in `borders.rs` related to (I think) the following:

[code]

I'm not sure if resolving this would be more involved than defining the types directly on `BorderPrimitiveCpu` and lowering them to GPU data using an `Into<GpuBlockData>` impl like the other structs.

[2017-12-01 01:52] glennw commented on #2144
I also see a very large image when I look at about:blank, and the GPU profiler reports most of the time drawing a single image. It might be unrelated or a false positive, but it might be worth looking at that too.

[2017-12-01 18:26] kvark commented on #2140
The problematic areas are, roughly:
  - clips
  - rectangles
  - blurs
  - text runs
  - poor batching

The clips/blurs are likely addressed by either #2146 or the follow-ups to it.
Poor batching will also partially be addressed by this PR, but more investigation is needed.

The rectangles... may be limited simply by the rasterizer, or at least that's what I saw on my GPU captures. More investigat

[2017-12-01 18:27] mstange commented on #2140
Screenshot with profiler and gpu-time-queries enabled:
<img width="1552" alt="screen shot 2017-12-01 at 1 25 07 pm" src="https://user-images.githubusercontent.com/961291/33497214-295baa7a-d69b-11e7-98d5-8c4f9321fcd9.png">

It's only showing 9ms GPU time even though SwapBuffers is taking 36ms. So there must be something else going on here that the profiler isn't picking up.

[2017-12-01 18:45] staktrace commented on #1964
@mrobinson It would be good to prioritize fixing this, not just for correctness but also to unlock some clip optimizations on the gecko side (in that we can do a better job of deduplicating the clips we send to WR).

[2017-12-01 18:57] staktrace commented on #1964
Also for the record, doing this via clips on a stacking context always applying to their contents would work, but it would mean that we would start pushing stacking context where we weren't before, just for the sake of getting the clips working properly. This might end up being pretty heavyweight. I think from my point of view the best API would be something like a `push_persistent_clip(id: ClipId

[2017-12-01 19:16] jrmuizel commented on #2144
So has anyone seen this on platforms other than Linux? If it's only on Linux it's likely https://bugzilla.mozilla.org/show_bug.cgi?id=1418361

[2017-12-01 19:22] kvark opened #2153 "Agressive image tiling"
When investigating  #2140, one thing I noticed is an image of size 64x3320 filled with emoji. It breaks the batches for being forced into a separate texture as opposed to be a part of texture cache.

We could technically split it up using our automatic image tiling. The logic currently only applies to textures exceeding the maximum texture size, but we could change to to be more aggressive and, sa

[2017-12-01 19:33] mstange commented on #2153
How about this: If one dimension is larger than 512 but the other dimension fits into 256, split the image into 512-sized pieces. If both dimensions are larger than 512, give it its own texture.
This way we'd be using the texture cache for all images except the ones that are so huge that they'd fill up large areas of the texture cache on their own.

[2017-12-01 19:51] jrmuizel opened #2154 "serialize_fast is not being inlined"
and if I force it to be inlined the generated code is no good.

[2017-12-01 19:57] glennw commented on #2144
I've only seen it on Linux so far (but I haven't recorded a profile of those pages on Windows/Mac) so it may well be that.

[2017-12-01 20:05] kvark commented on #2154
See also  #2151

[2017-12-01 20:19] jrmuizel commented on #2154
Actually reading the code more closely it doesn't seem so bad. I think we might have a bit of extra copying but it's probably not worse than what we had before. I'll read more and see.

[2017-12-01 20:34] Gankro commented on #2144
I get many giant (>1000 width) non-opaque images when logging on macos.

[2017-12-01 21:22] glennw commented on #1656
I think we can call this resolved now - any future clip mask work will be based on the work done in #2146.

[2017-12-01 21:22] #1656 closed

[2017-12-01 21:23] glennw commented on #1400
@kvark I think this is resolved by the recent clip changes by @mrobinson. Should we close this?

[2017-12-01 21:24] glennw commented on #1439
@kvark I think we can close this as part of #2146? Or do you foresee more work here related to this?

[2017-12-01 21:25] glennw commented on #1447
We have *some* support for this now - each Picture can specify a RasterizationSpace internally. However, we need to expose this properly and make sure it works with clip masks etc.

[2017-12-01 21:25] glennw commented on #1453
@lsalzman Can this be closed now?

[2017-12-01 21:26] kvark commented on #1439
Yes, more work, but as a follow-up to your PR.

[2017-12-01 21:26] #1439 closed

[2017-12-01 21:26] #1400 closed

[2017-12-01 21:27] glennw commented on #1804
@lsalzman @Gankro  I think this can be closed now?

[2017-12-01 21:30] glennw commented on #1436
@kvark @mrobinson Is this still relevant (I think it is)?

[2017-12-01 21:44] lsalzman commented on #1453
Yes, this is fixed.

[2017-12-01 21:44] lsalzman commented on #1804
Yes, this is fixed.

[2017-12-01 21:46] #1804 closed

[2017-12-01 21:46] #1453 closed

[2017-12-02 19:08] mrobinson commented on #1436
I think as part of handling multiple ClipChains (#1964) we are going to need to do something like this in order to avoid masking in every situation. So maybe we should just close this bug in favor of that one.

[2017-12-03 02:28] kvark commented on #2132
I took a look at the GPU cache usage in MM ramping complexity using the new shiny bars of #2139
I can see that 773 rows are allocated, and about 1/4 or 1/3 of them are updated each frame in peak usage. This is waaay more than we need to, and no wonder it's inefficient. The uploaded actual block count is so small it's hard to tell, certainly below 5%.

[2017-12-03 15:15] ncweeaver commented on #1601
I was as well impacted by this bug with an AMD RV710, such as in: https://bugzilla.mozilla.org/show_bug.cgi?id=1407254 Here's the logs when debugging https://gist.githubusercontent.com/anonymous/d7c4634bd02790cd32b30fec8e1b3822/raw/6b632bfdef81e80a8a60239d7868947bce8d4d96/debug.txt

I can confirm that when using the latest drivers from https://launchpad.net/~oibaf/+archive/ubuntu/graphics-drivers

[2017-12-03 19:46] glennw commented on #2132
The GPU cache uploads an entire row at a time, as soon as any block within that row is dirty. This can (worst case) mean a 16 kB upload for a row if a single 16-byte block has changed (!). This is one of those things that was meant to be a "come back later an optimize when we have useful data" :)

The problem with just issuing an update for every block-run that has changed is that I was seeing the

[2017-12-03 20:00] glennw commented on #1601
Closing, since this is a driver bug with a known update fix.

[2017-12-03 20:00] #1601 closed

[2017-12-04 00:20] xevrem opened #2157 "Webrender fails to initialize w/ nvidia proprietary drivers on linux"
I have a nvidia GTX 1070 installed in my linux box and attempted to launch nightly, but the interface and content loaded black. I clicked the interface "hamburger" and it fell-back to OpenGL compositing. Checked my `about:support` and it mentioned that webrender failed to initialize. NOTE: previously i ran this box with an AMD rx580, and webrender in the latest ff-nightly worked perfectly (using a

[2017-12-04 04:33] #1653 closed

[2017-12-04 08:58] nical commented on #2153
The image tiling code supports non-square tiles, so we may not even need to have a special behavior for long and thin images. In this specific case the tiles will be 64x512 (if tiling kicks in that is, so as @kvark said it would probably be good to more aggressively tile images that don't fit in the cache based on the texture cache size rather than maximum possible texture size).

I am not sure I

[2017-12-04 15:17] NoXPhasma commented on #2157
It's a known issue and I've created a bug report a few month ago. You can follow it if you want: https://bugzilla.mozilla.org/show_bug.cgi?id=1401455

[2017-12-04 15:21] mrobinson opened #2159 "Possibly remove overscroll proof-of-concept code"
Some code was added in #951 to support browser.html overscroll prototyping. Searching around, I don't see anywhere that this code is used. Removing it would allow us simplify the ClipScrollTree and mean we have less untested code paths.

[2017-12-04 15:21] kvark commented on #2110
Oh, didn't mean to close this just yet.

[2017-12-04 15:23] mrobinson commented on #2159
@glennw Maybe you have an idea if this code is still used somewhere?

[2017-12-04 19:35] glennw commented on #2159
@mrobinson Huh, I thought it was being actively used in Servo. @paulrouget do you know?

[2017-12-04 19:56] kvark opened #2160 "Aggressively re-use render targets during the frame"
## Current RT pool logic

Before rendering a document:
  - go through all the passes, assign target from the pool
  - any target can only be used by a single pass at most
  - release the targets back when finished

## Possible new logic

If passes need to render:
  0: -> A
  1: A -> B
  2: B -> C

... and the format of A is the same (or compatible with, e.g. just having extra depth) as C, we shoul

[2017-12-04 22:11] nical opened #2163 "A lot of GPU time spent on clips in github's diff view."
The screenshot below says it all. 60ms of GPU time each frame, a lot of which is dedicated to clipping.

![screenshot from 2017-12-04 23-04-49](https://user-images.githubusercontent.com/264854/33578728-d423cd9e-d947-11e7-9ffb-39255765a165.png)

Looks like it is pretty easy to reproduce (for me at least) while scrolling through large diffs, like: https://github.com/servo/webrender/commit/1fbc96b529

[2017-12-04 22:13] glennw commented on #2163
I'll test today if this is reproducible with current WR master, which has had several clip fixes land in the last week.

[2017-12-05 03:56] lsalzman opened #2166 "Need tests for fonts with embedded bitmaps"
Issues #2164 and #2165 popped up recently related to buggy handling of bitmap fonts with FreeType. We could use some tests for bitmap fonts. That requires a suitably licensed bitmap font we can include in the tree as well.

[2017-12-05 04:25] lsalzman commented on #2166
The most appealing font I could find so far is Proggy Clean here: https://github.com/servo/webrender/pull/2165

The one is a monospaced bitmap ttf programming font that only has a disk size of 41K. License is MIT.

[2017-12-05 05:11] jrmuizel commented on #2166
You can also probably subset the font down to a smaller size.

[2017-12-05 16:39] jrmuizel commented on #1988
Should we expect this to be fixed yet?

[2017-12-05 19:07] nical commented on #1988
Caching what we render into intermediate targets would help a lot here.

[2017-12-05 19:16] Gankro commented on #2144
After turning on blob-images I don't see any large external images anymore. Might indeed be linux-only.

[2017-12-05 19:31] glennw commented on #1988
No, I wouldn't expect this to be fixed yet. We need to leverage and extend the segment support to optimize the clips and inset box shadows.

I've been thinking about caching the results of intermediate surfaces a bit. I think it should be relatively straightforward, by building on top of the Picture tree. The basic idea would be to detect when the contents of a Picture are the same, and redirect t

[2017-12-05 22:02] staktrace opened #2167 "regression: Children of transformed parent elements with overflow:hidden are not displayed correctly"
GH issue for https://bugzilla.mozilla.org/show_bug.cgi?id=1423104 - see the testcase on that bug.

This is a regression from #2104.

/cc @mrobinson

[2017-12-05 23:04] staktrace commented on #2167
https://bugzilla.mozilla.org/show_bug.cgi?id=1422300 has the same regression range, different STR.

[2017-12-06 03:08] nc4rrillo opened #2168 "regression: Rotated rect not respecting device pixel ratio"
This is a regression from #2069
[code]

### STR:
I first noticed this in the `animations` sample, you can hit `2` to set the device pixel ratio to 2.0 and then hit `,` or `.` to rotate the rect.

You can also run `rotated-clip.yaml` when run with `-p=2` and observe it not respecting the pixel ratio

I didn't see a way to specify a device pixel ratio in `reftest.list` but perhaps it would be a nice

[2017-12-06 03:36] nc4rrillo commented on #2168
FWIW applying the following:
[code]

fixes the issue for me

[2017-12-06 15:16] mstange opened #2174 "Overlapping opposite rounded corners have drawing errors"
https://bugzilla.mozilla.org/show_bug.cgi?id=1423603

[Testcase](https://bug1423603.bmoattachments.org/attachment.cgi?id=8935002)

Actual vs expected results:
<img width="473" alt="screen shot 2017-12-06 at 10 15 29 am" src="https://user-images.githubusercontent.com/961291/33668679-6f8cb1d4-da6e-11e7-8073-3699c4d117da.png">

[code]

[2017-12-06 16:03] kvark opened #2175 "Move reftest comparison into a separate lib"
I had a need to compare 2 PNGs outside of wrench. Reftest analyzer became somewhat a necessity, and producing a compatible log was not entirely obvious.

Sure, one can run base64 over PNGs, then type in the boilerplate formatting into a text file and get it loaded. Or even write a shell script to do so.

Another option is to move our comparison logic from wrench into a separate library. That's wha

[2017-12-06 17:01] staktrace opened #2176 "regression: White discoloration on tabs behind text"
GH issue for https://bugzilla.mozilla.org/show_bug.cgi?id=1418718

This is a regression from #2031

/cc @glennw

[2017-12-06 18:10] mstange opened #2178 "Larger-than-ideal B_Solid times on github on my integrated GPU (Intel HD Graphics 530)"
<img width="1552" alt="screen shot 2017-12-06 at 1 09 25 pm" src="https://user-images.githubusercontent.com/961291/33677449-d0ec91e8-da86-11e7-8207-00c6cf3f70ad.png">

[2017-12-06 18:48] kvark commented on #2178
Given the overdraw of opaque to be 1.0 and transparent to be 0.21, the large GPU time of "B_Solid" means we are hitting the rasterizer/depth-test bottleneck of fixed-function part of the hardware. This may happen if we try to draw too many opaque rectangles with pixels mostly discarded and not reaching the fragment shaders.

A similar situation is described in https://bugzilla.mozilla.org/show_bug

[2017-12-06 18:53] kvark commented on #2178
Note that something needs to split the container rectangles to avoid overdraw. Whether it's WR or Gecko is still to be figured out.

Another thing that would help is using a separate document for the chrome stuff.

[2017-12-06 19:02] mstange opened #2179 "Box-shadows with blur render incorrectly if there are opposite rounded corners whose bounding boxes overlap"
https://bugzilla.mozilla.org/show_bug.cgi?id=1423683

[Testcase](https://bug1423683.bmoattachments.org/attachment.cgi?id=8935073)

Actual vs expected results:
<img width="707" alt="screen shot 2017-12-06 at 1 59 59 pm" src="https://user-images.githubusercontent.com/961291/33679899-ff6bfde0-da8d-11e7-9154-f8209156f9c8.png">

[code]

[2017-12-06 19:26] mstange opened #2180 "Incorrect box-shadow rendering when the blur of adjacent rounded corners overlaps"
https://bugzilla.mozilla.org/show_bug.cgi?id=1423692

[Testcase](https://bug1423692.bmoattachments.org/attachment.cgi?id=8935086)

Actual vs expected results:
<img width="522" alt="screen shot 2017-12-06 at 2 23 46 pm" src="https://user-images.githubusercontent.com/961291/33681054-70ed3f26-da91-11e7-893e-c4d0cb3dfc77.png">

[code]

[2017-12-06 19:42] mstange opened #2182 "Inset box-shadows render incorrectly in some cases"
https://bugzilla.mozilla.org/show_bug.cgi?id=1423696

[Testcase](https://bug1423696.bmoattachments.org/attachment.cgi?id=8935091)

Actual vs expected results:
<img width="490" alt="screen shot 2017-12-06 at 2 34 15 pm" src="https://user-images.githubusercontent.com/961291/33681744-7bc3bef0-da93-11e7-8188-72d194b0a2ba.png">

It looks like the element's shape also clips the pre-blur shadow shape, in

[2017-12-06 21:22] nc4rrillo opened #2183 "Border rendering glitches"
Bad (taken from wrench with dbg alpha primitives / render target on):
![](https://i.imgur.com/uvUh0zG.png)

Good (taken from a jsfiddle I made [here](https://jsfiddle.net/LLg2arf9/)):
![](https://i.imgur.com/pyjBvtm.png)

[code]

From what I can tell it hasto do with how the bounds of the border relate to the border radius. You'll notice in the green examples the only difference is the bounds are

[2017-12-06 21:30] mstange commented on #2183
Gecko clamps the border radius so that adjacent corners fit into the size of the element before it creates the WebRender display list. That's why the JSFiddle does not show this problem in a Firefox+WebRender build. Presumably WebRender could do similar clamping on its side, too.

[2017-12-06 23:07] paulrouget commented on #2159
It's used by embedders like servoshell to achieve the transparent toolbar effect.

It's an important feature to us.

[2017-12-06 23:16] glennw commented on #2159
Ah, thanks for the update :)

[2017-12-06 23:16] #2159 closed

[2017-12-06 23:42] glennw commented on #2163
@nical This is what a diff view on GH looks like with Gecko built against current master WR:

![gh](https://user-images.githubusercontent.com/2350882/33691163-9b83fad0-db32-11e7-803b-aa02e0d6da8c.png)

Shall we close this now, or do you want to wait until it lands in Gecko and confirm on your machine?

[2017-12-06 23:44] glennw commented on #2175
Sounds good to me - should probably be moved under the ```servo/``` organization though.

[2017-12-07 01:45] glennw commented on #2178
Briefly recounting what I've been discussing in IRC with @kvark. That very roughly looks like ~2ms in opaque to me. On an integrated GPU, at ~4k resolution, that seems possible / reasonable amount of time to fill a rect that large.

It'd be great if we find that we are suffering costs from rejecting those extra large quads (there's probably *some* cost at least), but I'd be surprised if we saw a m

[2017-12-07 01:49] glennw commented on #2178
Following up on that, if we do the following, which are all relatively straightforward:
 * Reducing the time spent in clips (clip shader is really expensive still).
 * Fixing the batching (getting close to being able to share a lot more shaders).
 * Reducing the time spend in border rendering (border shader is really expensive for common path borders).
 * Considering partial present / raster exten

[2017-12-07 01:50] glennw commented on #2178
Oh, and also using dual-source blending for the subpx text rendering *should* give a significant win for this page, perhaps another 0.5ms off the profile.

[2017-12-07 03:13] kvark commented on #2178
@glennw raised a concern that maybe it's not about rasterization/depth-test but rather the sheer number of pixels we draw in the opaque pass. We decided to benchmark it separately for a baseline, which corresponds to an ideal case where we only draw every pixel once and the pixel shader does nothing.

I made this little tool - https://github.com/kvark/gl-bench
Try running it on your setup, exit wi

[2017-12-07 03:15] glennw commented on #2178
Thanks @kvark for setting that up! This is quite promising - it may well mean that my assumption that we aren't paying any real z-reject cost was wrong.

We should further investigate what happens if we remove those extra full pass opaque quads (even just removing them manually as a test case to benchmark).

[2017-12-07 04:02] nc4rrillo commented on #2183
Thanks for the info! I'm going to write a patch to clamp these values.

[2017-12-07 04:07] kvark commented on #2178
We started filling up the data in https://github.com/servo/webrender/wiki/GPU-fill-rate-baseline

[2017-12-07 04:31] mstange commented on #2178
I've added the data from my machine. I used RDM to switch to a non-retina resolution (2880x1800 at native 1:1 scale) so that the megapixel arithmetic worked out, because it's not HiDPI-aware. I also used gfxCardStatus to pin my machine to the integrated GPU.

[2017-12-07 07:26] nical commented on #2163
@glennw sorry I should have precised that this seem to happen with the split view rather than the unified one. Although if with the recent changes the split view also stays within 6ms of GPU time that's great and we shall close it.

[2017-12-07 07:33] nical commented on #2163
I tested again and it's a lot better now (split view included).

[2017-12-07 07:33] #2163 closed

[2017-12-07 07:57] #2051 closed

[2017-12-07 10:23] mrobinson commented on #2159
@paulrouget Thanks! If I do try to eliminate this, I'll do it in a way that preserves the functionality for clients like servoshell.

[2017-12-07 15:36] kvark commented on #2178
Numbers tell that the cost of rejecting a quad is roughly 7% of the cost of drawing it. And the cost of drawing it is significantly smaller than what we spend in the opaque pass. This means we don't understand yet where all the time has gone.

[2017-12-07 17:25] nical commented on #2036
Turns out I had some non-versioned ps_hardware_composite.vs/fs.glsl files in the res folder, probably remnants from a time where I tried a particular webrender revision with gecko that had these files while ps_hardware_composite had already moved to be single file in gecko.
Anyway, these extra files automatically got picked up by the shader includes thingy and the concatenated source ended up with

[2017-12-07 17:25] #2036 closed

[2017-12-07 18:26] mstange commented on #2174
How hard would it be to make segmentation use triangles instead of quads? Each rounded corner could be drawn as a triangle, with the vertices of the triangle being the corner of the bounding box corner and the two ends of the rounded line. This leaves an opaque shape in the center which can be covered by a triangle strip made up of 6 triangles, or alternatively by three non-axis-aligned quads:

![

[2017-12-07 18:34] mstange commented on #2174
Assembling the middle part with axis-aligned rectangles would need a lot of rectangles:

![img_0222](https://user-images.githubusercontent.com/961291/33732105-53673b10-db53-11e7-884d-edd37519505f.png)

[2017-12-07 19:01] mstange commented on #2174
We could even use a similar approach for box shadows, where the middle part needs to be inset by the blur extents:

![img_0223](https://user-images.githubusercontent.com/961291/33733218-1e0a17f4-db57-11e7-95b7-7a661d713893.png)

[2017-12-07 20:12] glennw commented on #2174
@mstange I'm actively looking into this stuff this week - since the next step for the segmenting code is to optimize the box-shadow and large border radii cases. This could be a good whiteboard topic for next week :)

[2017-12-07 20:50] mstange commented on #1802
WebRender runs in the parent process or in the GPU process (if available), so it shouldn't be affected by sandboxing unless we start sandboxing the GPU process.

[2017-12-07 22:39] LifeIsStrange commented on #1802
@TRowbotham AMD and Intel have landed a shader cache on Linux since a few months.
Source: https://www.phoronix.com/scan.php?page=search&q=shader%20cache
And for Windows I only know that AMD has a shader cache since ~2 years (the crimson driver release if I remember well).

[2017-12-08 03:18] mephisto41 opened #2197 "drop-shadow render incorrectly if the shadow close to the edge of viewport."
testcase

[code]

[2017-12-08 10:13] paulrouget commented on #2159
@mrobinson please CC me to your PR. I'll make sure it works as expected in ServoShell.

[2017-12-08 13:27] salty-horse opened #2201 "Profiler panic when replaying days-old recording"
When I try to replay a recording from two days ago, the profiler does some arithmetic on a timestamp from the recording, and crashes:

The line is: `let send_time = consume_start - send_start;`
`consume_start` is 6,034,673,744,641, `send_start` is 44,473,796,935,259. The result is negative.

[code]

Should the profiler be used at all during replays?

[2017-12-08 14:39] staktrace commented on #2167
In theory this was fixed in #2189, after the patch bounced through #2171 and #2177.

[2017-12-08 14:39] #2167 closed

[2017-12-09 00:29] #2110 closed

[2017-12-09 01:39] #2183 closed

[2017-12-09 14:07] staktrace opened #2208 "Panic when starting up gecko+webrender on Windows"
This is the panic from https://bugzilla.mozilla.org/show_bug.cgi?id=1424280#c8, which is a regression from #2162. I was able to reproduce it on a local windows debug build and got a better stack:

[code]

This points to the line at https://github.com/servo/webrender/blob/2c5c04369ac8d07ee3ba708c0f45e67e09b55581/webrender/src/renderer.rs#L970 as being the culprit.

[2017-12-09 18:09] staktrace commented on #2208
Added some logging to see what the values were:

block_offset: 8191 block_count 2 row 7 MAX_VERTEX_TEXTURE_WIDTH 1024 address.v 7 address.u 1023
thread '<unnamed>' panicked at 'index 8193 out of range for slice of length 8192', src\libcore\slice\mod.rs:746:4

So in this case block_offset (8191) is within the slice length (8192), but if you add the block_count (2) it goes over. I don't really know

[2017-12-09 19:48] mstange commented on #2174
Here's an alternative approach without triangles:

If you go back to axis-aligned rectangle segments, you could have another segment type for overlapping corners. If the bounding boxes of two corners overlap, the intersection rectangle of the two could be filled by a segment which does:

[code]

or even:

[code]
(which is equivalent if for every pixel at least one corner's alpha value is 1.0, whic

[2017-12-09 20:24] glennw commented on #2208
cc @kvark

[2017-12-09 20:30] glennw commented on #2208
I think this same panic is occurring in the WR update PR for Servo - see:

http://build.servo.org/builders/linux-rel-wpt/builds/7240/steps/shell__2/logs/filtered-wpt-errorsummary.log http://build.servo.org/builders/linux-rel-wpt/builds/7240/steps/test__1/logs/stdio
https://github.com/servo/servo/pull/19531#issuecomment-350429510

[2017-12-09 20:34] glennw commented on #2201
Ah, interesting. I guess this is since one of the timestamps is stored in the replay and one is calculated at runtime. Which does indeed mean that the IPC timings are completely wrong during a replay. I'm not sure what the easiest way is to disable it during replay, but that does sound like the correct solution.

[2017-12-09 22:42] mstange commented on #2180
I thought about this problem some more and came to a surprising conclusion: Blurring corners separately and combining them afterwards into the whole blurred box **works fine at all sizes**, even if the box is so small that the blur from one corner extends into the blur from another corner! In the overlapping part, the correct blurred result can be computed from the individually-blurred corners lik

[2017-12-10 07:42] #2208 closed

[2017-12-11 21:21] staktrace opened #2216 "Crash in webrender::tiling::add_to_batch"
GH issue for https://bugzilla.mozilla.org/show_bug.cgi?id=1424654

[code]

[2017-12-12 22:18] jrmuizel opened #2219 "reddit.com/r/overwatch has 250-300 of draw calls"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1424924

http://jrmuizel.github.io/webrender/reddit-overwatch.zip

[2017-12-12 22:49] glennw commented on #2219
Looks like a huge number of batch breaks caused by overlapping borders vs. text runs. I don't see any large # of border primitives though, so this might be a bug with zero alpha border edges or something like that?

[2017-12-13 05:29] #2168 closed

[2017-12-13 14:30] glennw opened #2220 "Consider / prototype using platform specific direct compositing APIs."
We'd like to experiment with using DirectComposite and CoreAnimation, to see what benefits there would be.

We think that a good way to prototype an initial implementation would be to implement DirectComposite for Document layers. This should be:

* A relatively straightforward implementation.
* Significant wins (e.g. not building the main content when there are loading spinners in the tab bar).
*

[2017-12-13 14:30] glennw commented on #2220
cc @kvark @jrmuizel @nical

[2017-12-13 20:48] pyfisch opened #2222 "Document and clarify `push_gradient` behavior"
cc @eqrion

How exactly should [DisplayListBuilder::push_gradient](https://doc.servo.org/webrender_api/struct.DisplayListBuilder.html#method.push_gradient) behave?

The signature is:

[code]

My understanding is is the following:

* param `info` contains information common to most "elements". Most notably a rectangle describing where on screen the "element" is located. This rectangle is filled wit

[2017-12-13 23:41] lsalzman commented on #1959
Gecko bug https://bugzilla.mozilla.org/show_bug.cgi?id=1425157

[2017-12-14 07:17] jrmuizel opened #2224 "https://osu.ppy.sh/users/124493 spends about 60ms of GPU time"
Most of the time is doing blur

[2017-12-14 14:42] glennw commented on #2224
From a quick look these appear to be inset box shadows again.

[2017-12-14 14:49] glennw commented on #2093
This got fixed.

[2017-12-14 14:49] #2093 closed

[2017-12-14 14:49] glennw commented on #2001
This happened.

[2017-12-14 14:49] #2001 closed

[2017-12-14 14:52] glennw commented on #1800
@Gankro @jrmuizel I think this could probably be closed now, in favor of opening specific issues for anything else that pops up here?

[2017-12-14 14:59] glennw commented on #2132
@kvark Is this still relevant?

[2017-12-14 15:07] glennw commented on #1502
After some discussions and thinking about it again this week, I think this may be worth pursuing. It has the potential to drastically reduce the size of display lists, and also the CPU time in WR itself.

If it would work in Gecko, the ideal interface for this would be similar to how images work. So, instead of passing a list of glyph instances in to ```add_text``` when building the display list,

[2017-12-14 15:09] #452 closed

[2017-12-14 15:48] kvark commented on #2132
Baaam!

[2017-12-14 15:48] #2132 closed

[2017-12-14 17:06] eqrion commented on #2222
@pyfisch Hi! First a disclaimer that I have not worked on webrender directly for a couple of months so my knowledge may be out of date.

If you don't mind reading some C++ code, [here](https://searchfox.org/mozilla-central/rev/b0098afaeaad24a6752aa418ca3e86eade5fab17/layout/painting/nsCSSRenderingGradients.cpp#1035) is where Gecko actually creates webrender gradient display items.

Your understand

[2017-12-14 18:41] kvark commented on #2143
Would be great to check with `RendererOptions::scatter_gpu_cache_updates` enabled

[2017-12-14 18:44] kvark commented on #2143
Actually, this profile is taken from the code base that doesn't have the new texture upload fixes in place, so even just double-checking with the current `UploadMethod::Immediate` (set by default) can prove it's fixed.

[2017-12-14 19:26] Gankro opened #2227 "Expose a cfg for uncompressed client-side DLs?"
Apparently servo wants to chuck their layout DL and just use the WR one directly. However they need to sort their layout DL after construction, so they would need a way to get the contents and sort them.

A cfg that moves the serialize back to the send, along with exposing an as_vec method to manipulate it directly, should be sufficient and low maintenance.

[2017-12-14 23:05] mrobinson commented on #2227
It would also be useful to allow Servo to maintain this list of items itself and then pass them back in during send(...). The reason is that Servo keeps a vector of items per stacking contexts before sorting.

[2017-12-15 05:11] #2174 closed

[2017-12-15 15:13] staktrace commented on #2099
Bugzilla bug to go with this: https://bugzilla.mozilla.org/show_bug.cgi?id=1425451

[2017-12-18 16:53] kvark opened #2231 "[meta] Issues of binary recordings"
Problems I encountered:
  1. Wrench player has to be built from exactly the same WR revision as the recorder, otherwise bad things happen
  2. When replaying, all of the keyboard input, title frame number, and actually displayed frame - appear to update at different moments (de-synchronized). It's difficult to fast-forward in a predictable manner.
  3. Saving frames when running with `--play` does

[2017-12-18 21:08] kvark opened #2234 "Capture: save images as PNG"
It would be useful for debugging to be able to look at the images being used by a frame. It would also reduce the size of captures, in case those are shared on the web.

Not clear how to handle non-RGBA8 formats for this. There is always an option to leave them as raw binaries, and this is what we can start with.

Another issue is the extra dependencies dragged with PNG encoder. Having `capture` e

[2017-12-18 21:14] kvark opened #2235 "Capture: flexible textual format"
When saving a capture, some could find JSON more familiar than RON. Or, perhaps, a non-default [PrettyConfig](https://docs.rs/ron/0.1.4/ron/ser/struct.PrettyConfig.html) is desired (e.g. one that includes struct names). One could even think of using `bincode` to have compact output.

We can easily have a configuration type passed over to `save_capture`. It's not entirely obvious how `load_capture`

[2017-12-18 21:21] kvark opened #2236 "Capture: support tiled blob images"
Fetching a tiled blob seems to require a separate (carefully formed) request per tile. Then we'll need to re-shuffle the data received, since it's not going to occupy a continuous block in the whole image raw.

[2017-12-18 21:23] glennw commented on #2234
In previous embedded projects, I've used TGA images as a really simple format for debug output. The encoder is just writing a header plus the image data (e.g. http://www.paulbourke.net/dataformats/tga/). It supports 24-bit and 32-bit, and is readable by most applications. A complete TGA writer is typically less than 50 lines of code.

Alternatively, we could port a minimal PNG writer, such as http

[2017-12-18 21:26] #2179 closed

[2017-12-18 21:26] #2180 closed

[2017-12-18 21:26] kvark opened #2237 "Capture: support images backed by external GL textures"
#2232 already resolves the external buffers on the renderer side. We also need to handle the case where the external source is a GL texture, by either:
  - having a dedicated FBO to attach to and read from, once per layer (!)
  - adding `glGetTexImage` support to `gleam`, then `device.rs`, and calling it

[2017-12-18 21:34] kvark opened #2238 "Capture: post-built frame layer support"
Current capturing of #2232 fetches all the internal structures used **before** building a frame. In some cases, the bugs we are seeing may occur due to accumulation effects in the internal re-used structures, such as `TextureCache` or `GpuCache`. It would be helpful to save exactly their state in a capture, and it doesn't seem to difficult.

This serialization would touch way more internal structu

[2017-12-18 21:49] kvark opened #2239 "[RFC] Capture: stable hierarchical textual representation"
There is one case where YAML is most relevant: reftests. We hand-rolled our text reftest format with the detached read/write implementations that we've been using for a year now:
  - *good*: syntax is way more stable than the actual `DisplayItem` representation (which is currently directly serialized by capturing as well as saving as RON/JSON).
  - *bad*: read and write fall out of sync, there is

[2017-12-18 22:14] jrmuizel commented on #2239
I don't feel that strongly about this. It would be interesting to see what test cases look like in this format. As an intermediate step we could keep around both forms to get a feel for the advantages/disadvantages.

[2017-12-18 23:24] jrmuizel commented on #2234
I wrote a minimal uncompressed png writer that should be easy to port https://github.com/jrmuizel/minpng/blob/master/minpng.h. That being said, Firefox already ships with all of libpng so we could just set up a simple callback api that receives the data to be encoded and returns encoded data. When not in Gecko this could use piston-image.

[2017-12-19 01:12] glennw commented on #1959
Fixed in #2223.

[2017-12-19 01:12] #1959 closed

[2017-12-19 01:12] glennw commented on #1917
Fixed in #2223.

[2017-12-19 01:12] #1917 closed

[2017-12-19 01:33] kvark commented on #2234
Note that uncomressed PNG/TGA defeats one of the pro points I mentioned in the issue. Still a good thing to get though.

[2017-12-19 02:49] glennw commented on #2127
This happened.

[2017-12-19 02:49] #2127 closed

[2017-12-19 02:51] glennw commented on #2044
Fixed by #2091.

[2017-12-19 02:51] #2044 closed

[2017-12-19 02:52] glennw commented on #2027
@Gankro Is this bug still relevant to be open in the WR repo?

[2017-12-19 02:54] glennw commented on #1800
I think this can be closed now, in favor of more specific issues if there is remaining work. Please re-open if you think otherwise.

[2017-12-19 02:54] #1800 closed

[2017-12-19 02:55] glennw commented on #1686
We handle this now as part of the ```Picture``` traversal.

[2017-12-19 02:55] #1686 closed

[2017-12-19 02:55] glennw commented on #1654
@lsalzman Is this handled on all platforms now?

[2017-12-19 02:57] glennw commented on #1273
@lsalzman This is complete on all platforms, I think?

[2017-12-19 03:00] glennw commented on #327
As far as I can tell, these are both working correctly in Gecko + WR now.

[2017-12-19 03:00] #327 closed

[2017-12-19 03:02] glennw commented on #2166
This happened.

[2017-12-19 03:02] #2166 closed

[2017-12-19 04:35] jrmuizel commented on #2027
Nope. We can close this.

[2017-12-19 04:35] #2027 closed

[2017-12-19 14:49] staktrace commented on #327
When scrolling the first link on macOS firefox nightly, I see artifacting at certain points. For example at the moment where the "Base Layer" text aligns with the "Background Layer" text things go weird, with a rect of a different color showing up and some of the tabs backrounds going partially green. This looks an awful lot like the issues in #2133, so we should probably track it there.

[2017-12-20 21:55] lsalzman commented on #1654
This will be fixed by PR #2245

[2017-12-28 21:46] pyfisch commented on #1301
Working URL: https://staktrace.github.io/moz-pages/bug/1368496/

[2018-01-02 22:48] #2222 closed

[2018-01-03 00:42] glennw commented on #2117
Is this still occurring?

[2018-01-03 00:47] glennw commented on #1544
@mstange Can this be closed?

[2018-01-03 08:07] mrobinson commented on #2216
I have a suspicion that this was fixed by https://github.com/servo/webrender/pull/2249, but due to the line numbers changing I'm not totally certain.

[2018-01-03 12:04] mstange commented on #1544
Yes, this was fixed by #1974.

[2018-01-03 17:49] #1544 closed

[2018-01-03 19:14] #2133 closed

[2018-01-03 21:16] Gankro opened #2252 "zoomed in blurred text shadows generate garbage bounding box fragments"
Try zooming in and out on this page:

[code]

![screen shot 2018-01-03 at 4 10 48 pm](https://user-images.githubusercontent.com/1136864/34540011-e92f1a8e-f0a0-11e7-8133-036958bfa805.png)

[2018-01-03 21:26] Gankro commented on #2252
Can't repro on windows.

[2018-01-03 21:32] Gankro commented on #2252
Note the example is extra complicated just to make it easier to see, and to rule out some things. This also demonstrates the issue:

[code]

[2018-01-03 21:36] Gankro commented on #2252
In theory this makes `reftests/text/shadow-single.yaml` sufficient to demonstrate the issue but it seems like zoom is somehow relevant, and wrench can't do it.

[2018-01-03 21:38] Gankro opened #2253 "wrench: support zooming / device-pixel-ratios"
Some rendering bugs like https://github.com/servo/webrender/issues/2252 only show up under zoom

[2018-01-03 21:43] Gankro commented on #2252
Actually hmm I can see this on some unzoomed characters sometimes?

[2018-01-03 21:53] Gankro commented on #2252
Or not? Seems like reset-zoom was just acting janky?

[2018-01-08 03:28] paulrouget commented on #2159
@mrobinson It's broken now. Any idea what would have broken that?

[2018-01-08 07:37] mrobinson commented on #2159
@paulrouget I'm not sure yet what broke this, but I'll try to walk back through our WebRender changes and find out where this broke.

[2018-01-08 08:34] paulrouget commented on #2159
I'm bisecting and filed https://github.com/servo/servo/issues/19718.

[2018-01-08 08:35] mrobinson commented on #2159
@paulrouget Thanks. I'll wait for the results of your bisection.

[2018-01-08 15:24] nical opened #2268 "Investigate the disabled empty rect warning in prim_store.rs"
See #2267 and #2203.

The warning was turned off because of the log spam, but it might be indicative of a bug or an inefficiency somewhere so it would be good to have another look at some point.

[2018-01-08 19:17] Gankro opened #2269 "macos: synthetic bold not working"
On my [text stress test](https://gankro.github.io/blah/webtests/text.html), the synthetic bold case doesn't seem to be working:

![screen shot 2018-01-08 at 2 11 51 pm](https://user-images.githubusercontent.com/1136864/34687898-351766fa-f47e-11e7-9ecb-756895d845f6.png)

left: vanilla firefox
right: webrender-firefox

The html is (problematic parts are the ones with "basic" as the font):

[code]

"

[2018-01-08 19:18] Gankro commented on #2269
Confirmed this works fine on windows.

[2018-01-08 19:25] Gankro commented on #2269
(Is there a way to test synthetics in wrench?)

[2018-01-08 19:39] lsalzman commented on #2269
You just need to use synthetic-bold: true

[2018-01-08 19:44] Gankro commented on #2269
Seems to work in wrench, probably a gecko bindings issue?

[2018-01-08 20:00] lsalzman commented on #2269
If you disable WR, does that case work?

[2018-01-08 20:02] Gankro commented on #2269
Yes, the screenshot shows it working without wr.

[2018-01-08 20:04] glennw commented on #1832
This happened.

[2018-01-08 20:04] #1832 closed

[2018-01-08 20:29] Gankro commented on #2269
Bugzilled since it seems like a gecko issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1428874

[2018-01-08 20:38] #2269 closed

[2018-01-09 01:20] #2253 closed

[2018-01-09 05:00] glennw commented on #1993
I'm working on this now - https://github.com/servo/webrender/pull/2271 is some prep work. Following that, I'll expand the brush segmentation support to work with box-shadow pictures, which should significantly reduce the size of the clip out masks (and in the future, they can be shared as well).

[2018-01-09 06:57] #2197 closed

[2018-01-09 13:51] staktrace commented on #2133
While bug 1420748 appears to be fixed in the latest firefox nightly, the other two bugs are still happening. I'll open separate issues for them.

[2018-01-09 13:52] staktrace opened #2272 "regression: Animation rendered all over the place with webrender"
Filing for https://bugzilla.mozilla.org/show_bug.cgi?id=1420754

This was determined to be a regression from #2069 but was not fixed by the fixes for #2133.

[2018-01-09 13:55] staktrace opened #2273 "regression: Image rendering and transform artifacts"
Filing for https://bugzilla.mozilla.org/show_bug.cgi?id=1421526 - there are two regressions noted in the bug, this issue is specifically about the second one which "destroyed the images of GET EARLY ACCESS." I never did actually confirm the regression range for it but I'll try to do that today.

[2018-01-09 19:19] staktrace opened #2274 "regression: text on superhuman.com goes behind image instead of in front"
This is to track the "first regression" in https://bugzilla.mozilla.org/show_bug.cgi?id=1421526#c1, where the "GET EARLY ACCESS" text goes from being in front of the images to behind the images. This is a regression from #2031, verified by bisection.

[2018-01-09 19:43] Gankro commented on #2252
Ok I spent some more time on this, and I've reproduced it on linux, macos, and windows. I wasn't seeing it initially on windows or wrench because it appears to be based on global effects on the cache: you need to launch a few tabs to social media sites first and then load the example and it will work. I was able to reproduce this in a binary recording in wrench as well, although if you export any

[2018-01-09 20:03] Gankro commented on #2252
I have shown @kvark how to reproduce this locally, hopefully they can figure this out >.>

[2018-01-09 20:16] staktrace commented on #2273
I've managed to narrow down the range to this:

[code]

To narrow it down any further would require a lot of work and new custom builds so I probably won't do that unless we really need it.

[2018-01-09 20:31] glennw commented on #2273
@staktrace No worries, thanks! It's almost certain to be 8253bbb3, so I think this is close enough.

[2018-01-09 20:32] Gankro opened #2275 "regression: subpixel-aa isn't used on fast-shadows"
Was fixed in https://github.com/servo/webrender/issues/1483 and there's a test for it but it's commented out saying "needs issue #1483"

[2018-01-09 20:33] glennw commented on #2252
@kvark Possibly a good use case for your new capturing WIP ? :)

[2018-01-09 22:36] Gankro commented on #2275
(at least) the following tests fail on windows because of this:

[code]

[2018-01-10 04:44] glennw commented on #2083
@kvark The work above is complete for rectangles (they are drawn as brush shaders, so there is no shader change for transformed vs. identity rects). Can this be closed, given that has landed?

[2018-01-10 16:25] kvark commented on #2252
@glennw ^_^ exactly what I was telling @Gankro :)
This needs built-frame level of capturing, which is still to implement. I'll try to make this happen after the pending PRs are done.

[2018-01-10 19:01] kvark commented on #2083
Thanks @glennw !
Ideally, we'd want to put a PR number here that addressed this.

[2018-01-10 19:01] #2083 closed

[2018-01-10 20:19] staktrace opened #2283 "regression: oblique background on https://superhuman.com/ gets drawn on chrome"
WR issue for https://bugzilla.mozilla.org/show_bug.cgi?id=1429235 and https://bugzilla.mozilla.org/show_bug.cgi?id=1429428 (which was duped to the first one). bug 1429428 has a reduced test case courtesy of Markus.

I narrowed down the regression range for this issue to this:

[code]

So it's either #2244 or #2242. /cc @glennw

[2018-01-11 11:46] romanstingler commented on #2117
yes still happening

`
Application Basics
------------------

Name: Firefox
Version: 59.0a1
Build ID: 20180110221942
Update Channel: nightly
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:59.0) Gecko/20100101 Firefox/59.0
OS: Linux 4.14.13-1-ARCH
Multiprocess Windows: 1/1 (Enabled by default)
Web Content Processes: 4/4
Stylo: content = true (enabled by default), chrome = false (disabled by default

[2018-01-11 15:59] mstange opened #2287 "Box shadows with blur and spread increase the corner radius too much"
https://bugzilla.mozilla.org/show_bug.cgi?id=1429793

[Testcase](https://bug1429793.bmoattachments.org/attachment.cgi?id=8941845)

This shadow has a spread radius.

When the shadow has no blur, then the shadow's corner radius is correct. But if it does have a blur, then the corner radius is too large.

Expected vs actual results:

![screen shot 2018-01-11 at 4 19 10 pm](https://user-images.githubu

[2018-01-11 23:15] mstange commented on #2287
I discovered this on [the box-shadow playground](http://tests.themasta.com/box-shadow-playground/#transparent_red_outset_0_0_200_200_3x0_120x120_120x120_0x0_307_143_1_52).

[2018-01-12 00:34] glennw opened #2289 "Consider storing A8 texture cache tasks as channels within the RGBA8 texture."
(File this away in the *crazy* ideas to consider one day).

When we draw A8 items in the texture cache (e.g. clip-masks, box-shadows) we draw them to a separate texture array of A8 format.

Since texture cache items use a slab allocator, the allocation sizes are generally quite uniform.

We could consider instead allocating a RGBA8 block, and storing (up to) four A8 masks in that one block, one pe

[2018-01-12 14:38] staktrace opened #2293 "regression: Specific wikipedia page: Only part of chart legend visible with WebRender"
Filing for the "second regression" reported at https://bugzilla.mozilla.org/show_bug.cgi?id=1430063 where the chart goes from having streaky lines to not showing the bottom half at all.

Narrowed down the WR regression range to this:

[code]

[2018-01-12 14:39] staktrace opened #2294 "regression: Specific wikipedia page: Semi-donut chart shows lines on the bottom half where there shouldn't be"
Filing for the "first regression" reported at https://bugzilla.mozilla.org/show_bug.cgi?id=1430063 where the chart goes from looking correct to having streaky lines in the bottom half.

Narrowed down the WR regression range to this:
[code]

So definitely from #2228.

[2018-01-12 17:31] eeejay opened #2297 "[RFC] Filters: Add color transform matrix filter"
The primary usecase would be accessibility. We are looking for a way to apply a [full-viewport color filter](https://wiki.mozilla.org/Accessibility/ColorFilters) with little performance overhead.

Besides accessibility, this can also be offered as a fast path for SVG color matrix filters (although issue #1880 would address that more holistically).

The public API change would be an extension of th

[2018-01-12 18:04] staktrace commented on #2013
There's a bunch of gecko reftests in layout/reftests/border-dotted that are currently marked failing with WR because of this issue

[2018-01-12 23:51] #788 closed

[2018-01-12 23:51] #2134 closed

[2018-01-15 10:12] mrobinson commented on #1828
Currently we support this situation by creating a an empty mask that clips to the screen boundaries of the clip chain.

https://github.com/servo/webrender/blob/f1cecd7fbb8b53d12d2f549ac3de4e9a820be775/webrender/src/prim_store.rs#L1634

We decided that this was a good tradeoff between quite of bit of added complexity in the shaders versus a very marginal performance improvement. Given that and the

[2018-01-15 10:19] mrobinson commented on #840
This should be supported by https://github.com/servo/webrender/pull/2300, though it's unclear if this is the easiest API to use for all the cases that Gecko needs.

[2018-01-15 12:27] nical opened #2303 "Wrench deadlocks when a transaction contains scrolling operations."
For some reason wrench does not wake the event loop up if there is a scrolling operation in a transaction.
see https://github.com/servo/webrender/blob/d3f72e1f4f13cc1b470fa7518710bd8e845f3e72/wrench/src/main.rs#L295

That's kinda confusing and error prone. This was probably done to avoid taking the snapshot in the middle of the updates when several things scroll, but we can better support this typ

[2018-01-15 14:31] nical commented on #2297
Sounds good to me although we should box the matrix to prevent it from making all filter ops ~88 bytes.

[2018-01-15 17:22] nical commented on #2287
What seems to be happening is that [per spec](https://drafts.csswg.org/css-backgrounds/#shadow-shape) we are adjusting the border radii of the rounded rect we are using for the shadow, but with a wrong spread value.
If I divide the spread value we use in [adjust_radius_for_box_shadow](https://github.com/servo/webrender/blob/e16c2488146d7307a2cb79e79a1a41dd2fa3850a/webrender/src/box_shadow.rs#L407)

[2018-01-15 18:54] mstange commented on #2287
That sounds like we're doing the adjustment twice instead of just once.

[2018-01-15 18:56] nical commented on #2287
Looks like it's a tad more complicated than my hunch above. One thing that strikes me as odd is that the rounded rect that we send to the shader has the correct adjusted border radii, but unadjusted rectangle dimensions. Yet the final blurred rectangle gets drawn at the correct size later and I haven't seen where the dimensions are adjusted. In any case the rectangle that is blurred out has a mism

[2018-01-15 19:59] glennw commented on #1828
That sounds good, thanks!

[2018-01-15 19:59] #1828 closed

[2018-01-16 07:21] glennw commented on #1724
We are running CI on TaskCluster now. Do we still need this open @staktrace @jrmuizel  ?

[2018-01-16 09:57] #1964 closed

[2018-01-16 09:57] #840 closed

[2018-01-16 14:43] staktrace commented on #1724
I think we can close it. Until rust-lang/rust#42867 is solved we probably won't get sccache to work on the OS X builder anyway and it might not be worth the effort unless we start building up a backlog again.

[2018-01-16 20:03] #1724 closed

[2018-01-16 22:57] KwanEsq opened #2309 "<tr> backgrounds aren't drawn correctly"
Other browsers seem to render `tr { background-color: black }` the same as  `tr > th, tr > td { background-color: black }`.  Servo does not. (Not sure where that's spec'ed, or even if it is)

Testcase: http://kwan.perix.co.uk/mozilla/tableRowBackgroundTest.html
(Correct rendering emulated on hover using cell backgrounds)

Servo rendering:
![screenshot from 2018-01-16 22-50-32](https://user-images.

[2018-01-16 23:01] glennw commented on #2309
Thanks for the bug report!

I *think* this should probably be reported as an issue in the Servo repository. It seems more likely to be related to the display list that Servo is producing, rather than something in WR itself.

[2018-01-16 23:01] mstange opened #2310 "Local clips on box shadows are ignored"
https://bugzilla.mozilla.org/show_bug.cgi?id=1416535

When Gecko has a shadow on an inline element that is broken up over multiple lines, it wants to make it look as if there really was just a single shadow, but sliced up into pieces and distributed over the multiple lines. It does that by drawing the entire shadow for each of the pieces and clipping it to just the size of that piece.

That clippi

[2018-01-16 23:03] KwanEsq commented on #2309
@glennw ... darn it, I misread my location and thought I was _in_ servo/servo (which is where I was searching for potential duplicates.  Thanks for the heads-up! I'll re-file.

[2018-01-16 23:03] #2309 closed

[2018-01-16 23:34] #2238 closed

[2018-01-17 01:30] glennw opened #2312 "[RFC] Handle image spacing by creating a pre-spaced image in the texture cache?"
Some complexity in the image shader comes from the support for spacing.

This is not a massive issue, but it does complicate a few things:
 * The image shader is more complex than otherwise, making it more difficult to unify with other similar shaders (e.g. brush_image and ps_text_run).
 * As soon as an image uses spacing, we move it to be in the alpha pass, and don't get the benefit of drawing an

[2018-01-17 01:30] glennw commented on #2312
cc @kvark @nical @jrmuizel

[2018-01-17 01:31] glennw commented on #2312
also @mstange

[2018-01-17 01:32] glennw commented on #2312
Spacing, in particular, is something that is unfortunate to pay the shader cost for on all images, since it's rarely used.

Paying the cost on spaced images by pre-rendering that image once, and removing the cost from the image shader seems like a win on the vast majority of content.

[2018-01-17 04:21] glennw opened #2314 "Support the case of rendering only a subset of the current document list."
See https://github.com/servo/webrender/pull/2313#discussion_r161952856 for more information.

[2018-01-17 09:43] nical commented on #2312
I like this a lot. For rare cases where the spacing is very big, we can always detect it and fall back to the code that creates an instance per primitive.

[2018-01-17 12:33] #2287 closed

[2018-01-17 14:08] kvark commented on #2312
In terms of performance and cleanness, having an instance per image repeat makes most sense to me. If the web author requests a google of repeats, and we populate those in the instance data, we are screwed for sure. However, what if we don't have instance data?

So here is another one:
4) Issue an instanced call to draw an image repeat per instance, but without any per-instance data. Given `gl_Ins

[2018-01-17 14:34] mstange commented on #2312
I don't have strong opinions on these suggestions, but they sound reasonable to me, and they're listed in decreasing order of usefulness.

Spaced repeats are used extremely rarely. The CSS property/value combination `background-repeat: space` is not very well-known and hasn't been universally supported until fairly recently. It's a good approach to only make users of this feature pay for it, rathe

[2018-01-17 15:51] #1993 closed

[2018-01-17 18:05] mstange commented on #2310
@demo99 has started working on this bug.

[2018-01-17 18:36] #1928 closed

[2018-01-17 22:17] glennw commented on #2100
This seems resolved after #1961. I see GPU times around 6-7ms with the review modal open, and around 4-6ms when that is closed. There's still a heap of performance wins available to come on this page, but they are general optimizations (e.g. border shader, batching performance etc).

[2018-01-17 22:17] #2100 closed

[2018-01-17 22:18] glennw commented on #2100
@mstange Feel free to re-open if you'd rather verify on your machine after Gecko takes the next WR update.

[2018-01-17 22:22] glennw commented on #1840
Profiling shows that in this page, every image has a rotation transform applied. Due to the way the legacy ```ps_image``` shader works, that means every image is going through the alpha pass. I'll work on switching the image shader to be a brush shader, which can then opt in to segment building. This should fix any performance issues on this page.

[2018-01-18 00:21] glennw commented on #2023
I added a ref test in https://github.com/servo/webrender/pull/2320 that can be used when working on this bug.

I think what we'll probably want to end up with is a render task that manually creates mip-mips for a given entry of the texture cache.

This seems like a reasonable guide with example code to creating mips manually for non-p2 textures - http://download.nvidia.com/developer/Papers/2005/NP

[2018-01-18 00:22] glennw commented on #2023
@kvark Does the above make sense to you, or do you have other ideas?

[2018-01-18 01:03] Gankro opened #2321 "clip-rects in blurred shadows incorrectly handled"
Here's a modified version of `shadow-clip-rect.yaml` where I've truncated the clip on the right-side, added a blur, and expanded the bounds in all other directions.

Although only the elements have clip-rects, the blur of the *shadow* ends up being visually clipped as well. In addition, if I shrink the clip further on one of the elements, nothing happens at all (it doesn't even get clipped more!).

[2018-01-18 01:09] Gankro commented on #2321
More dramatic example. Top: actual text, middle blurred shadow, bottom unblurred shadow.

<img width="174" alt="screen shot 2018-01-17 at 8 08 18 pm" src="https://user-images.githubusercontent.com/1136864/35075643-495fd4b2-fbc2-11e7-9ddc-3e8cbb130802.png">

[code]

[2018-01-18 01:37] kvark commented on #2023
@glennw makes sense. Your permanent render task cache comes handy :)

[2018-01-18 01:39] glennw commented on #2023
@kvark @nical One thing I'm unsure of is whether we choose to create mips for *all* items in the texture cache, or have some heuristic and try to create mips only where it makes sense. This could also complicate the shader and/or batching logic, depending on if we need to select a mode that use mips or not. Thoughts?

[2018-01-18 03:02] kvark commented on #2023
@glennw I believe we don't need this for most of the images, so should be doing on demand only.

[2018-01-18 03:31] glennw commented on #2294
I did some investigation of this - that bisect is not quite correct. It occurred in https://github.com/servo/webrender/pull/2242 which merged just after that.

I can see what the problem is, but I'm not sure of the correct fix. @mrobinson could you take a look at this?

A reduced test case:

[code]

After that PR, this displays as a fairly large rectangle. Before that PR, this will correctly have

[2018-01-18 13:55] nical opened #2322 "Merge ResourceUpdate and Transaction."
`ResourceUpdate` was a first step in the direction of bundling several operations in a single API message, and `Transaction` offers that as well with in a more powerful way. We can just move `ResourceUpdates` methods directly in `Transaction` to simplify the API a bit.

[2018-01-18 17:13] eeejay commented on #2297
I don't know how to do that while keeping the FilterOp copyable. Total Rust newb here.

[2018-01-18 18:54] fschutt opened #2325 "Using rusttype instead of freetype?"
Just a question, but is the webrender team aware of [rusttype](https://github.com/redox-os/rusttype)? Is there any reason why you are using freetype instead? Right now, you have to ship the freetype DLL with the binary, which complicates deployment.

Is it planned to migrate to rusttype in the future or is the team not interested?

[2018-01-18 19:01] jrmuizel commented on #2325
Yep, we're aware. rusttype doesn't have enough features to give native looking fonts (e.g. it's missing hinting and opentype outline support).

You shouldn't need to ship freetype though, instead you can just use the system freetype.

[2018-01-18 19:17] fschutt commented on #2325
What do you mean by "system freetype"? On Windows, you still have to ship the DLL, or am I missing something?

[2018-01-18 19:24] leeoniya commented on #2325
isnt the plan to use pathfinder for glyph & path rendering? it already supports hinting and outlines i think.

https://github.com/pcwalton/pathfinder

[2018-01-18 19:28] jrmuizel commented on #2325
On Windows WebRender uses DirectWrite and on macOS it uses CoreGraphics so we don't need FreeType on those platforms.

Pathfinder doesn't have sufficient hinting support to replace the OS stuff yet, we're not exactly sure what are our plan to deal with that will be.

[2018-01-18 19:54] staktrace commented on #2294
It depends on the STR you use - there are two changes in behavior reported in bug 1430063 comment 1. I filed this issue and #2293 for them. #2242 is in the regression range for #2293, so that might be what you're seeing. That being said maybe I shouldn't have filed two issues since that's probably just confusing the matter further.

[2018-01-18 20:00] jrmuizel commented on #2325
We'll close it for now and can file something new if rusttype becomes more mature.

[2018-01-18 20:00] #2325 closed

[2018-01-18 22:36] Gankro commented on #2321
@ethlin, does this looks like it's just https://bugzilla.mozilla.org/show_bug.cgi?id=1416535 ?

[2018-01-19 03:32] glennw commented on #2294
Fixed by https://github.com/servo/webrender/pull/2324.

[2018-01-19 03:32] #2294 closed

[2018-01-19 18:30] mstange commented on #2310
Here's Ethan's patch from his try push:

[code]

[2018-01-19 22:04] staktrace opened #2327 "regression: white bars on tabs when loading whatsapp"
Filing for https://bugzilla.mozilla.org/show_bug.cgi?id=1431575

Narrowed the regression range down to:

[code]

Let me know if you want it narrowed down further, I'll have to do builds.

[2018-01-19 22:13] glennw commented on #2327
No need to narrow it down further, that's a big help already, thanks!

[2018-01-20 00:08] pcwalton commented on #2312
Didn't Servo hit this exact problem years ago? :)

I think prerendering the spacing into the texture cache seems like the way to go.

I'm worried about the vertex shading and rasterization engine load for large repeats of 1px images. We hit this fairly early on in Servo, as above.

[2018-01-20 02:09] kvark commented on #2312
Is this a hypothetical valid use-case we are talking about or just a malicious/benchmarking web page? If the former, can I see a link? If the latter, we should really be fine with doing lots of GPU work, as long as we don't hang/crash.

[2018-01-20 02:23] pcwalton commented on #2312
I remember it being a problem years ago in Servo. I don't remember the pages offhand. But people do have tiny repeated backgrounds. Google brings up http://supernovathemes.com/55-small-lite-background-images-for-website-you-can-repeat/

[2018-01-20 11:25] demo99 commented on #2310
Markus, thanks. I have a branch for it: https://github.com/demo99/webrender/commit/b765e98f3cddb7a824fd801879efeba07ef94f43. There are two wrench tests for this clipping problem in the branch. IIRC, there is another wrench test that needs to be modified, but I lost my latest patch. I probably can't keep working on this issue. It would be good if you or anyone want to finish the patch. Thanks.

[2018-01-21 05:33] Darkspirit commented on #2283
I think this got fixed by #2324. (https://bugzilla.mozilla.org/show_bug.cgi?id=1429235#c5)

[2018-01-21 15:35] pyfisch opened #2328 "SetGradientStops missing with debug-serialization"
Hi,
I found that serializing a BuiltDisplayList with the "debug-serialization" feature omits the `SetGradientStops` items.

BTW I am curious to hear why the gradient stops are separate items instead of being part of gradient and radial gradient.

* [serialized display list](https://gist.github.com/pyfisch/29af74e0ebffc2d6287ef806143c3cd4)
* Rendering: ![simple-gradient](https://user-images.githubu

[2018-01-21 16:03] Darkspirit commented on #2293
The chart legend is now visible again.

[2018-01-21 20:11] glennw commented on #2293
Assuming this can be closed now, please re-open otherwise!

[2018-01-21 20:11] #2293 closed

[2018-01-21 20:25] Darkspirit commented on #2176
I think this can be closed. (https://bugzilla.mozilla.org/show_bug.cgi?id=1418718#c15)

[2018-01-21 20:47] #2283 closed

[2018-01-21 20:50] #2176 closed

[2018-01-23 15:45] kvark commented on #2237
Implemented by #2326
There are known issues with external images, to be fixed in follow-ups.

[2018-01-23 15:45] #2237 closed

[2018-01-23 15:45] kvark commented on #2234
Implemented in #2326
Switched on by "png" feature.

[2018-01-23 15:45] #2234 closed

[2018-01-23 19:15] staktrace commented on #2099
So after investigating some more, I think we still have this problem, and the transaction stuff didn't really fix the underlying problem. That is, the build step (triggered by `SetDisplayList`) and the render step (triggered by `GenerateFrame`) still happen in separate transactions, so it's possible for a HitTest request to get handled in between.

I agree with @mrobinson that ideally the hit-test

[2018-01-23 19:33] lsalzman commented on #1690
@glennw This is fixed now, can we close?

[2018-01-23 20:20] #1690 closed

[2018-01-23 23:04] glennw commented on #2068
I think this is fixed by https://github.com/servo/webrender/pull/2307 - are you able to confirm?

[2018-01-23 23:25] nc4rrillo commented on #2068
Yes can confirm that fixed it.

[2018-01-23 23:25] #2068 closed

[2018-01-24 00:31] glennw commented on #1436
I believe this is handled now (based on the comment above). Please re-open if work remains here.

[2018-01-24 00:31] #1436 closed

[2018-01-24 00:42] glennw commented on #2224
This no longer seems to be an issue - I see ~5-6ms GPU time on my HD4600 GPU. Please re-open if still an issue.

[2018-01-24 00:42] #2224 closed

[2018-01-24 00:47] glennw commented on #2231
@kvark Do we need to keep this open? Should we just remove the old binary recording code completely now?

[2018-01-24 00:51] glennw commented on #2182
This is resolved fixed in bugzilla.

[2018-01-24 00:51] #2182 closed

[2018-01-24 00:53] glennw commented on #2144
I don't think there's anything WR-related to be done here, it seems like this would be Gecko work. Please re-open if that's not right.

[2018-01-24 00:53] #2144 closed

[2018-01-24 01:05] glennw commented on #2057
I ran through the MM test suite today, and was unable to reproduce this. Has anyone seen this recently?

[2018-01-24 01:08] glennw commented on #2106
We now use the FBO functionality of texture cache pages as storage for the persistent render task cache. There's some questions over how we may want to arrange this in the future, but for now at least, we need to FBO attachment to each texture cache page.

[2018-01-24 01:08] #2106 closed

[2018-01-24 01:16] glennw commented on #2252
I was unable to reproduce this on Linux - either via Gecko or replaying the recording in wrench. Might only appear on mac?

[2018-01-24 01:43] Darkspirit opened #2334 "regression: broken images on https://testpilot.firefox.com/experiments"
https://testpilot.firefox.com/experiments
Regressed by #2243.
https://bugzilla.mozilla.org/show_bug.cgi?id=1432685

[2018-01-24 02:09] kvark commented on #2231
I wouldn't rush with removing it yet. The new capturing is not continuous, let's give it some time to mature before considering to remove the recording. I'd keep this open for as long as it's either fixed, or the whole thing is removed :)

[2018-01-24 05:33] glennw commented on #2085
We now use dual-source blending where it is available, so I don't think there's anything else to do here.

[2018-01-24 05:33] #2085 closed

[2018-01-24 06:03] glennw commented on #1759
This happened - we can open more specific bugs for further planned changes to the clip-scroll tree structure.

[2018-01-24 06:03] #1759 closed

[2018-01-24 06:08] glennw commented on #1654
#2245 has merged, closing as per comment above.

[2018-01-24 06:08] #1654 closed

[2018-01-24 06:16] glennw commented on #1273
@lsalzman Anything else to do here?

[2018-01-24 06:17] glennw commented on #1086
This got fixed.

[2018-01-24 06:17] #1086 closed

[2018-01-24 06:25] glennw commented on #1079
Related to #2312.

[2018-01-24 13:36] staktrace commented on #2099
#2333 has merged. Leaving this issue open for a more correct fix that will undo #2333 and instead do some sort of double-buffering for the clip scroll tree so that when `SetDisplayList` is called it doesn't clobber the one from the last rendered frame. Note that if we want to move the `build_scene` step onto a worker thread as opposed to leaving it on the render backend thread (which is what @nica

[2018-01-24 13:39] lsalzman commented on #1273
This is done.

[2018-01-24 13:56] staktrace opened #2336 "regression: tab label alpha gradient is showing incorrectly"
Filing for https://bugzilla.mozilla.org/show_bug.cgi?id=1432101 - there are STR in comment 4 of that bug.

Regression range is:
[code]

So #2311 seems to be the culprit here.

[2018-01-24 14:07] staktrace opened #2337 "regression: embedded rotate transform inside perspective style produces incorrect Z order"
Filing for bug https://bugzilla.mozilla.org/show_bug.cgi?id=1432665 which has a reduced test case attached to the bug. This is a regression from #2031

[2018-01-24 16:14] staktrace opened #2339 "assertion failure in clear_target: DEPTH_WRITEMASK is 0"
Filing for https://bugzilla.mozilla.org/show_bug.cgi?id=1432819, seems to be an intermittent failure in mozilla-central CI. The panic is coming from [this line](https://github.com/servo/webrender/blob/e9269c7e06e20363be0b2a2a1be98d292ff7acca/webrender/src/device.rs#L1881) - apparently both arguments are 0 so the debug_assert_ne is failing.

[2018-01-24 17:36] kvark commented on #2339
Good, means we have a logic bug and now my new checks panic on it. Hope it's not too annoying for Gecko. I'll look into it.

[2018-01-24 18:44] kvark commented on #2339
Hmm, scanning the code it seems pretty solid on enforcing the invariants about depth clearing. Could we get a more detailed @staktrace (no pun!)?

[2018-01-24 19:52] #1273 closed

[2018-01-24 19:57] staktrace commented on #2339
The log pointed to in the bug has a stacktrace which isn't properly symbolicated. I pulled the xul.sym file for the build (it's in the target.crashreporter-symbols-full.zip artifact that's uploaded for the build job corresponding to the test job that failed) and did some symbolication-by-hand for the addresses. I got the xul.dll base address from the c6b19016-5e9e-4177-8bee-9530b869c841.extra arti

[2018-01-24 20:00] jrmuizel commented on #1502
In thinking about this more, it's not as easy as I thought to know which text run we're in. i.e. A single Gecko object corresponds to multiple text runs depending on the contents of the text run. We'd need to think about how to make these ids stable.

[2018-01-24 20:09] kvark commented on #2339
Thanks!

The fact it's an intermittent is worrying though. The assertion is pretty deterministic.
Might be a sign of a memory corruption affecting either WR or the driver.

[2018-01-24 20:34] glennw commented on #1502
I *think* we can detect this internally at a minimal cost, so I wouldn't worry too much about it on the Gecko side, for now.

[2018-01-24 20:45] #2252 closed

[2018-01-24 23:24] #2112 closed

[2018-01-25 06:15] glennw commented on #2337
I can see the cause of this - I'll work on fixing this next week. Note to self - when we run the polygon split, we don't order the resulting polygons correct with regard to the un-transformed items in the parent stacking context.

[2018-01-25 06:17] glennw commented on #407
@kvark should we keep this open? Is there anything actionable in here for WR?

[2018-01-25 06:19] glennw commented on #1253
@kvark Do we want to do this anymore? I assume we'll deprecate / remove the binary record at some point in the future, so we probably don't need to do this?

[2018-01-25 06:22] glennw commented on #1589
I'm not sure we need this now - we are (reasonably) careful about ensuring a gecko try run before merging anything that changes functionality and/or API these days. Should we close this or is it still useful to have? @jrmuizel @staktrace @kvark

[2018-01-25 06:26] glennw commented on #1288
I opened this test in Linux and was unable to reproduce - I didn't see any of the errors above, they looked pixel-perfect when zooming as well.

[2018-01-25 06:26] #1288 closed

[2018-01-25 06:38] glennw commented on #2337
Reduced test case:

[code]

[2018-01-25 09:31] hgallagher1993 commented on #2057
I built the latest Servo in release mode yesterday and ya there was no assertion failed when I ran motion mark.

[2018-01-25 10:25] romanstingler commented on #2117
In FF 60 still not fixed
depending on the cursor position the view is rendered differently.
upside down, normal, most of the time zoomed and upside down, also zoom value changes just by moving the mouse a few pixles around

![screenshot from 2018-01-25 11-19-14](https://user-images.githubusercontent.com/5576250/35383282-1c3673e6-01c2-11e8-802f-36979edf6664.png)
![screenshot from 2018-01-25 11-18-3

[2018-01-25 13:50] staktrace commented on #1589
I'm fine with closing this. I've given this some thought and doing it in an automated way is going to be a bunch of effort and probably not worth it.

[2018-01-25 14:54] kvark commented on #407
This has been considered, twice - to be precise, and is happening as we speak ;)

[2018-01-25 14:54] #407 closed

[2018-01-25 16:13] kvark commented on #1253
@glennw I don't think we can remove this until the new capturing gets any sort of continuous recording. Let's keep this open with low priority and "help needed"? It doesn't appear to involve a ton of work.

[2018-01-25 17:10] kvark commented on #2057
Ok, closing then. Thanks!

[2018-01-25 17:10] #2057 closed

[2018-01-25 19:04] kvark opened #2342 "Capture portability: fonts"
Font structures are platform specific, they prevent us from replaying a capture on a different machine. Technically, this should only affect `SCENE`-level captures, but we currently don't have an ability to only save the `FRAME` level without also saving/loading the basics.

[2018-01-25 19:10] staktrace commented on #2339
Apparently it was on a broken machine, https://bugzilla.mozilla.org/show_bug.cgi?id=1432819#c2

[2018-01-25 19:10] #2339 closed

[2018-01-25 19:17] #1589 closed

[2018-01-26 14:20] nical opened #2345 "Get notifications when pipelines are removed."
We use epochs (see `Renderer::flush_rendered_epochs`) to track where the renderer is at and manage the lifetime of resources that are used by the renderer but owned by another thread. This works well except when we remove a pipeline, because we never get the notification for the last epoch of that pipeline and this results in leaks in gecko as we keep waiting for a rendered epoch notification that

[2018-01-29 02:56] #2342 closed

[2018-01-29 04:28] #1622 closed

[2018-01-29 15:19] Gankro commented on #2252
Confirmed that I can't reproduce this on firefox nightly anymore (macos).

[2018-01-29 17:39] SimonSapin opened #2356 ""CreateWindowEx function failed: The operation completed successfully""
After building WebRender on Windows 10, if I run wrench or one of the example applications I get this output:

[code]

The code that creates this `Result::Err(…)` value is:

https://github.com/servo/glutin/blob/v0.14.0/src/api/win32/init.rs#L162-L174
[code]

Any idea what could cause this? Are there per-requisites for running WebRender on Windows?

[2018-01-29 19:24] jrmuizel commented on #2356
I can reproduce this. I'm not sure what's wrong.

[2018-01-29 19:34] jrmuizel commented on #2356
I can, in fact, reproduce by just trying to run the 'window' example from the servo-glutin repository.

[2018-01-29 19:36] jrmuizel commented on #2356
@sotaroikeda can we switch back to regular glutin from servo-glutin? It looks like servo is dropping support for servo-glutin: https://github.com/servo/servo/pull/19895

[2018-01-29 19:56] kvark opened #2357 "Debug controls for cache invalidation"
When discovering Gecko visual issues, taking a capture is the best solution to provide us with data. It does involve, however, a few steps:
  1. key combo (currently has issues on Windows)
  2. discovering where the capture folder is
  3. uploading 100Mb+ somewhere for us

As a quick alternative, it would be great to be able to quickly reset certain parts of the pipeline using debug triggers:
  -

[2018-01-29 20:32] glennw commented on #2356
I've been running wrench successfully on Win10 without any issues for a couple of months, I'm not sure what the different here is. Nonetheless, switching us to use upstream glutin makes sense to me - if there's an issue with that, we should probably try to resolve it and stop using servo-glutin, which is (mostly) unmaintained.

[2018-01-29 21:15] kvark commented on #407
@Kerollmops this is the active branch - https://github.com/szeged/webrender/tree/gfx_hal
We'll setup a Waffle board or something for easier tracking.

[2018-01-29 21:31] Kerollmops commented on #407
Ho ! I searched for a branch named `gfx` or something on the main fork and I missed it obviously ! Thank you !

[2018-01-29 21:40] SimonSapin commented on #2356
This appears to be a bug in servo-glutin, since using glutin 0.7 instead works. (0.7 because WebRender’s examples don’t compile with more recent versions)

[2018-01-30 14:35] SimonSapin commented on #2356
*Downgrading* servo-glutin from 0.14.0 to 0.13.4 also works. I tried that based on @jdm’s comment at https://github.com/servo/servo/issues/19901#issuecomment-361590184.

Commit range: https://github.com/servo/glutin/compare/servo-v0.13.4...v0.14.0. The winapi update looks relevant: https://github.com/servo/glutin/commit/1887503ba1a1b919c1aeb1e6dfc283540f739b24 but it’s a fairly big diff.

[2018-01-30 14:41] jdm commented on #2356
All of the changes in the winapi diff look like they're just removing prefixes in names, unfortunately. It may be an issue in the actual winapi implementation somewhere :(

[2018-01-30 15:25] SimonSapin commented on #2356
@retep998, other than the `as LPCWSTR` cast which I’ve verified is unnecessary, do you see anything suspicious around the `CreateWindowExW` call in this diff?

https://github.com/servo/glutin/pull/140/files#diff-337839224920efa7748d62b99d666952R162

[2018-01-30 16:45] jrmuizel opened #2363 "[meta] WebRender CPU time"
I was playing around with the new perf-script --inline. Using https://github.com/jrmuizel/perf-convert I made the following profiles of the overwatch reddit page:

With inline frames:
https://perfht.ml/2nnluto
Without inline frames:
https://perfht.ml/2nmdNDp

There's nothing super important to deal with here, but it's still interesting to look at.

[2018-01-30 19:00] kvark commented on #2363
Somewhat heavy ops we found:
  - `evict_old_blocks`
  - `HashMap` access
  - heap allocations (might be related ^)

[2018-01-30 19:12] kvark commented on #2356
As a random thought, we could compare the API calls with something like this: http://jacquelin.potier.free.fr/winapioverride32/

[2018-01-31 02:08] kvark commented on #1288
@Gankro please remind me tomorrow. I recall you were able to reproduce it. Now we just need to capture it :)

[2018-01-31 02:22] Gankro commented on #1288
Yeah I'll double check it on hawkman. I expect this has gone away since y'all have rewritten the border shaders like twice since I filed this bug?

[2018-01-31 08:52] mrobinson commented on #2363
We're gradually moving toward moving the ClipScrollTree to array indexing instead of HashMap access, so that should be helpful here.

[2018-01-31 11:01] sotaroikeda commented on #2356
It seems possible now.  It was changed since glutin was broken for several months for refactoring.

[2018-02-01 15:23] kvark commented on #407
https://waffle.io/szeged/webrender

Current progress is super promising 🤞

[2018-02-01 18:21] kvark opened #2370 "Lazily tile images"
Since the blob image doesn't have to be stored in full anywhere, the incoming size is not limited by anything. We are currently tiling all images eagerly in `decompose_image`, which may produce near-infinite number of primitives for extra large images. We should have a different code path for blobs that would only tile the visible parts of an image.

cc @Gankro @nical

[2018-02-01 18:57] Gankro commented on #2370
For the sake of getting our CI up and running, I will be mitigating this a bit in gecko (by not emitting a blob image for a content-less video), but this is just a whack-a-mole game, so we should still do this.

[2018-02-01 20:18] glennw commented on #2370
This is interesting timing.

I've been thinking a bit about (and prototyping) the changes necessary to (a) enable segments / brushes for images and (b) use pre-rendering to allow removing spacing / repeat from the image shader.

As part of this, I was questioning whether the image tiling should be moved inside a single image primitive and handled there. Doing that would allow us to do the tiling l

[2018-02-01 20:21] glennw commented on #2370
Another potential benefit of this - very large non-blob images could then make use of the normal texture cache pages, since they would be tiled to the size of the largest available texture cache slab, without involving a standalone texture cache page.

[2018-02-01 22:04] Gankro commented on #2321
Figured out why the clip seems to be unioned: it is, when computing the bounding box of the picture. The real question is why when drawing the sub-primitives we're ignoring(?) their local_clip_rect.