[2017-02-07 22:05] #654 closed

[2017-02-07 22:06] glennw commented on #661
This was fixed in https://github.com/servo/webrender/pull/779.

[2017-02-07 22:06] #661 closed

[2017-02-07 22:08] glennw commented on #706
This is supported now for initialization, via https://github.com/servo/webrender/pull/768. Let's open more specific issues for follow ups (better errors etc).

[2017-02-07 22:08] #706 closed

[2017-02-07 22:08] glennw commented on #720
@jrmuizel This is resolved now, isn't it?

[2017-02-07 22:09] glennw commented on #816
Closing since this is related to the X server in use, not WR specific.

[2017-02-07 22:09] #816 closed

[2017-02-07 22:10] glennw commented on #777
I think it's fine to implement as a shader operation, for now. We can file a follow up / optimization issue to use blend modes where applicable.

[2017-02-07 22:21] #720 closed

[2017-02-07 23:13] nical commented on #593
yep https://github.com/servo/webrender/wiki/Links-to-useful-resources#useful-tools

[2017-02-07 23:13] #593 closed

[2017-02-08 11:02] nox opened #848 "Clean up the IPC/MPSC split"
Features are supposed to be additive, the two interfaces for IPC and MPSC channels are so different that code can fail to build if the other kind of channel was expected.

I think the MPSC system should always be built, and IPC be feature-gated. Why was the split needed anyway @glennw?

[2017-02-08 11:04] nox opened #849 "Enable IRC bot"
Issues filed here don't get advertised on #servo.

[2017-02-08 11:39] nox commented on #848
IMO we should have a crate with a trait to describe a kind of channel, and with a sensible API that fits both MPSC and IPC.

Taking into account https://github.com/servo/ipc-channel/issues/138, we could have something like that:

[code]

I'm not sure if we can have a sufficiently-flexible trait system to parameterise most stuff in WR just by a `Channel` trait, without the `T` parameter.

[2017-02-08 12:13] SimonSapin commented on #848
That requires higher-kinded types or associated type constructors. I think the latter is likely to be added to the languages: https://github.com/rust-lang/rfcs/pull/1598 but it’s not there yet.

[2017-02-08 16:08] staktrace commented on #819
I think #852 is intended to fix this.

[2017-02-08 16:10] kvark commented on #402
We (as in - Quantum Rendering team) came up with a different API to provide SVG support:
https://public.etherpad-mozilla.org/p/wr-toronto#lineNumber=176

First preparations are already in flight - #852
There are no plans currently to have SVG primitives defined as proposed in this issue, so I suppose it should be closed, but leaving this luxury to @jdm.

[2017-02-08 16:16] antrik commented on #848
@nox note that `T: Clone` means you can't send a receiver over a channel...

While taking the data by reference here -- along with https://github.com/servo/ipc-channel/issues/138 -- would avoid unnecessary extra copies in the IPC case if the sender wants to keep the data, at the same time it adds an unnecessary `clone()` in the MPSC case if the sender *doesn't* need to keep the data. I think the o

[2017-02-08 16:38] emilio commented on #849
See also https://github.com/servo/rust-bindgen/issues/375#issuecomment-269927296, I believe the bot is enabled in this repo too.

[2017-02-08 18:03] jrmuizel commented on #402
I think it's probably still worth pursuing this approach. I think there's still value in having webrender understand the scene as much as possible. However, we'll likely use the vector image support in Gecko first.

[2017-02-08 18:54] kvark commented on #720
AFAIK, wrench crashes when zooming in on a mac, but is generally usable.

[2017-02-08 19:16] glennw commented on #848
It's needed because some projects don't want the dependency / overhead of ipc-channel (they use a different IPC mechanism).

[2017-02-08 23:03] #842 closed

[2017-02-10 19:16] kvark opened #859 "Figure out the StackingContext bounds semantics"
Since we move the `ClipRegion` from StackingContext to ScrollLayer, SC can no longer clip contents, so the bounds seem to lack the function.

@mrobinson

Sounds like we need an offset there on the API side, and the actual size would be computed internally as an implementation detail.

[2017-02-10 19:38] glennw commented on #859
I agree - it makes sense for this to become an offset / origin. We should handle the bounds internally.

[2017-02-10 22:13] jrmuizel opened #861 "wrench uses content-size and content_size"
One for writing and one for reading. It should use the same.

[2017-02-11 08:11] mrobinson commented on #859
Long-term perhaps it makes sense to move to an API where there are effect groups and transformations and everything is positioned relatively to the nearest transformation ancestor. I haven't really decided what kind of API is better myself.

[2017-02-11 15:56] nox opened #864 "Properly follow semver"
Even if WR isn't published on crates.io, it's extremely difficult to follow along which PRs are introducing breaking changes, and it makes any crate bump such as serde more difficult than they are already.

PRs should properly bump version numbers, at least when they include breaking changes.

[2017-02-11 16:38] jrmuizel opened #865 "Some images are not rendered"
In http://people.mozilla.org/~jmuizelaar/tmp/buggy.zip there should be colored images in all of the boxes. The last two images are not rendered. Commenting out some of the earlier images makes the the last two ones appear.

This is causing reftest regressions in Gecko.

[2017-02-11 19:30] jrmuizel commented on #865
http://people.mozilla.org/~jmuizelaar/tmp/buggy-clean.zip is an easier to read version of the above.

[2017-02-12 13:41] nox opened #869 "Clean up the ipc feature of webrender_traits"
This feature is badly implemented, because it is not additive, and relies on changing the definition of public type aliases.

[2017-02-13 18:07] nical commented on #620
I am looking into this. I'll first work on getting the logic in place to split large images into smaller ones and and make sure  these sub primitives are requested and uploaded lazily. But it will still use the texture cache like regular images. Whether and how to use texture arrays for this is something that can be solved separately.

[2017-02-13 22:28] #865 closed

[2017-02-14 10:26] nical opened #876 "[Meta] Bullet-proof WebRender"
WebRender doesn't currently have much in the way of handling/recovering from errors. It wouldn't hurt to start talking about this.

Recovering doesn't necessarily mean be able to render the current or next frame properly, but ideally notify that something is not working so that the embedding application can decide what to do (possibly shut down WebRender and fall back to some other rendering mecha

[2017-02-14 13:46] nical commented on #620
The first issue I am running into is that it is pretty hard to support repeating images once their tiled. One way to work around this is to have two fallbacks for large images: one that down-scales on the CPU before inserting in the texture cache, and one that does the actual tiling. we'd only use the tiling for non-repeating image display items.

Another way to look at it is to simply not support

[2017-02-14 21:39] jrmuizel opened #879 "Support border-image"
We need this for rendering Gecko's chrome. We should first come up with an idea of what the interface needs to be.

See also https://github.com/servo/servo/issues/13003

[2017-02-14 22:21] glennw commented on #879
@jrmuizel Do you already have something in mind for the interface to this?

[2017-02-14 22:22] jrmuizel commented on #879
I do not.

[2017-02-14 22:29] staktrace opened #880 "Add Taskcluster CI for webrender"
@jrmuizel wanted to try running webrender CI on taskcluster instead of travis to maybe speed things up. Doing this is fairly straightforward, see http://code.v.igoro.us/posts/2017/02/taskcluster-github-improvements.html and https://tools.taskcluster.net/quickstart/.

I built a docker image and taskcluster script to try this out, and have a sample CI run currently in progress at https://tools.taskc

[2017-02-14 22:40] jrmuizel opened #881 "split up travis job into debug and release"
Travis supports parallelizing builds we should use this for separate debug and release:
https://docs.travis-ci.com/user/speeding-up-the-build/#Parallelizing-your-builds-across-virtual-machines

The mechanism for doing this is somewhat opaque so I haven't figured out the best approach yet. It looks like we can set an environment variable and do different things depending on that.

[2017-02-14 22:55] jrmuizel commented on #881
I implemented this in #882

[2017-02-14 23:01] staktrace commented on #880
The CI run took 34 minutes and completed successfully.

[2017-02-14 23:55] jrmuizel opened #884 "wrench crashes during replay if you press the arrow keys too soon."
This patch helps out but is pretty yucky
[code]

[2017-02-15 03:08] glennw commented on #879
I've had a brief look at the specification. It seems like we could modify the existing ```BorderDisplayItem``` from:

[code]

to something like:

[code]

Does that seem reasonable?

[2017-02-15 04:59] glennw commented on #879
We'd also extend the ImageBorder to be able to specify a gradient or an image key - by extracting the parts of GradientDisplayItem into a standalone Gradient struct.

[2017-02-15 07:28] glennw opened #887 "Add two rectangle structures to prim_shared.glsl"
We should have two Rect structures in prim_shared.glsl - one for (p0, p1) form and one for (p0, size) form.

Update all our shader code and structs to use them instead of vec4.

Using these would avoid error prone shader calculations involving rectangles.

[2017-02-15 19:32] staktrace commented on #880
I also tried splitting the debug vs release tests. You can see it in the task group at https://tools.taskcluster.net/task-group-inspector/#/MVjO8EHCQUS1FVfM8Bb6uA - the debug stuff took ~17 minutes and the release-mode build and reftests took ~35 minutes. So splitting it doesn't seem to really help much, at least on taskcluster.

[2017-02-15 23:19] jrmuizel opened #889 "Change RGBA format images to be interpreted as premultiplied alpha"
Currently it seems like webrender assumes that RGBA images are not premultiplied. This is an inconvenient assumption because nearly all of the images that Gecko produces are premultiplied. Servo also seems to assume premultiplied in some cases https://github.com/servo/servo/issues/15578. The easiest thing to do is probably just for Servo to premultiply png images before sending them to webrender.

[2017-02-15 23:21] jamienicol commented on #889
I can have a look at this.

[2017-02-15 23:43] glennw commented on #889
Great! I think we should have the Servo-side patches ready to go before we land this in WR, so we can do a full test run and make sure everything passes. Let me know if you need any help with that part.

[2017-02-16 19:42] jrmuizel commented on #889
Here's a servo side patch
[code]

[2017-02-17 01:53] changm opened #893 "Inset box shadows don't work"
E.g., nothing gets rendered.

[2017-02-17 02:28] jrmuizel opened #894 "panic in handle_primitive_run"
http://people.mozilla.com/~jmuizelaar/tmp/scroll-frame-crash.zip panics at
https://github.com/servo/webrender/blob/master/webrender/src/frame_builder.rs#L1194

cc @mrobinson

[2017-02-17 02:34] glennw commented on #894
@jrmuizel says this isn't super urgent, as the failing tests can be disabled for now.

[2017-02-17 02:52] jrmuizel commented on #894
This was discovered here: https://bugzilla.mozilla.org/show_bug.cgi?id=1332688

[2017-02-17 09:37] mephisto41 commented on #887
May I try to do this?

[2017-02-17 10:08] glennw commented on #887
Yep, go for it!

[2017-02-17 10:09] glennw commented on #887
This can also be done incrementally - we don't necessarily need to update all the shaders in one go.

[2017-02-17 19:27] changm commented on #893
I went back to three revisions in servo from October (Before cdd79c81a0efdadb21e7e8073c12fc9aa7199c57), November, and December in 2016. Inset box shadows haven't worked for a long time :(.

[2017-02-17 23:21] nox opened #899 "Deduplicate dependencies"
There are three versions of `core-graphics-rs` referenced in `Cargo.lock`.

[2017-02-18 22:26] staktrace opened #900 "Don't pull dwrote-rs from githuh"
Cset 4f14ec7 changed webrender/Cargo.toml to use dwrote-rs from github instead of crates.io. This prevents us pulling webrender into m-c because we can't vendor dwrote-rs, and the build fails. @nox, was there any particular reason you made this change? We would much rather have a new version of dwrote-rs published to crates.io, and then depend on that new version.

[2017-02-18 22:28] nox commented on #900
Do you mean that `cargo vendor` doesn't support Git dependencies? Damn I didn't know that.

[2017-02-18 22:28] nox commented on #900
We did that because nobody published `dwrote-rs` on crates.io.

[2017-02-18 22:32] SimonSapin commented on #900
Either

* Someone with access to https://crates.io/crates/dwrote (meaning @vvuk or @changm) can publish version 0.2.0, or give publishing access to the Servo team (`cargo owner -a github:servo:cargo-publish dwrote`)
* Or if we don’t want to wait for that, we can publish the new version under another name like `servo-dwrote`. (Hopefully this will be temporary and we can switch back to `dwrote` late

[2017-02-18 22:33] nox commented on #900
@staktrace I can definitely do the latter of what @SimonSapin said if there is absolutely no workaround and you want to unblock this now.

[2017-02-18 22:34] SimonSapin commented on #900
We can change the package name (for crates.io, Cargo, and `[dependencies]`) without changing the crate name (for rustc and `extern crate`).

[2017-02-18 23:21] SimonSapin commented on #900
https://crates.io/crates/servo-dwrote

[2017-02-19 00:00] #900 closed

[2017-02-19 00:36] staktrace commented on #900
Yikes, sorry I wasn't more clear - I didn't need this resolved immediately. It's not actively breaking the build, it would just break our build the next time we try to pull a webrender update into mozilla-central. So as long as it gets resolved before that, all is good. I'm sure @vvuk would have no issue with giving servo-team permission to push new versions.

[2017-02-19 00:37] nox commented on #900
Better safe than sorry, and we didn't want you people to have a bad Monday morning. Then let's all go back to weekending!

[2017-02-19 02:04] vvuk commented on #900
No problem at all. I'll do it when I'm at my computer next.

[2017-02-20 06:41] #881 closed

[2017-02-20 12:24] mephisto41 commented on #879
Anyone working on this? Can I take this? Thanks.

[2017-02-20 14:50] jrmuizel commented on #879
@glennw has it largely implemented here: https://github.com/servo/webrender/pull/895
You can coordinate with him to do the unimplemented bits or start hooking it up to Gecko

[2017-02-20 14:56] mephisto41 commented on #879
Great! Didn't notice it. I'll hook it up to gecko. Thanks for the info.

[2017-02-20 20:04] MortimerGoro opened #907 "Clipping issues on Android: textureSize(sCache, 0) is 0"
Hello,

I'm working on WebVR Servo for Android and couldn't get some basic WebGL canvas to show on a simple html. It also happens with other non WebGL simple elements as images. After some debugging found that the textures from images and WebGL canvases are ok but the problem is related to the clipping implementation.

In the ps_image.fs.gl shader, the  `textureLod(sColor0, st, 0.0)` gives the cor

[2017-02-21 01:04] #894 closed

[2017-02-21 01:26] glennw commented on #819
This happened.

[2017-02-21 01:26] #819 closed

[2017-02-21 01:27] glennw commented on #849
cc @metajack @larsbergstrom @edunham We do seem to see PRs being opened / closed in IRC, but not the same for issues.

[2017-02-21 01:27] glennw commented on #861
This got fixed.

[2017-02-21 01:27] #861 closed

[2017-02-21 01:27] glennw commented on #777
This got fixed.

[2017-02-21 01:27] #777 closed

[2017-02-21 02:39] glennw commented on #887
This happened.

[2017-02-21 02:39] #887 closed

[2017-02-21 16:02] metajack opened #909 "boots cats boots cats for emilio"
boots cats boots cats

[2017-02-21 16:07] metajack commented on #909
This was for testing the IRC bot.

[2017-02-21 19:57] glennw opened #911 "Add wrench vs image comparison test mode."
Initially this could be exact pixel comparison only, but eventually we'll need to work out some support for "fuzzy" tests that differ slightly depending on the rasterizer.

[2017-02-21 20:30] #893 closed

[2017-02-21 20:44] kvark commented on #876
I wouldn't call it bullet-proofing (which assumes the continue of operation after catching a bullet) but rather - make it mentally stable (as in - don't panic!) ;)

[2017-02-21 20:47] kvark commented on #907
Thanks @MortimerGoro !
So basically we are not setting `sCache` properly in some cases. Do you mind sharing the test case?

I see that we are setting it in `load_program`, which seems fine:
[code]

[2017-02-21 20:50] kvark commented on #907
And indeed we are not always actually binding it. We only bind it for the passes following the first one. I suggest we bind a dummy texture for the first pass each time.

[2017-02-21 21:15] MortimerGoro commented on #907
@kvark the testcase I've using is the test_webgl_triangle.html file on Servo tests/html folder. It also happens with a plain <img src="test.png"> in a simple html page, with no javascript.

Yes that uniform is correctly set on Android. I think that the texture bind wasn't done on Desktop OpenGL too. I put some log calls and only saw that 0 texture_id was bound. But it seems that textureSize(texure

[2017-02-21 21:18] kvark commented on #907
Hold tight, fix is coming ;)
FYI, this is one of the cases that a bind-less API like gfx-rs would prevent at compile time.

[2017-02-21 21:34] kvark commented on #899
Another offender:

 1520: "checksum yaml-rust 0.3.5 (registry+https://github.com/rust-lang/crates.io-index)" = "e66366e18dc58b46801afbf2ca7661a9f59cc8c5962c29892b6039b4f86fa992"

[2017-02-21 21:54] kvark commented on #864
That's a general rule that we've been trying to keep up with so far. I don't think it makes sense to leave this issue open though, since it's not clear when it can be closed.

[2017-02-21 22:33] nox commented on #864
That is true.

[2017-02-21 22:33] #864 closed

[2017-02-21 23:37] changm commented on #189
Here's a test case:

`<html>
<head>
<style>
div {
  box-shadow: 0px 0px 5px 0px #000000;
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
</style>
</head>
<body>
<div></div>
</body>
</html>`

What it should look like:
<img width="93" alt="correct" src="https://cloud.githubusercontent.com/assets/1015726/23190232/8f5c8346-f84b-11e6-8c91-5f29c2bd0fb6.png">

What it actually looks like:
<img wi

[2017-02-22 01:19] edunham commented on #849
It's supposed to be enabled. I deleted and recreated it and it still doesn't work... It's configured identically to servo/servo. For added confusion, "test payload" button works on this repo's hook but does not work on the servo/servo one. I have contacted GitHub support to get their advice on why the two identically configured repos are behaving differently, since there's nothing about IRC servic

[2017-02-22 01:59] metajack commented on #849
I got a response from GitHub support. You can't turn on issues support without using the API. There's no web interface for controlling that. They recomended this curl script:
`curl -v -X PATCH -H "Authorization: token OAUTH-TOKEN" https://api.github.com/repos/servo/webrender/hooks/:id --data '{"add_events":["issues"]}'`

[2017-02-22 03:57] metajack commented on #849
This repo is fixed.

[2017-02-22 03:57] #849 closed

[2017-02-22 03:57] #909 closed

[2017-02-22 14:47] emilio commented on #849
Could someone with the proper permissions do the same for servo/rust-bindgen?

[2017-02-22 16:12] metajack commented on #849
Done.

[2017-02-22 18:38] #907 closed

[2017-02-22 19:40] staktrace opened #914 "Texture pages are not properly reused or deallocated"
When running the gecko webgl mochitest suite, WR memory usage climbs into multiple gigabytes (see https://bugzilla.mozilla.org/show_bug.cgi?id=1341745). I traced this down to the fact that WR periodically allocates a new TexturePage but never goes back and reuses old texture pages or deallocates them if they are empty. I checked with @kvark and he agreed that this appears to be a bug. Quoting him

[2017-02-22 20:00] staktrace opened #915 "Debug WR builds panic on shutdown due to Renderer::drop"
See e.g. https://treeherder.mozilla.org/logviewer.html#?job_id=79439278&repo=try&lineNumber=1723

The drop implementation added to Renderer in #913 tries to call deinit_texture, but that function has a debug assertion that `self.inside_frame` is true. Which it isn't, when drop() is called.

This blocks updating WR in the graphics branch as all the debug test jobs will crash.

[2017-02-22 20:06] glennw commented on #915
cc @kvark

[2017-02-22 20:31] kvark commented on #915
oops, that was a last-minute change. Looking now

[2017-02-22 21:26] jrmuizel opened #918 "Support BlobImages as masks"
It seems like this would be valuable.

[2017-02-22 21:32] glennw commented on #918
What stops this working now?

[2017-02-22 21:54] kvark commented on #914
Note the comment:

[2017-02-22 22:00] jrmuizel commented on #918
Maybe it does just work. I hadn't tried.

[2017-02-22 22:03] glennw commented on #914
```committed on 29 Oct 2015```

I guess it's time to fix that!

[2017-02-22 22:05] glennw commented on #918
In *theory* it should work - blob images are created via ImageKey, which can be specified as a clip mask. They get requested the same way as images, so it may just work.

[2017-02-22 22:08] kvark commented on #914
I guess I shouldn't try to actually remove the `TexturePage` from the arena then? Since doing so would potentially allow for a test case to constantly create and destroy textures each frame, and the real reason for the leak is that 2015 missing feature.

[2017-02-22 22:11] glennw commented on #914
It'd probably be worth adding some profile counters that track some of the texture cache stats (e.g. total bytes allocated, page count etc) so that we can visually see if something is leaking in the future.

[2017-02-23 00:49] emilio commented on #849
Thanks! :)

On Wed, Feb 22, 2017 at 08:12:12AM -0800, Jack Moffitt wrote:

[2017-02-23 03:07] #915 closed

[2017-02-23 09:06] paulrouget commented on #833
It would help me to get that in master. I need a way to update the clipping region dynamically.

Maybe via: `Browser::handle_event(WindowEvent::UpdateClippingRegion(Rect))`.

[2017-02-23 10:04] nical commented on #918
Yep it works as long as the BlobImageRenderer implementation recognizes ImageFormat::A8 (the dummy implementation in the sample does so you can try it out).

[2017-02-23 23:01] changm opened #921 "Inset box shadows with a spread radius don't work"
Nothing renders

[2017-02-24 14:39] kvark commented on #921
If only I new a person working on box shadows full time... oh wait!

[2017-02-24 14:40] kvark commented on #918
Ok, so just leaving this open until we try it out and verify that it's ~~broken~~ good.

[2017-02-24 14:49] kvark commented on #880
And since this is about using docker, we might want to CI build for Android as well:
https://github.com/tomaka/android-rs-glue#with-docker

[2017-02-24 16:13] nical commented on #918
I did verify it already :)

[2017-02-24 16:16] kvark commented on #918
Thanks!

[2017-02-24 16:16] #918 closed

[2017-02-24 18:39] #884 closed

[2017-02-25 04:30] squarewave opened #929 "Banding on gentle gradients"
![capture](https://cloud.githubusercontent.com/assets/4060604/23323452/7a1652ec-fa9d-11e6-8fe5-1df8223ae51a.PNG)

It's easier to see in dim light, but you can make out distinct vertical bands in the lower half of the image. The upper half looks smooth with an 8x8 dither matrix. You could also use a 4x4 or a 3x3 and just get fewer effective shades, but you could avoid requiring a texture.

I don't

[2017-02-26 21:48] #921 closed

[2017-02-27 01:24] sotaroikeda opened #930 "Add a capability to remove pipeline related data from Scene"
When a specific pipeline is deleted, the pipeline related data needs to be removed from Scene. But it seems not implemented. Is it correct?

[2017-02-27 02:21] jrmuizel commented on #930
See also https://github.com/servo/webrender/issues/691

[2017-02-27 04:09] #914 closed

[2017-02-27 15:12] zmike opened #933 "method needed for initializing gl"
Servo's CEF interface provides the initialize_compositing() method, which is used by an application to run all the GL initialization code after the application has set up its GL contexts/surfaces.

Ideally this should be able to be tested by building and running https://github.com/zmike/ecef, though I haven't tested the application with GLES3 in a long time so I can also be available for some test

[2017-02-27 16:33] staktrace commented on #914
@kvark thanks, the fix seems to work!

[2017-02-27 19:39] glennw commented on #933
I *think* what we need to do here is basically add an init() method to Renderer and Device, and ensure that any GL calls are moved from the constructors to here. It's probably a little more complicated than it sounds, but I think that will work well. That will also allow us to make the init() method fallible in case of bad hardware, shader compile errors etc.

[2017-02-27 20:42] jamienicol commented on #889
Sorry I've been a bit quiet on this. @jrmuizel's patch fixes the few test failures there were, but it causes some more:
* tests/wpt/web-platform-tests/2dcontext/compositing/ - because the data was already being premultiplied in canvasrenderingcontext2d draw_image(), so it is now being premultiplied twice.
* tests/wpt/web-platform-tests/webgl/conformance-1.0.3/conformance/textures/gl-teximage.html

[2017-02-28 03:50] glennw commented on #879
This has landed now.

[2017-02-28 03:50] #879 closed

[2017-02-28 05:42] glennw commented on #470
No longer relevant - since we use the thread_profiler crate now for this purpose.

[2017-02-28 05:42] #470 closed

[2017-02-28 06:43] JerryShih opened #936 "Support external image for yuv format"
@glennw @kvark @nical

a)
Right now, the yuv format image only get the data from resource_cache. We should update it to support external image.
What we do for external image:
https://github.com/servo/webrender/blob/5c1774462ee57b209ab81295ab944a176f2913f5/webrender/src/prim_store.rs#L908
Current yuv implementation:
https://github.com/servo/webrender/blob/5c1774462ee57b209ab81295ab944a176f2913f5/we

[2017-02-28 13:00] jamienicol commented on #889
We already copy the data before sending it to webrender, so the second option seems the best. Will have a patch soon.

[2017-02-28 18:13] jrmuizel commented on #889
Yes. I like option 2 the best for now as well.

[2017-03-01 08:38] JerryShih opened #943 "Handle image format changing in WR"
@glennw @kvark @nical @sotaroikeda

In gecko, we can set different video source to a HTMLMediaElement. Then, the compositor will receive various formats of image(rgb or yuv) for composition.
In current WR, we should push different display item for different image format(add_image() for rgb and add_yuv_image() for yuv format in frame_builder.rs). When the format changes, we should push the correspo

[2017-03-01 08:48] sotaroikeda commented on #943
gecko has a special path to render Images via ImageBridge. In this path, Updating images happens off main thread ways. It is used for video playback, WebRTC and plugin rendering. The following change could happen at any timing.
 - size change
 - format change
 - video frame clear
It would be nice if we could have a place holder of Image and could update Image without new DisplayItem. On current ge

[2017-03-01 09:52] sotaroikeda commented on #943
Even when if there is not format or size change, we need a way to update rendering video images without pushing new DisplayList.

[2017-03-01 20:41] staktrace opened #949 "Intermittent crash in allocate_target when running gecko reftests"
This has been happening for a while, but I'm just getting around to filing it now. Every once in a while one of our gecko reftests will crash. The error message is this:

[code]

and the stack looks like this:

[code]

I'm not sure if this is a bug in webrender internals or in the way we're using the API (maybe passing in unexpected things). Any thoughts?

Mozilla bugs: https://bugzilla.mozilla.or

[2017-03-01 20:46] glennw commented on #949
It's (probably) a bug in WR. The intermediate render targets are allocated at the same size as the framebuffer, to save memory. In theory, there should never be a need to allocate an intermediate surface larger than the framebuffer itself (which is what this assert is checking). Any chance of a bin/yaml recording file that reproduces the issue?

[2017-03-01 21:02] kvark commented on #943
I don't consider this a performance issue, since I don't assume you change the format/size every frame.

[2017-03-01 21:02] nical commented on #943
I am not certain about _needing_ to update the format without changing updating the display list.

If the format changes often within a given video stream, I agree. If it only happens occasionally while switching between decoders or source, I would not say that rebuilding the display list is that much of an issue (as opposed to rebuilding the display list each frame). Remember that we rebuild disp

[2017-03-01 21:14] staktrace commented on #949
Thanks. I'll try to reproduce it and get a recording.

[2017-03-02 16:24] paulrouget commented on #833
PR wip: https://github.com/servo/webrender/pull/951

[2017-03-04 05:51] kvark opened #956 "Hardware YUV image handling"
ARM Mali GPU has built-in support for working with YUV surfaces. See:
https://www.khronos.org/registry/OpenGL/extensions/OES/OES_EGL_image_external.txt

This is somewhat theoretical, but we should keep that extension on our radar as a potential power saver on mobile devices.

[2017-03-04 05:56] kvark opened #957 "Fillrate reducing techniques"
Sooner or later, we'll be limited by raw fill-rate. Our shaders are mostly simple, and the screens/DPI are only getting higher. In this issue we can discuss possible solutions.

## Multi-sampling

Most of the graphics hardware have some sort of a color compression to help dealing with the increased fill rate requirements of MSAA modes. Intel, for example (while being our main target HW), only stor

[2017-03-04 11:58] nox commented on #336
NOT TRUE ANYMORE WOOOOOOOOOOOOOOO

[2017-03-04 11:58] #336 closed

[2017-03-05 15:43] nox opened #958 "Remove types.rs"
This was needed only for serde_codegen support. Now that this is gone, we can remove types.rs and move back each type from it to the module where each of them truly belongs.

[2017-03-05 21:15] glennw commented on #833
This has landed in WR in https://github.com/servo/webrender/pull/951. I'll do a WR update to Servo today. We can then open more specific bugs in Servo related to the public API.

[2017-03-05 21:15] #833 closed

[2017-03-06 13:46] nical opened #962 "Compute the screen-space invalid rect and scissor out the rest when possible. (partial-present)"
I am being told that Gecko already does this on Windows (and that not doing it on Linux tends to cause a lot of wasted memory bandwidth).
Gecko is good at tracking invalidation, and that information is propagated all the way to the compositor, which can skip rendering anything outside of the damaged area with some cooperation from the window manager.
Can we (cheaply) generate this information in W

[2017-03-06 17:27] nical commented on #957
There's also issue #962 which is pretty effective whenever you are not scrolling.

Wouldn't the extra post-effect pass negate the benefit of the MSAA compressing scheme?
It would be fun to experiment with this but I'm a bit worried about bad driver misbehaving when we

Someone's been to GDC heh :) This could be a cheap way to do anti-aliasing for fancy SVG features whenever we support rendering th

[2017-03-06 17:44] kvark commented on #933
Is there any point in creating `wr::Renderer` prior to being able to initialize the GL stuff at all? Can the client (Servo) just call `Renderer::new` when it's ready?

[2017-03-06 17:45] nical commented on #943
It is maybe a silly idea but if we are worried about the cost of rebuilding the display list when a video changes its format, how about isolating video elements in their own pipeline? This would make it very cheap to build and serialize the small display list that only contains the video, although it would not affect the cost of re-building batches when the format changes.

[2017-03-06 18:05] kvark commented on #962
What kind of "cooperation from the window manager" do you have in mind?
It's not obvious to me that we can rely on the front buffer to have the old frame. For one, there is a swap chain of N buffers, which may be implementation dependent. Secondly, part of the window may be occluded.

[2017-03-06 18:20] kvark commented on #957
This aims for the same goal but the approach is orthogonal.

It largely depends on our average overdraw metric for the main pass. If we have overdraw ~= 1, then the extra pass would not help much, but I'd bet that we draw much more stuff (need to actually add the counters for it, or at least measure with a good GPU profiler, cc @glennw ).

I don't see checker-boarding addressing the SVG case. Inst

[2017-03-06 18:49] kvark commented on #929
I see banding on both top and bottom parts of the image you provided.

[2017-03-06 18:51] kvark opened #964 "Investigate the CPU cache utilization"
Might try running through https://github.com/InsomniacGames/ig-cachesim

[2017-03-06 18:59] squarewave commented on #929
Are you on a mac / using a retina-like display? I just tried on a mac and the top image looks much different, likely due to patterns from scaling up the ordered dither pattern. I can post the results of running this on a mac later.

Other than that, there could be very subtle banding from patterns in the ordered dither, so I can post an image with blue noise dithering.

[2017-03-06 19:13] kvark commented on #929
I'm on Thinkpad X1 4th gen with 2560 x 1440 screen on 14", running Linux/X11. The top half looks very similar to the bottom, also banded, albeit it's hard to tell if it's exactly the same.

[2017-03-06 19:18] kvark commented on #889
There is also 4) upload the image as is to GPU, together with a "premultiplied" flag, then handle the pre-multiplication by the shaders

[2017-03-06 19:28] leeoniya commented on #929
resolution is a bit moot. thinkpads have pretty crappy screens WRT color & contrast gradation. the difference is noticeable a better display.

[2017-03-06 19:38] kvark commented on #929
@leeoniya I can see the same thing on Dell 27" with 3840x2160. Not to mention that I don't get your point at all. If a screen is crappy, then we should definitely see improvement from dithering, not necessarily the other way around.

[2017-03-06 19:40] squarewave commented on #929
@kvark, if you change `layout.css.devPixelsPerPx` in about:config to 1, and make sure to click on the image to open it in its own view, do you still see banding on the upper part?

[2017-03-06 19:42] kvark commented on #929
@squarewave after setting `devPixelsPerPx`  I can clearly see the upper half being smooth, banding is visible only at the bottom one.

[2017-03-06 19:47] leeoniya commented on #929
ok, now i'm just confused about the whole issue. yes, i see banding in the bottom. no i dont see banding in the top. but we're looking at screenshot here...of what? what's the point of comparing how everyone's display shows an image?

[2017-03-06 19:54] squarewave commented on #929
If you load the image in an image editor and zoom in very close, you'll see a tiny kind of checkerboard pattern on the top half of the image. This checkerboard pattern compensates for the fact that we're only able to represent 256 shades of gray by tricking your eye. The hypothesis for why kvark was still seeing banding was that scaling up the image by devPixelsPerPx's computed value made it undo

[2017-03-06 20:03] kvark commented on #929
@squarewave we'll be happy to look at your PR. Dithering is indeed helping the gradient visuals.

[2017-03-06 20:59] kvark commented on #949
Are gecko reftests launched with 1024x something resolution?

[2017-03-06 22:00] nical commented on #962
Looking at [our CompositorD3D11 code](http://searchfox.org/mozilla-central/rev/1bc7720a434af3c13b68b8d69f92078cae8890c4/gfx/layers/d3d11/CompositorD3D11.cpp#1134), DXGI exposes ways to expose dirty rects in its DXGI_PRESENT_PARAMETERS struct. It doesn't look like DXGI gives you any information about the framebuffer it popped off the swap chain for that frame so I am assuming that the window manage

[2017-03-06 22:58] nical commented on #962
Actually the part I pointed to on the CompositorD3D11 might be something slightly different, but If you look at the same function we do set the clip rect of the d3d11 compositor to the invalid region for this frame, I'll look into why this works tomorrow.

[2017-03-06 23:22] staktrace commented on #949
I believe they normally run in a 800x1000 window.

Also I did try to reproduce this locally but was unsuccessful. I'll try and figure out some way to instrument it on the tryserver where it seems to be more frequent.

[2017-03-07 09:53] nical commented on #956
For reference, Gecko also uses the image_external extension in some cases, probably because certain video decoders will produce this texture target and we have to be able to consume it. So we might need this not only as an optimization but also in order to ship on some platforms (I don't know exactly which platform/decoder configuration requires it).

[2017-03-07 09:54] nical commented on #958
This can be closed.

[2017-03-07 10:52] #958 closed

[2017-03-07 11:22] nical commented on #962
So here is how it works on windows specifically with DXGI: Gecko sets the DXGI_SWAP_CHAIN_DESC to use DXGI_SWAP_EFFECT_SEQUENTIAL. In this mode, DXGI blits only the dirty rects specified in the present parameters (from my earlier comment) of the content rendererd in the swap chain into the window's backing texture. This means that when the only thing that is moving is a spinning throbber or a blin

[2017-03-08 01:18] rlhunt opened #968 "Support tiling gradients"
Linear and radial gradients can be repeated or tiled when used as a background-image. I think it makes sense to support this in a single GradientDisplayItem. Glancing at ImageDisplayItem, it looks like it's already implemented.

[2017-03-08 16:16] jrmuizel commented on #968
That sounds reasonable to me.

[2017-03-08 18:18] rlhunt commented on #968
From a discussion on irc with @nical , I think there are two ways to implement this,
1. Adding support in the gradient shaders
2. Painting the gradient into an image and using ImageDisplayItem's repeat feature

I think it would probably be easiest to do in the shader, although I haven't looked into it yet.

[2017-03-08 18:25] rlhunt opened #973 "Support radial gradients that are ellipses"
RadialGradientDisplayItem only takes in a radius for making a circle.

This is the same format that Gecko uses for drawing gradients, but when it needs to draw an ellipse it applies a scale matrix to the pattern to turn the sphere into an [ellipse](http://searchfox.org/mozilla-central/rev/d4adaabd6d2f88be0d0b151e022c06f6554909da/layout/painting/nsCSSRendering.cpp#3193).

I haven't looked at the be

[2017-03-09 04:10] glennw commented on #841
I believe this is resolved (for now)? Let's re-open with more details if needed.

[2017-03-09 04:10] #841 closed

[2017-03-09 13:41] nical commented on #962
I'm looking at Chromium's code. It looks like they do the same thing (DXGI_SWAP_EFFECT_SEQUENTIAL with dirty rect in the present parameters), although they only maintain one damaged rect rather than a list of damaged rect as Gecko does. It's buried deep into layers of abstractions in ANGLE and I haven't found exactly where it connects to the compositor code yet. The way it seems to be exposed outs

[2017-03-10 00:24] #889 closed

[2017-03-10 03:58] #936 closed

[2017-03-10 23:12] jrmuizel opened #979 "Seperate out Fonts from their particular variations"
Currently in Gecko we have a distinction between a gfxFontEntry and a gfxFont. To over simplify, gfxFontEntry can be thought of as font file and gfxFont as a reference to the gfxFontEntry as well as some collection of state about how to render it. This state varies depending on the platform and can include size, transform, synthetic bolding, hinting mode, subpixel mode, open type variations, etc.

[2017-03-10 23:33] jrmuizel opened #980 "Validate the webrender display list that we get from the child"
Currently we just cast the bag of bytes to a slice of DisplayItem. This is obviously not safe if the bytes are controlled by an attacker.

I've been thinking about how to best to implement this while minimizing the performance and the best candidate that I've been able to come up with is a to implement a custom derive that 'serializes' these structs to a form that matches how Rust lays things out

[2017-03-12 21:03] glennw commented on #979
That seems reasonable and relatively simple to add (although will take a little while due to the cross platform nature of the font code).

[2017-03-13 00:08] glennw commented on #979
@jrmuizel @lsalzman What's the best way to proceed here? Would it be best for you to sketch out what such an API might look like? Otherwise, I can try to sketch something out - but it's quite likely I'll miss some important details that are relevant to gecko.

[2017-03-13 01:11] jrmuizel commented on #979
We'll come up with a sketch/implementation this week.

[2017-03-13 14:08] nical commented on #911
Should this be closed now that we have initial support for fuzzy reftests? Or did you also mean some syntax to compare directly against an image directly without creating a yaml file?

[2017-03-13 18:21] kvark commented on #911
Yes, we still need the test against image logic. Fuzzy tests are pre-requisite.

[2017-03-14 23:45] SimonSapin commented on #980
Does serde + bincode serialization really have so much overhead that reducing it is worth playing with memory safety fire?

[2017-03-15 02:00] jrmuizel commented on #980
That should certainly be confirmed with data before embarking on this task.

[2017-03-15 15:33] paulrouget opened #985 "Make it possible to enable/disable debug and profiler anytime"
*This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2*

At the moment, it's only possible to enable debug and profiler at init via `RendererOptions`. Can we make it so it's possible to change `wr-stats` and `wr-debug` via the wr api?

[2017-03-15 19:40] glennw commented on #985
There is an existing API on the Renderer object for enabling / disabling the profiler - see https://github.com/servo/webrender/blob/master/webrender/src/renderer.rs#L1767. The wr-debug option doesn't currently do anything useful, but when we hook that up again we'll also add an API for it.

[2017-03-15 19:46] paulrouget commented on #985
Can you add `ApiMsg` to set that up? I'm not sure how I'm supposed to access the Renderer object from `RenderApi`.

[2017-03-15 22:14] nrc opened #987 "Crash starting up Servo"
Linux, Ubuntu 16.10. I assume I'm not supporting enough HW accel somehow, but don't know what to check.

[code]

[2017-03-16 03:01] jrmuizel commented on #987
Can you paste the results of glxinfo?

[2017-03-16 03:12] nrc commented on #987
I discussed with @glennw on irc, we concluded my GL was old and weak (2.1) and I can't upgrade (glxinfo is here: https://pastebin.mozilla.org/8982143). I managed to get this working by turning off HW accel for the VM, which is slow and janky, but works (for some reason I couldn't persuade mesa to use software rendering, I guess no llvmpipe driver?).

Is it worth leaving this issue open? I suppose

[2017-03-16 19:03] kvark commented on #987
It's interesting that it died in debug renderer, so the fact we don't get a good GL context version is being ignored by Servo at the moment. We definitely need a better error there.

[2017-03-16 19:22] jrmuizel commented on #987
I suspect this is because of Linux not handling multiple GL drivers well and so the Parallels driver is taking priority over the Mesa.

[2017-03-17 05:23] changm opened #990 "Drawing two box shadows results in a wierd second drawing"
Test branch here - https://github.com/changm/webrender/tree/test

Just run the WR sample app

Some observations:
1) Rendering each of the box shadows independently works fine, its only when they are both drawn. Whichever box shadow is drawn second is the messed up one.
2) The cached box shadows look alright according to apitrace
3) The offsets / rects into the cached box shadow FBO look right
4) T

[2017-03-17 05:24] changm commented on #990
<img width="1136" alt="untitled" src="https://cloud.githubusercontent.com/assets/1015726/24029950/3477e020-0a97-11e7-9a63-a4685a79be74.png">

Screenshot of the bug.

Screenshot from apitrace of the cached box shadows I think.

<img width="909" alt="apitrace" src="https://cloud.githubusercontent.com/assets/1015726/24029965/596d3506-0a97-11e7-8102-e6193b0a54b8.png">

[2017-03-18 12:00] jdm commented on #402
@askalski expressed interested and experience with rendering and SVG. Is there some way they could contribute to this effort?

[2017-03-19 08:36] paulrouget commented on #985
ok - scratch that. I understand now. Thanks.

[2017-03-19 08:36] #985 closed

[2017-03-19 09:24] SimonSapin opened #991 "Intermittent crash with “failed to fill whole buffer”"
Many intermittent test failures on Servo’s CI have in comment this error message: https://github.com/servo/servo/issues/14323.

The backtraces have `webrender::render_backend::RenderBackend::run` just before `core::result::unwrap_failed`. [That method](https://github.com/servo/webrender/blob/44465e785460528a0ee64b29e3b9282d8f6a314f/webrender/src/render_backend.rs#L112-L424) calls `std::io::Read::r

[2017-03-19 09:34] SimonSapin commented on #991
CC @pcwalton for `IpcBytesReceiver::recv` semantics.

[2017-03-19 17:12] paulrouget commented on #985
See https://github.com/servo/servo/pull/16030

[2017-03-19 19:56] glennw commented on #402
Yes - we'd still like to have direct SVG support in WR eventually, so it could be fine to start working on that. It won't overlap / interfere with the current gecko plans, which is a good thing.

[2017-03-19 23:14] glennw commented on #990
@changm Fixed in https://github.com/servo/webrender/pull/992

[2017-03-20 16:06] nical opened #993 "Sub-image updates"
The primary use-case I have right now is actually updating a sub-region of a BlobImage, although it generalizes to all image types. I need a way to pass a new blob, and specify which region of the image is affected, so that the BlobImageRenderer get the opportunity to only redraw that region, and use this information to reduce the amount of data to be uploaded to the texture. I said "region", but

[2017-03-20 17:06] nical opened #994 "Tiled image updates"
Tiled images don't support updates (as in ```RenderApi::update_image```) yet. This should not be difficult to implement (probably just a little bit of code to write in ```ResourceCache::finalize_image_request```).

[2017-03-20 20:25] #990 closed

[2017-03-21 09:46] nical commented on #994
Fixed in PR #995.

[2017-03-21 09:46] #994 closed

[2017-03-21 21:11] glennw commented on #652
@nical I think this can be closed now?

[2017-03-21 21:12] glennw commented on #620
@nical I think this can be closed?

[2017-03-21 21:15] glennw commented on #453
@kvark This is done, right?

[2017-03-21 21:17] glennw commented on #425
@paulrouget I think this can be closed now?

[2017-03-21 21:19] glennw commented on #28
This happened!!!

[2017-03-21 21:19] #28 closed

[2017-03-21 22:41] nical commented on #620
Yes, this is fixed now.

[2017-03-22 02:45] #652 closed

[2017-03-22 02:45] #620 closed

[2017-03-22 07:21] JerryShih opened #1001 "the yuv image interface discussion"
Currently, webrender uses 3 different image keys for a planer yuv image(there are 3 y, u and v channels).
[code]
I'm considering use one image key for the 3 of y, u and v channels. It would be less error prone and would facilitate gecko integration. For this change, we need to do a bit more complicated in the resource cache(but I think it's probably not too much).

@nical @sotaroikeda @kvark @glen

[2017-03-22 08:14] paulrouget commented on #425
Yes. I might get back to this later. But as of now, it's not relevant anymore.

[2017-03-22 08:14] #425 closed

[2017-03-22 08:35] glennw commented on #1001
My initial reaction is that it will actually turn out to be quite complicated inside WR, and I'd prefer to avoid it.

But that's just an initial reaction - it's hard to say for sure without seeing some kind of prototype / patch, which might prove me wrong!

[2017-03-22 13:46] #453 closed

[2017-03-23 16:34] nical commented on #1001
I am keen on having the yuv planes as well as the color space associated with the image (during creation and update of the image object) for yuv images and thus associated to the same ImageKey, instead of being associated to the display item, if that can be done without complicating the code too much.

I suppose it would boil down to having resource cache items potentially associated to several te

[2017-03-24 10:36] mrobinson commented on #742
I think this is complete now.

[2017-03-24 10:36] #742 closed

[2017-03-24 10:36] nical commented on #993
Implemented in PR #1003

[2017-03-24 10:36] #993 closed

[2017-03-24 10:41] glennw commented on #742
\o/

[2017-03-24 15:24] kvark commented on #739
Me and @mrobinson are interested to implement this.

[2017-03-24 21:26] #929 closed

[2017-03-27 21:25] #911 closed

[2017-03-27 22:09] pcwalton commented on #991
It should be returning exactly one vetcor for every corresponding `IpcBytesSender::send()` call. If not, it's a bug in ipc-channel.

[2017-03-27 22:09] pcwalton commented on #991
Filed https://github.com/servo/ipc-channel/issues/160.

[2017-03-27 22:22] SimonSapin commented on #991
This could be either that, or a bug in WebRender: the expected vector lengths are `display_list_descriptor.size()` and `auxiliary_lists_descriptor.size()`, and these descriptors are part of `ApiMsg::SetRootDisplayList`. Maybe the sender is buggy and sends a message that doesn’t match what is sent in the bytes channel?

[2017-03-28 04:18] glennw commented on #840
@mrobinson I think this can be closed now?

[2017-03-28 04:19] glennw commented on #489
@mrobinson @staktrace Is this still relevant?

[2017-03-28 06:03] mrobinson commented on #489
If this is still a useful change, it should be pretty easy to do.

[2017-03-28 06:30] mrobinson commented on #840
@glennw I've actually been exploring using WebRender clipping to handle CSS clip in Servo, and I think we'll need one more API change to deal with this. If I understand correctly, we'll need to position and clip using the scrolling root and then also clip with another entirely separate clip (which might depend on a different scrolling position).

[2017-03-28 06:50] glennw commented on #840
OK, that doesn't sound like it will be a major API change?

[2017-03-28 06:56] mrobinson commented on #840
@glennw I think we just need to add another clip field do every display list item. The first field will be positioning + clipping and the other will be scroll root independent clipping.

[2017-03-28 07:05] glennw commented on #840
@mrobinson You may be interested in this PR I just opened then :) https://github.com/servo/webrender/pull/1015/files#diff-d368cc4d16f067bc1480e7806819a74eR171

[2017-03-28 07:06] glennw commented on #840
The diff I mentioned adds support for one extra clip, which the box-shadows use. This can trivially be expanded to support an array of clips (all the work for supporting multiple clips is included in this PR).

[2017-03-28 13:53] staktrace opened #1016 "Make dependency on heapsize optional"
Details at https://bugzilla.mozilla.org/show_bug.cgi?id=1350581#c2

[2017-03-28 13:55] staktrace commented on #489
Yes, please. I think it would still be useful.

[2017-03-28 14:55] nical opened #1017 "Improve BlobImageRenderer serialization"
We have a naive BlobImageRenderer implementation in Gecko in which _everything_ is serialized (including images, font data, paths, etc.) each time a blob image is created or updated. This is far from ideal.
I would like to extend the BlobImageRenderer interface so that it can get access to some of the data stored in the resource cache, in particular font data and images.

As part of that I would a

[2017-03-28 17:38] kvark commented on #1017
Isn't this a dupe of #402?

[2017-03-28 22:07] nical commented on #1017
The overlap is only the addition of retained path objects. This issue focuses on making BlobImageRenderer not prohibitively expensive to use (I expect most of the wins to be in reusing the images and font data) while #402 pursues the more long term goal of supporting SVG primitives in WebRender proper.

[2017-03-29 05:00] #189 closed

[2017-03-29 12:40] mrmiywj commented on #727
I can pick this up.

[2017-03-29 14:42] #489 closed

[2017-03-29 15:12] staktrace commented on #489
Thanks!

[2017-03-29 21:01] kvark opened #1027 "Assert in `max_texture_size`"
See logs:
https://treeherder.mozilla.org/logviewer.html#?job_id=87300231&repo=try&lineNumber=3307
Related PR #1025 didn't fix it. Need to investigate.

cc @nical @staktrace

[2017-03-29 21:04] kvark opened #1029 "Optimize array allocation"
Profiling on OSX shows that we spend a large chunk of time (54% IIRC) in the routine that doubles the allocated storage for `Vec`. We should make a pass over the code and try to re-use the original storage in as many spaces as possible. Another way to address it is to use `Vec::with_capacity` constructors.

The issue can't be fixed once and for all, so a completion criterion would be:
  - making a

[2017-03-29 21:24] kvark opened #1030 "Failure in "border-image-linear-gradient" test"
See https://github.com/servo/webrender/pull/1010#issuecomment-289973403
[code]

cc @rlhunt

[2017-03-29 23:08] jrmuizel opened #1031 "Lots of cpu (~100ms) used in the render backend on this test case"
https://people-mozilla.org/~jmuizelaar/implementation-tests/dl-test.yaml

This is a test case generated from Gecko running https://people-mozilla.org/~jmuizelaar/implementation-tests/dl-test.html.

The test case is not representative and Gecko still uses stacking contexts a lot more than necessary but it would be good if webrender could handle this better.

[2017-03-29 23:40] jrmuizel commented on #1031
Make sure to run with the --rebuild option. This matches the original html because the scene is actually changing.

[2017-03-30 03:41] staktrace commented on #1027
@nical It was definitely something in #1004 that caused this, I bisected the WR changes to isolate the regression. You can find a full try push showing the failures at https://treeherder.mozilla.org/#/jobs?repo=try&revision=07cca001d72d6fc9d90618016124203c1d4f5317

[2017-03-30 10:09] nical commented on #1027
I am pretty sure this is happening because the image is an external buffer and I assumed we did not support tiling those (yet), so I disabled automatically tiling this type of images in that PR. Thankfully it's trivial to re-enable. I still think we don't properly tile external image buffers (as in the interface when later uploading the external buffer does not take tiling into account), we'll hav

[2017-03-30 13:16] #1030 closed

[2017-03-30 13:38] waywardmonkeys commented on #725
@glennw thought this might be fixed by his change in #935, but I'm still seeing this problem today after checking out `master` and running on a Retina MBP.

[2017-03-30 14:29] nical opened #1038 "Correctly tile external buffer images."
External buffer images can be tiled if they are larger than the maximum texture size. At the moment we don't pass the correct information when performing the texture upload. The offset and stride in the buffer must be adjusted so that the uploaded texture correspond to the proper tile (right now the offset is always zero for external images so we pass the data corresponding to the top-left tile ev

[2017-03-30 14:29] nical commented on #1038
cc @JerryShih

[2017-03-30 18:15] kvark commented on #739
Got https://github.com/kvark/plane-split, going to try hooking it up to WR next.

[2017-03-30 18:17] jrmuizel commented on #739
The license should probably at least be dual with MPL2

[2017-03-30 20:58] glennw commented on #725
@waywardmonkeys Hmm, I thought that would fix it too. Unfortunately I don't have a retina MBP here to test with or debug.

[2017-03-30 22:00] jrmuizel commented on #1031
https://github.com/servo/webrender/pull/1041 helps with this test case.

[2017-03-31 01:42] glennw commented on #525
I think this can be closed now with the opaque rect optimization that @kvark added recently.

[2017-03-31 01:42] #525 closed

[2017-03-31 01:42] glennw commented on #619
@mrobinson Is this still relevant?

[2017-03-31 01:43] glennw commented on #642
@kvark I think this can be closed now?

[2017-03-31 01:47] glennw commented on #859
@mrobinson Is this still relevant?

[2017-03-31 01:48] glennw commented on #747
This happened.

[2017-03-31 01:48] #747 closed

[2017-03-31 01:48] glennw commented on #771
This happened!

[2017-03-31 01:48] #771 closed

[2017-03-31 01:53] kvark commented on #642
Fixed by #997

[2017-03-31 01:53] #642 closed

[2017-03-31 01:56] glennw commented on #746
This happened.

[2017-03-31 01:56] #746 closed

[2017-03-31 02:05] glennw commented on #1027
This has merged.

[2017-03-31 02:05] #1027 closed

[2017-03-31 04:27] jrmuizel commented on #1031
https://github.com/servo/webrender/pull/1043 will help too.

[2017-03-31 06:27] glennw commented on #1031
I did some profiling on this today. First, the overall profile counters:

* ~8300 primitives, of which ~5000 are visible.
* ~8300 stacking contexts.

![profile2](https://cloud.githubusercontent.com/assets/2350882/24538491/cd15c78e-162c-11e7-97ef-156053c965aa.png)

Things to note:
* CPU backend time is clearly the problem.
* Compositor time and GPU time are fine.
* Total vertices is ~31k - should b

[2017-03-31 06:38] glennw commented on #1031
The other option, of course, is incremental display list updates.

This is probably my preferred approach - taking some of the concepts that iframes use to embed a display list within a parent display list, and extending that to be a more general concept. This would allow us to build and modify display lists in small chunks. This would also allow the calling code to use a granularity for display l

[2017-03-31 06:39] glennw commented on #1031
Segmenting large display lists into chunks also provides a natural boundary where it makes sense to build each chunk on a worker thread...

[2017-03-31 07:21] sotaroikeda opened #1044 "glsl non-empty case statements must have break or return for ANGLE"
ps_border.fs.glsl and ps_border.vs.glsl has non-empty case statements must have break or return, it causes failures of compiling the shaders. I faced the problem on gecko webrender on graphics branch on Windows. When I tested on windows, "discard;"  also seemed to request break/return

The following are actual error log.

[2017-03-31 07:23] sotaroikeda commented on #1044
#749 fixed the same problem in the past.

[2017-03-31 07:38] mrobinson commented on #619
@glennw This shouldn't be an issue any longer because now stacking contexts just have a bounds and no longer a clip bounds as well. That bounds is stored in the common DisplayItem struct, so I'll just close this.

[2017-03-31 07:38] #619 closed

[2017-03-31 07:39] mrobinson commented on #859
I think with the elimination of all stacking context-based clipping, we can close this. If we ever reintroduce it, it will probably look different than what we had before.

[2017-03-31 07:39] #859 closed

[2017-03-31 09:46] emilio commented on #1044
didn't we have angle running in CI for this?

[2017-03-31 12:44] staktrace commented on #1027
Fix verified in try push https://treeherder.mozilla.org/#/jobs?repo=try&revision=b96726c4cf97169672cc938067d1f0c97a09e40c

Thanks!

[2017-03-31 13:16] kvark commented on #1044
Yes, it was added in #713, and CI still passes successfully: https://travis-ci.org/servo/webrender/jobs/217127497#L626
I also checked `cd webrender && cargo test` locally and got:

So either we are not setting Angle up correctly, or it just behaves differently on Linux vs Windows?..

[2017-03-31 14:39] sotaroikeda commented on #1044
It seems like Windows specific.

[2017-03-31 15:32] sotaroikeda commented on #1044
I faced the problem during investigating https://bugzilla.mozilla.org/show_bug.cgi?id=1352287

[2017-03-31 21:38] kvark commented on #739
Some observations from looking into this:
  1. when "preserve3d" is active for a sub-tree of the document, the elements are supposed to naturally be ordered by depth on a per-pixel level. It can have children that are "flat", not sure if we can support it from the start or implement as a follow-up.
  2. plane splitting is one of the ways to draw intersecting semi-transparent objects, it is viable

[2017-03-31 22:40] jrmuizel opened #1047 "panic in subpixel_quantize_offset"
webrender_traits::font::{{impl}}::subpixel_quantize_offset(self=0x000000013b1656bd, pos=-3) + 183 at font.rs:66
   63  	            0.25...0.5 => SubpixelOffset::Quarter,
   64  	            0.5...0.75 => SubpixelOffset::Half,
   65  	            0.75...1.0 => SubpixelOffset::ThreeQuarters,
-> 66  	            _ => panic!("Should only be given the fractional part"),

[2017-03-31 22:47] jrmuizel commented on #1047
This happens because fract(-3+0.125) is negative.
@changm Where's the skia code the corresponds to this?

[2017-03-31 23:20] sotaroikeda commented on #1044
The following are actual log out when the problem happened.

WebRender - OpenGL version new OpenGL ES 3.0 (ANGLE 2.1.0.2a250c8a0e15)
[Child 2468] WARNING: pipe error: 109: file c:/quantum_gfx_src_1/graphics/ipc/chromium/src/chrome/common/ipc_channel_win.cc, line 346
[Child 2468] WARNING: pipe error: 109: file c:/quantum_gfx_src_1/graphics/ipc/chromium/src/chrome/common/ipc_channel_win.cc, line 346

[2017-03-31 23:29] changm commented on #1047
It's over here - http://searchfox.org/mozilla-central/source/gfx/skia/skia/src/core/SkFindAndPlaceGlyph.h#383

Do you have a test case for this panic?

[2017-04-01 16:20] antrik commented on #991
A bit of a long shot: but is it possible by any chance that a single `Renderer` -- and thus a single `auxillary_tx` AIUI -- is used by multiple `LayoutThread`s?...

(That would be very bad, since it would mean the `epoch` is not unique I believe, thus causing all kinds of funny races...)

[2017-04-01 16:43] jdm commented on #991
There is a single Renderer used by multiple LayoutThreads, yes. We create one Renderer per Browser (https://dxr.mozilla.org/servo/rev/449758ef5dd399f7e1a5a9550dcdd614056cee9e/components/servo/lib.rs#179-191) and clone the RenderApiSender value for each layout thread spawned from the same constellation.

[2017-04-02 22:19] emilio commented on #991
So that seems quite likely, thanks for digging into it @antrik!

So mainly `set_root_display_list` is called from multiple layout threads, which seems dubious, and it sends _two_ messages, which don't necessarily need to be ordered (someone could send a message in between).

Those two messages are the `SetRootDisplayList` message, and the `Payload`.

So apart from the epoch thing that @antrik poin

[2017-04-02 22:21] emilio commented on #991
So we could add an explicit synchronization API to WR, or (ideally) we could fix servo to actually only render the top-level page, and send the stuff to the render back-end from the constellation instead of the layout thread.

That means, also, that we could move the IPC boundary off-webrender I think (the renderer lives in the constellation process), which will simplify things also for Gecko, is

[2017-04-02 22:34] SimonSapin commented on #991
CC @nical, it sounds like moving the IPC boundary would be relevant to you.

[2017-04-02 22:39] emilio commented on #991
Actually as @glennw pointed out, we should probably just check the pipeline id + the epoch. Let's see if that fixes the intermittents, or we need to add more synchronization between those messages.

[2017-04-02 23:02] emilio commented on #991
Relevant IRC discussion at http://logs.glob.uno/?c=mozilla%23servo&s=2+Apr+2017&e=2+Apr+2017#c643593.

Turns out we already have all that `leftover_auxiliary_data` to deal with the synchronization, the problem was exclusively the epoch mismatch problems @antrik pointed out.

I'm going to fix that for now, but we should also consider moving all the IPC complexity into Servo, and leave WR IPC-free.

[2017-04-02 23:40] emilio opened #1049 "Consider moving the IPC boundary in Servo from WR to the constellation."
See the conversation in #991 and linked IRC log. This is split from that.

This will allow us to move all the IPC complexity back into Servo, and probably tidy the API a bit (also making it more efficient where IPC is not needed).

cc @nical @staktrace

[2017-04-03 00:23] #991 closed

[2017-04-03 01:37] glennw opened #1051 "Gradient reftest regression"
The following Servo tests are broken by https://github.com/servo/webrender/pull/1046.

[code]

We have another change landed in WR that I'd like to get into a WR update for Servo (may help with some of our intermittents). Is this likely to be a relatively simple fix, or should we revert for now?

cc @rlhunt @kvark

[2017-04-03 05:52] rlhunt commented on #1051
I will take a look at this as soon as I can.

[2017-04-03 07:07] sotaroikeda commented on #1044
The following did not work on windows

The following works on windows, but it did not work on linux

[2017-04-03 10:21] waywardmonkeys commented on #899
I've submitted https://github.com/MSleepyPanda/rust-font-loader/pull/7 to help move this along.

[2017-04-03 13:09] staktrace commented on #1044
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1352878 (note the `unwrap_failed<webrender::device::ShaderError>` in comment 0 of that bug)

[2017-04-03 13:16] jrmuizel commented on #1049
Gecko currently avoids using WebRender through IPC and the current IPC code in WebRender is not very efficient (see https://github.com/servo/webrender/pull/1041). The simplification that could come from removing the ipc stuff from webrender would be nice.

[2017-04-03 17:00] rlhunt commented on #1051
The issue here is a few things:
1. One of the patches added a condition to when we use aligned gradients, but it is flipped backwards causing angle gradients to always be used
2. Angle gradients still have dithering enabled, even though aligned gradients had them disabled
3. There are reftest issues with dithering (should be fixed by #1045)

I will add a PR fixing the aligned gradient condition wh

[2017-04-03 18:54] jrmuizel opened #1059 "Running reftests on mac at hidpi doesn't work"
I think this is a regression

[2017-04-03 19:49] kvark commented on #1047
We could use `pos - pos.floor()` instead of `pos.fract()`

[2017-04-03 20:43] rlhunt opened #1060 "Panic in render_backend when saving a wrench recording to yaml"
[code]

cc @mrobinson

[2017-04-03 20:54] rlhunt commented on #1060
[code]

I only briefly looked into the logic of ClipIdMapper, but it seems something like the diff above might be more applicable?

[2017-04-03 22:18] askalski commented on #402
well, to be honest I am a typical coder, not an architect. I leave the technical decisions to you guys, just show me the list I can pick tickets from :)

[2017-04-04 00:06] #1051 closed

[2017-04-04 03:39] #1044 closed

[2017-04-04 07:53] mrobinson commented on #1060
@rlhunt Is it posible to get a copy of the bin file you are trying to replay?

[2017-04-04 15:18] rlhunt commented on #1060
Yes, I've uploaded a copy of it to [gdrive](https://drive.google.com/file/d/0B84Jf1P5fuSpSng2SDR6VkVNMFk/view?usp=sharing). It's a recording of gecko of me opening the browser and closing out right away.

[2017-04-05 17:11] jrmuizel commented on #1047
You'll need #1071 to reproduce it in wrench and #1070 has VeraBd.ttf

[code]

[2017-04-06 07:47] mrobinson commented on #1060
@rlhunt Hrm. The binary file doesn't produce the same error on my machine, but I do see this in my output as well:
[code]

The only way this error could occur is if the display list is malformed and it is using a ScrollLayerId before defining it in some way.

[2017-04-06 13:29] igilham commented on #727
Looks like this can be closed.

[2017-04-06 14:43] kvark commented on #727
@igilham right, thanks for triaging!
Fixed by #1023

[2017-04-06 14:43] #727 closed

[2017-04-06 19:51] kvark opened #1079 "Optimize the tile spacing rendering"
Tile spacing is currently used on images (#897) and gradients (#1078).

Images use transparency/blending for the blank spaces. Thus, an opaque image with tile spacing has to appear in the transparency bin, render last, and not contribute to the depth. This is inefficient.

Gradients issue `discard` instructions, which prevent hardware HiZ and early-Z optimizations.

It would be good to have them r

[2017-04-06 23:08] #1047 closed

[2017-04-07 17:55] jrmuizel opened #1085 "Text blur produces artifacts"
Running the reftest from https://github.com/servo/webrender/pull/1084/commits/dd5b038bf62f0857d9dcc4d6444a5a8b449734ce gives me artifacts around the edges. The artifacts are not deterministic.

See: https://people-mozilla.org/~jmuizelaar/tmp/text-blur.png

[2017-04-07 19:27] kvark commented on #1085
Looks like we aren't properly bounding the sampling area for the blur, which is required given we have no borders added now.

[2017-04-07 20:24] jrmuizel opened #1086 "Avoid calling glReadPixels directly in wrench"
It would be better if we had a decent API for this.

Thoughts:
glReadPixels returns flipped images. This is garbage.
The flip can be avoided using ANGLE_pack_reverse_row_order or MESA_pack_invert. On platforms where we don't have these extensions we could return an image with negative stride. Callers would need to handles this and flip as needed. This avoids flipping when we're just trying to comp

[2017-04-07 20:29] kvark commented on #1086
I'd argue that this is a fault of GL coordinate system, not `glReadPixels`, but the point stays.
Calling `gl::read_pixels` directly should only be allowed from `device.rs`, which can be responsible for flipping it and hiding the logic of using the named extensions.

[2017-04-09 14:59] mrobinson opened #1089 "Rename ScrollLayerId"
The current name is a holdover from the previous design. We should rename this to avoid confusion.

[2017-04-09 15:01] mrobinson opened #1090 "Clip coordinates on items and in clip display items are specified in different coordinate systems"
These should really be reworked to be the same in either case. We just need to decide what makes the most sense given the API and the internals of how clipping works.

[2017-04-09 22:06] glennw opened #1091 "WPT gradient regressions"
A couple of the gradient reftests are broken with current WR:

[code]

![rt1](https://cloud.githubusercontent.com/assets/2350882/24841289/9489bbf6-1dc4-11e7-86de-6457182871b1.png)
![rt2](https://cloud.githubusercontent.com/assets/2350882/24841288/948936c2-1dc4-11e7-805d-7300ae5c6297.png)
![rt3](https://cloud.githubusercontent.com/assets/2350882/24841286/94736c84-1dc4-11e7-8661-3d93d0dacbed.png)
![

[2017-04-10 00:55] rlhunt commented on #1091
So one of these failures is resolved with the following patch (from #1078), and the remaining one is a fuzzy match with about 40 pixels off. I will look into the fuzziness problem as soon as I can.
[code]

[2017-04-10 13:51] kvark commented on #1090
I think basing off the reference frame makes sense, since it means using existing GPU layers for transformations.

[2017-04-10 15:49] kvark opened #1096 "Document the rendering pipeline"
It's extremely valuable to have a single document describing the way the data goes to before it appears on screen, given the number of contributors at the moment.

[2017-04-10 16:22] staktrace commented on #1016
This looks like it will be handled a different way.

[2017-04-10 16:22] #1016 closed

[2017-04-10 22:39] glennw commented on #1091
It seems like both of these tests are still failing in Servo built against WR master? They fail in different ways to the screenshots above though. Unless there's something special I need to do when updating Servo?

[2017-04-10 22:41] glennw commented on #1091
Any ideas @rlhunt @kvark ?

![f2](https://cloud.githubusercontent.com/assets/2350882/24885590/ad3601cc-1e92-11e7-8c86-316c1a16fb75.png)
![f1](https://cloud.githubusercontent.com/assets/2350882/24885589/ad2b750e-1e92-11e7-879f-df64019941a0.png)

[2017-04-11 09:45] mrobinson commented on #1090
@kvark If we use the reference-frame-relative approach is that it would also make sense to have all other coordinates relative to reference frames. This would require walking the display list and recalculating everything in Servo (not sure how it is in Gecko). I suppose we just need to decide if this is worth the cost.

[2017-04-11 10:59] mrobinson opened #1101 "filter should be defined to establish a containing block for fixed and absolutely positioned elements"
See https://github.com/w3c/fxtf-drafts/issues/11. Currently we only do this for stacking contexts with transformations and iframes. It might be a good idea to move all of this functionality to Servo though, as I'm not sure that Gecko needs it.

[2017-04-11 11:01] mrobinson commented on #1101
cc @mstange

[2017-04-11 13:24] mrobinson opened #1102 "Rounded borders are not clipped properly"
The follow wrench YAML does not show the bottom corners of the border clipped properly:

[code]

This seems to be an issue with the radius itself. Removing the radius on the border causes the corners to be clipped properly.

[2017-04-11 14:20] kvark commented on #1096
Fixed in https://github.com/servo/webrender/wiki/Path-to-the-Screen

[2017-04-11 14:20] #1096 closed

[2017-04-11 20:16] mstange commented on #1101
Gecko uses containing blocks internally to figure out where elements are placed and what they scroll with. As soon as it has generated display lists, it forgets about all that information, because the display items know what they're scrolled by and that's all they need to know. So we definitely don't need webrender to know about containing blocks.

[2017-04-11 20:20] jrmuizel commented on #374
Our handwritten bindings are going to be replaced by the generator from here: https://github.com/jrmuizel/wr-binding/

[2017-04-11 22:14] #1102 closed

[2017-04-11 23:06] #1089 closed

[2017-04-13 04:04] glennw commented on #1091
This got fixed!

[2017-04-13 04:04] #1091 closed

[2017-04-13 16:23] staktrace opened #1116 "Textures need to be removed from the device texture map"
In a [gecko try push](https://treeherder.mozilla.org/logviewer.html#?job_id=90944632&repo=try&lineNumber=24920) I see an assertion error:

`thread '<unnamed>' panicked at 'assertion failed: self.textures.contains_key(&texture_id) == false', C:\builds\moz2_slave\try-w64-d-00000000000000000000\build\src\gfx\webrender\src\device.rs:1121`

Looking at the code it looks like nothing ever removes texture

[2017-04-15 21:31] staktrace opened #1122 "thread 'RenderBackend' panicked at 'Each render task must allocate <= size of one target! (1601×1485)"
While running a gecko reftest with some local changes to the gecko-side code, I am able to trigger an assertion failure in webrender. It might very well be that I'm doing something wrong on the gecko side, but given the assertion that's failing I think this is likely a bug on the webrender side. Note that I'm using webrender at cset 3dd68f54e12bd5abf8ef41de4d4ec851620f7e4e. I was able to save a bi

[2017-04-17 13:03] kvark commented on #1122
Thanks @staktrace ! I'm able to repro the issue with your recordings.

It's a task failing to allocate RT space for a large mask. We don't currently handle this case nicely. Perhaps, we need to be able to split the large primitives in order to avoid this situation.

[2017-04-17 13:34] JerryShih commented on #1001
I have done the all implementations with this idea, but code is not clear. And it doesn't resolve the original problem for integrating gecko with WR. In gecko, we try to map a externalImage id to a textureHost. In some video case, a textureHost could contain more than one channel data(e.g. format yuv have 3 channel, and nv12 have 2 channel). So, I change to add a parameter called channel_index in

[2017-04-17 21:01] glennw commented on #1122
There's two pieces of code that are supposed to prevent this occurring:

1) Intermediate render targets are always allocated to be the same size as the current framebuffer.
2) Clip mask task rects are intersected with the current screen rect.

Between them, this should in theory ensure that a task is never allocated a rect larger than the size of one layer in the intermediate render target array.

[2017-04-18 04:09] JerryShih opened #1130 "Add gl::TEXTURE_EXTERNAL_OES support in WR"
@kvark @sotaroikeda @glennw @nical

GLES doesn't support the NV12 format directly. We need to use TEXTURE_EXTERNAL_OES target to get the planar data.
I will create a pull request for this one.

Here is the sample code to use NV12 format d3d11 texture with ANGLE.
https://chromium.googlesource.com/angle/angle/+/9b8b359fa3615be7c7492239a48f61103b2e4fcc/src/tests/egl_tests/EGLStreamTest.cpp#357

[2017-04-18 05:40] JerryShih opened #1131 "Support NV12 texture format"
@kvark @sotaroikeda @glennw @nical

Some HW decoders use NV12 format at windows platform. We need another shader to support the y and uv semi-planar format.

[2017-04-18 09:43] nical commented on #1079
If anyone wants to experiment with this, the code for decomposing repeated images into separate primitives already exists because of the cases where we can't do that in the image shader, for example in some tiling situations. The implementation is in [decompose_image in frame.rs](https://github.com/servo/webrender/blob/6b9db3d1a39e6f6e9cca2fbe8f49de09c126c722/webrender/src/frame.rs#L712).

This sh

[2017-04-18 21:25] #1122 closed

[2017-04-18 21:28] rlhunt commented on #1060
This hasn't happened to me any more, so it was probably a fluke.

[2017-04-18 21:28] #1060 closed

[2017-04-19 00:56] #1130 closed

[2017-04-19 01:59] staktrace commented on #452
@jrmuizel It seems like a lot of stuff on this list has been done. It might be good to update the post to mark things that are done.

[2017-04-19 04:42] lygstate opened #1138 "Where the tags goes?"

[2017-04-19 05:12] KiChjang commented on #1138
Can you give more details as to what problem you're seeing here?

[2017-04-19 05:31] lygstate commented on #1138
@KiChjang I am talking about https://github.com/servo/webrender/releases

[2017-04-19 18:23] KiChjang commented on #1138
It's still not clear to me what you're trying to achieve here.

[2017-04-19 19:13] lygstate commented on #1138
@KiChjang  Yes

[2017-04-19 19:40] jrmuizel commented on #1138
Why?

[2017-04-19 21:05] KiChjang commented on #1138
@lygstate This is a lot of back-and-forth. Could you please explain the problem that you're seeing right now, and how adding tags on every version update would help alleviate it?

[2017-04-20 13:38] siriux opened #1145 "Is it webrender ready to be used outside of servo?"
I'm considering to use webrender in a project but first I would like to know if you think it's ready (or if it will be any time soon) to be used outside of servo in a real application.

On the documentation says that it can be used in other applications, but it's not published on crates.io and there is no mention on api stability or the future of the project independently from servo.

Thanks for y

[2017-04-20 14:16] kvark commented on #1145
@siriux it's being used by Gecko too, as a part of the Quantum Renderer project. Both Servo and Gecko constantly keep up with master branch here and link to specific git revisions. The API changes quite often still, so we are not at the point of publishing and stabilizing it yet.

I'd be very interested to see other applications using WR as well. Moreover, I don't think publishing some versions on

[2017-04-20 14:41] siriux commented on #1145
Thanks for the info, it will be really useful to decide if I go with it.

Frequent breaking changes is a little bit scary, so I'll try to research more the alternatives and prototype something with webrender before deciding.

[2017-04-21 10:08] nical commented on #1145
I'd like that we fix the crate names before thinking about publishing on crates.io. ```webrender_traits``` is terribly confusing for a crate that barely contains any trait. I think that there were discussions about calling it ```webrender_types``` or ```webrender_api``` I don't remember exactly.

Once we publish on crates.io, we don't need to break the api there continuously (as in we don't need t

[2017-04-21 12:40] nical commented on #732
ImageDescriptor now has an opaque boolean flag, which means we can use 32bpp image formats while keeping the opaque optimizations.

[2017-04-21 12:40] #732 closed

[2017-04-21 18:07] nical commented on #1031
I looked at this test case through callgrind and it shows that we spend a lot of time reallocating vectors. I have a prototype patch that reuses the frame's vectors when rebuilding the frame which yields a 12% improvement on the cpu time spent in the render backend with this test case, I'll clean it up and submit it next week. It's not much but it is a start and it should be orthogonal to the prob

[2017-04-23 18:21] rlhunt commented on #973
This was fixed.

[2017-04-23 18:21] #973 closed

[2017-04-23 18:22] rlhunt commented on #968
This was fixed.

[2017-04-23 18:22] #968 closed

[2017-04-23 18:37] rlhunt opened #1157 "Using varying structs can cause shader errors"
I get shader errors on my windows machine when using structs as in/out between VS and FS shaders.

We replaced one of the instances of this in #1136 , which fixed my startup crash. But I still get errors for other shaders, usually `ps_border` with `flat varying RectWithSize vBorderRect`.

This is happening to me with WebRender on ANGLE, I believe it happens to others on OpenGL.

It would suck to g

[2017-04-23 18:38] rlhunt commented on #1157
@kvark @glennw thoughts?

[2017-04-24 13:43] nical commented on #1031
After recycling some vectors in FrameBuilder and PrimitiveStore, there is still some amount of time spent growing some data structures, but it looks like most of them are related to the enormous amount of scroll layers and clips in this test case. It would be easy to pre-allocate or recycle most of them but it may not be a good idea to complicate the code even a tiny bit and save another 2% on thi

[2017-04-24 14:06] Gankro opened #1159 "WebRender recurses for each PushStackingContext"
Rust should be safe against stack overflows, but they will still crash us, which is a reliability issue.

Probable test case: a bunch of nested transformed divs.

[2017-04-24 14:36] nical commented on #1038
Fixed in #1149.

[2017-04-24 14:36] #1038 closed

[2017-04-24 15:09] jrmuizel commented on #1159
FWIW, we already have recursion in the child process for these frames and have limits in place to prevent content induced crashes. I'm not worried about an owned child process causing panics in the webrender process.

[2017-04-24 21:49] jrmuizel opened #1162 "Travis doesn't run the same code for all jobs."
Travis runs `git fetch origin +refs/pull/1155/merge`. The value of this ref varies over time and will change if a job starts at a different time. Ideally, we'd checkout by commit id instead of name to ensure that all subjobs run with the same code.

Here's an example of this happening: https://travis-ci.org/servo/webrender/builds/225371510

The mac build failed trying to build examples/scrolling.r

[2017-04-25 00:48] jrmuizel opened #1163 "Update ANGLE to a more recent revision"
The copy of ANGLE at https://github.com/servo/angle looks to be pretty old. The ES3 compiler changed a lot during 2016.

[2017-04-25 16:47] sotaroikeda commented on #1157
I also faced the problem on my laptop.

[2017-04-26 10:22] nical commented on #962
@glennw @mrobinson This is a pretty important optimization in Gecko (and Blink), do you think we can compute the screen-space damaged rect/region in WebRender or should we hook up invalidation information from Gecko?

[2017-04-26 10:30] glennw commented on #962
It should be trivial to extract this from WR - most of the information is already present.

[2017-04-26 17:58] kvark commented on #1157
I don't see a prospect of workaround, let's revert the `varying` structs to regular vectors, for now at least.
@nical - to document this in the driver bug registry ;)

[2017-04-26 20:34] CAfromCA commented on #1157
If you ever need to test against an Intel HD Graphics 3000 (Sandy Bridge iGPU), I have one and am willing to help.

[2017-04-28 02:32] #1131 closed

[2017-04-28 14:22] nical opened #1178 "Use rayon's thread pool."
The rayon crate offers a strict superset of what the threadpool crate provides, and the implementation is pretty much state of the art (compared to threadpool which is essentially a big mutex around a single mpsc channel that all of the workers contend on).
Plus, rayon has a lot of very nice things.

[2017-05-01 20:38] kvark opened #1187 "Consistent documentation"
We have 3 sources of documentation right now:
  1. in-code
  2. in tree: `/webrender/doc`
  3. Github Wiki

It would be great to be consistent as well as bring some structure to the docs.

[2017-05-01 21:39] glennw opened #1188 "Consider removing manual perspective divide in transform shaders."
We had to do this when we had the tiling system in place - I think it should be possible to remove now.

[2017-05-02 10:24] nical commented on #1187
I think that it's fine to have the in-code and in-tree documentation side by side (the latter being good for long high-level explanations), I would really like the in-tree version to be included in the cargo generated doc(*). The wiki doc could move in the in-tree version (main change would be that you would need to pass reviews to change the doc).

Or we could move the in-tree doc to the wiki unt

[2017-05-02 12:02] nical commented on #1178
Hm, I got a bit carried away: spawn_async (the feature in rayon that corresponds to what we use in threadpool) is marked as unstable, so we may want to wait a little.

[2017-05-02 15:58] nical commented on #1116
I don't understand how this assertion happens. For a gl texture id (allocated by the driver) to be reused we'd need the original texture to be ```gl.delete_texture```'ed but for that to happen we'd need the Texture instance to be removed from the device.textures map which, as the issue title says, never happens.

When a cached texture id (as in the id allocated by the texture_cache) is reused, the

[2017-05-02 17:21] staktrace opened #1190 "Shader compilation failure in windows/ANGLE"
I did a [gecko try push](https://treeherder.mozilla.org/#/jobs?repo=try&revision=faf5f41f5ad5fa2be925358524edc1c6596bcdc1) on windows with webrender enabled, and in the log I saw a bunch of warnings and an error from the shader compilation. This appears to have caused a startup failure and triggered crashes in the test runs. Here's the error output:

[code]

I don't remember seeing this error when

[2017-05-02 18:25] kvark commented on #1190
Dupe of #1157 ?

[2017-05-02 18:28] staktrace commented on #1190
Looks like it, yeah.

[2017-05-02 18:28] #1190 closed

[2017-05-02 19:59] emilio commented on #1178
On Tue, May 02, 2017 at 05:02:18AM -0700, Nicolas Silva wrote:

I think even though it's under the unstable feature flag, it compiles
perfectly fine on rust stable. Indeed stylo uses the unstable scope()
API from rayon, and we don't have problems in m-c.

[2017-05-02 20:06] nical commented on #1178
Neat! I'll look into it then.

[2017-05-02 21:01] #1157 closed

[2017-05-03 18:09] staktrace opened #1195 "WR renders transparent if the root of the display list is a clip rect"
Apply the following patch and run the example.

[code]

Expected: the example window renders content and behaves the same as it does without the patch, since the root clip that I'm pushing includes the entire window.
Actual results: the window doesn't render anything, and I just see the desktop background through it.

@mrobinson not sure if this is expected behaviour or not. Maybe there's an assum

[2017-05-03 18:56] mrobinson commented on #1195
Yep, the root stacking context is special. I've had on my todo list to remove that constraint and include the special details in the display list metadata. I think this is a good moment to do that.

[2017-05-03 20:19] Gankro opened #1196 "MYSTERY: extra 0's after DisplayList in the ipc payload, for Servo"
I'm still investigating details but it's definitely the result of #1181. There's a now-commented-out assertion in channel.rs that will fail almost always (4/5ths of Servo reftests, in addition to just launching it on whatever page).

The assertion is basically checking that in parsing the payload, we consumed all of its bytes. This fails because some number of 0's (non-constant, but possibly deter

[2017-05-03 20:21] pcwalton commented on #1196
I seem to recall that Mach (which is used for IPC on Mac) rounds up messages to some quantum. If shmem is being used to transfer the payload, that *definitely* rounds up to some quantum (4096 bytes, most likely, as that's the x86 page size).

[2017-05-03 20:28] Gankro commented on #1196
Any idea why we wouldn't have ever tripped this before? I didn't see any logic which would perfectly round our payloads.

[2017-05-03 21:06] Gankro opened #1197 "Eliminate postfix dummy SpecificDisplayItems"
#1181 added two dummy SpecificDisplayItems that the backend shouldn't ever receive, but the BuiltDisplayList parser uses to make its job easier. If possibly, we should eliminate these.

The two items are:

* SetGradientStops
* SetClipRegion(ClipRegion)

These two items signal that, after the item, is consumed, one should expect to find a serialized slice which previously would have been part of th

[2017-05-03 21:15] Gankro commented on #1196
Just tested on linux: doesn't seem to have this problem.

Sounds like some mach nonsense.

[2017-05-03 21:32] Gankro commented on #1196
Looks like the bug is https://github.com/servo/ipc-channel/issues/83

[2017-05-04 03:07] #1001 closed

[2017-05-04 13:44] nical commented on #980
Can we close this now that display lists use serde + bincode?

[2017-05-04 14:26] Gankro commented on #980
Yes

[2017-05-04 17:37] #980 closed

[2017-05-04 22:19] #1138 closed

[2017-05-05 16:08] staktrace opened #1206 "Shader compilation error on some windows hardware"
In [this try push](https://treeherder.mozilla.org/#/jobs?repo=try&revision=db7e9f22bb8ab7da5820bdd071cedde86d894219) the windows 8 mochitest-bc failures happen because WR fails to startup. The log has this shader compilation error:

[code]

Note however that this compilation failure happens pretty late in the log. AFAICT WebRender is initialized numerous times before that successfully. It might ju

[2017-05-08 18:45] staktrace opened #1213 "Figure out WebRender clamping of scroll offset"
For gecko integration it would make my life a lot easier if WR offered a way to set a scroll position and didn't clamp it to the scroll bounds, or alternatively, allowed the caller to have more control over what it considers the scroll bounds.

Right now the `scroll_nodes` function in clip_scroll_tree.rs and the `set_scroll_origin` function in `clip_scroll_node.rs` both do a bit of clamping on the

[2017-05-09 10:45] zmike commented on #933
Has there been any progress with this?

[2017-05-09 15:07] JerryShih opened #1216 "Fix the channel index logic for image after #1125."
@nical @kvark @glennw

In  #1125, we could insert different image information for the different channel with the same imageKey. It's used for some yuv image formats(e.g. NV12 has 2 channel). Currently, the ImageTemplates in resource_cache doesn't handle this situation. It only uses imageKey for the hash key. So, the previous channel data in the yuv image will be replaced by the new one because the

[2017-05-09 17:03] staktrace opened #1218 "Add some way to async-update scrollbars"
Right now it looks like servo doesn't have scrollbars at all. However gecko does, and when doing async scrolling those scroll thumb needs to move in order to reflect the async scroll position. Without WR, gecko computes how much the scrollthumb needs to move and applies a transform to the thumb in the compositor at composite time. We make sure to keep the thumb on a separate layer so this is is po

[2017-05-09 20:40] #1195 closed

[2017-05-09 20:46] pyfisch opened #1219 "Semi-transparent gradient stops rendered opaque"
I have made a few test-cases for gradients: https://pyfisch.org/stuff/testcases-gradients.html

They render fine in Servo with Webrender except for testcase 15 where I use two stops with a value of `rgba(255, 255, 255, .5)`. This should be translucent but is rendered as solid white with servo. (The intersection of the two gradients should be brighter then the rest)

Since I did not find a point wh

[2017-05-09 21:16] glennw commented on #933
Not yet, no.

[2017-05-10 09:41] nical commented on #1178
Done in #1202 .

[2017-05-10 09:41] #1178 closed

[2017-05-10 11:14] mrobinson commented on #1213
I'd like to tackle this in two phases. In the first phase, I will allow arbitrary positioning and in the second I will handle properly clipping content that scrolls from outside the "normal" clipping rectangle. My reasoning for this is that @glennw is planning or reworking how combined clips work in the ClipScrollTree, so it makes sense to handle clipping later. On the other hand, we can probably

[2017-05-10 13:05] nical opened #1224 "Glyph width sometimes incorrectly computed in unix/font.rs"
when generating a glyph with mode ```FT_PIXEL_MODE_LCD``` we appear to unconditionally add two pixels to the glyph_width for the extra sub-pixels on each side of the glyphs. It turns out freetype doesn't always render a bitmap with these two extra pixels. As a result the reported width is bigger than it should be and we only crash much farther when we are about to upload the glyph in device.rs and

[2017-05-10 16:51] kvark commented on #1219
cc @rlhunt

[2017-05-10 18:28] rlhunt commented on #1219
Does Servo premultiply the alpha of the gradient color stops? Gecko does [this](http://searchfox.org/mozilla-central/source/layout/painting/nsCSSRenderingGradients.cpp#1015) before the display list is given to WebRender. This could be done on the WebRender [side](https://github.com/servo/webrender/blob/master/webrender_traits/src/display_list.rs#L670) but isn't. It doesn't really matter too much e

[2017-05-11 00:01] #1213 closed

[2017-05-11 00:31] #1224 closed

[2017-05-11 07:45] paulrouget opened #1233 "2nd window stays blank"
I'm creating 2 windows.

The 2nd window stays white, and flickers from white to black when swap buffer is called.
The 1st window is rendered and updated properly.

I'm not sure if I'm supposed to call make the gl context current at some point or not. `get_gl()` returns the gl context of the proper window. `swap_buffer` is called on the proper window.

If I use make_current, it crashes: `thread 'ma

[2017-05-11 09:15] paulrouget commented on #1233
I'm going to try to figure out what's going on.

It's necessary to call make current:

[code]

[2017-05-11 11:42] mrobinson commented on #327
The second case is working well in Servo now, but the first one definitely has clipping issues.

[2017-05-11 11:46] mrobinson commented on #434
Is this still an issue with the various border shader refactors?

[2017-05-11 13:14] mrobinson commented on #1196
Is this fixed by https://github.com/servo/webrender/pull/1231?

[2017-05-11 13:28] kvark commented on #1196
Looks like it, nice!

[2017-05-11 13:28] #1196 closed

[2017-05-11 15:01] jrmuizel opened #1236 "Add inline blob images"
Sometimes, blob images will be small enough that it makes more sense to just include them inline in the displaylist instead of having separate images for them. This lets us avoid doing the ipc work to add/remove the images.

It would probably be worth confirming that this shows up in profiles before starting work on it.

[2017-05-11 20:31] glennw commented on #434
I don't believe so - let's close it and it can be re-opened if anyone else can still repro it.

[2017-05-11 20:31] #434 closed

[2017-05-12 07:30] pyfisch commented on #1219
Servo does not premultiply the alpha of gradient stops. Is it possible to send a PR to webrender to premultiply gradient stops or should this be changed in servo?

[2017-05-12 07:33] pyfisch opened #1244 "DisplayListBuilder function push_text should accept float for blur_radius"
[The push_text method](http://doc.servo.org/webrender_traits/struct.DisplayListBuilder.html#method.push_text) takes `Au` for `blur_radius` unlike `push_box_shadow` which takes a `f32`. The `Au` is always converted to `f32` internally. For consistency can I change the accepted type?

[2017-05-12 15:38] kvark commented on #1244
It does seem like a bug in `push_text` to me. We should use `f32` for the blur radius consistently.

[2017-05-12 15:54] nical opened #1245 "Add a good glyph rasterization benchmark."
It would be great to be able to measure the performance of glyph rasterization when there are lots of glyphs to rasterize on the same frame from wrench.

[2017-05-12 16:27] kvark commented on #1245
On a side note, let's bring the naming to some consistency. I suggest saying "glyph rasterization" to avoid semantic collision with the actual glyph rendering.

[2017-05-13 12:40] fryeb opened #1251 "Failed to compile shader on windows (Intel HD Graphics)"
`ps_split_composite` does not compile. This causes the basic, scrolling and yuv examples to fail. The blob example continues to work. Perhaps a driver bug?

[2017-05-14 01:37] kvark commented on #1251
@fryeb could you provide the console output?

[2017-05-14 22:57] fryeb commented on #1251
[code]

[2017-05-14 23:04] #1244 closed

[2017-05-15 03:05] glennw opened #1253 "Add a basic CI test to wrench ensure binary record / replay is working."

[2017-05-15 04:58] paulrouget commented on #1233
Opening 2 windows always end up triggering one of these asserts:

[code]

Indeed, `gl.create_program` creates a pid that has already been created earlier.

I use this code to open 2 windows: https://gist.github.com/paulrouget/e131558e298b5cbd33c02a94ad2cc5ec

[2017-05-15 05:00] paulrouget commented on #1233
@glennw do you mind taking a quick look at this? If you apply the patch mentioned in the previous comment, I think you can reproduce easily.

It only happens if I use `make_current`.

[2017-05-15 13:51] nical opened #1254 "A lot of missing text-related features in wrench on non-windows platforms."
A lot of missing implementations, see for example in wrench.rs:
 - ```layout_simple_ascii```
 - ```font_key_from_name```

Right now it is hard to test any text-related feature on non-windows platforms using wrench.

[2017-05-15 14:49] jrmuizel commented on #1254
font_key_from_name is unused but a patch to implement it is easy:
[code]

layout_simple_ascii is more involved. What I've been doing for text-releated things is just recording in servo or firefox and then using that. It would be better to have layout_simple_ascii though.

[2017-05-15 19:37] glennw commented on #1254
I am planning to hook harfbuzz up for linux - it should be very simple to do. But we'll need someone to do a mac implementation of layout_simple_ascii then.

[2017-05-16 00:05] glennw opened #1256 "Extremely large border radii can be very slow on the software rasterizer."
From the ```border-radius-clipping.htm``` CSS test:

[code]

[2017-05-16 02:19] glennw commented on #1233
@paulrouget OK - I tested this out and got it working by adding one extra line :)

The commit is here - https://github.com/glennw/servo/commit/f09f9c48aaaac3dc1d02603cfa59454b7dcc81c8.

The extra line is here - https://github.com/glennw/servo/commit/f09f9c48aaaac3dc1d02603cfa59454b7dcc81c8 - the context needs to be made current during the Browser::new() call as well - since GL resources are create

[2017-05-16 08:25] paulrouget commented on #1233
Thank you! It works.

[2017-05-16 08:25] #1233 closed

[2017-05-16 13:45] bagder opened #1258 "build fails when done in windows network folder"
([originally reported in the Firefox bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1363989) since it breaks the nightly build as well.)

When I clone the code into a directory on a network folder in my Windows 7 VM and build with 'cargo build', I get the following build errors. I use a network folder to automount the underlying Linux file system from the host so that I can easily share da

[2017-05-16 14:25] kvark commented on #1251
Thanks @fryeb ! The error is interesting ("cannot convert parameter 1 from 'float' to 'float'")... I can tweak the code a bit to see how we can work around this (seemingly a driver bug?), and we'll attempt to repro it internally.

[2017-05-16 15:18] Gankro commented on #1236
update: unclear what workload would best demonstrate this

[2017-05-16 19:30] kvark commented on #1251
If you can test a potential fix, here is a diff:
[code]

[2017-05-16 20:04] MortimerGoro opened #1260 "assertion failed: requested_size.width <= self.max_texture_size (running wpt tests with broken driver)"
Running filtered servo wpt tests such as "`./mach test-wpt --release dom`" or "`./mach test-wpt --release webgl`" crash on my desktop linux machine.

They only crash when --no-pause-after-test is enabled (running test categories or a single test using "`./mach test-wpt --release tests/wpt/web-platform-tests/webgl/conformance-1.0.3/conformance/extensions/oes-vertex-array-object.html --no-pause-afte

[2017-05-16 21:11] kvark commented on #1260
Running this command is fine on my machine:

Output:

Expected results: 7
Unexpected results: 0

Similarly, this command succeeds:

However, testing webgl produces a number of timeout and crashes like this one (seems unrelated to the subject issue):
[code]

I'm running off rev d04a64394efb40adeadf0dd950247d2a08ba13b0 of https://github.com/servo/servo/pull/16891
Kernel: 4.10.8-200.fc25.x86_64

[2017-05-17 09:53] fryeb commented on #1251
@kvark I have tested your solution and it works with all of the tests on my machine. I have also managed to get the following to work.
[code]
I think the fact that both versions work, while the current one does not suggests that it is probably a driver bug. Thank you for all your help @kvark .

[2017-05-17 11:19] kvark commented on #1251
Great, @fryeb , thanks for confirmation!
I've added the issue to https://github.com/servo/webrender/wiki/Driver-issues#1251---returning-with-struct-constructor
Would you mind filing a PR with a fix?

[2017-05-17 14:47] fryeb commented on #1251
@kvark I have submitted a pull request [here](https://github.com/servo/webrender/pull/1263)

[2017-05-17 16:06] kvark commented on #1251
Fixed by #1263

[2017-05-17 16:06] #1251 closed

[2017-05-17 17:45] kvark opened #1265 "Incorrect subpixel AA text rendering with composite operations"
See https://github.com/servo/servo/issues/16902
Take #1264 if you need to repro it on linux.

When subpixel AA text is drawn to an offscreen target because of a composite operation, it gets the RGB color messed up. See Frame 200 in the attached capture - [servo-text-aa.zip](https://github.com/servo/webrender/files/1008632/servo-text-aa.zip)

[2017-05-17 19:28] jrmuizel opened #1266 "A lot of time spent in webrender::texture_cache::TextureCache::insert"
I see this stand out quite a bit in profiles of Firefox scrolling cnn.com and a huge amount scrolling https://perfht.ml/2qxbfmr.

[2017-05-17 23:17] MortimerGoro commented on #1260
I printed the sizes and max_texture_size is 0:

[code]
I tried adding this https://github.com/servo/servo/pull/16903 but the same problem.

I'm running latest servo upstream with Ubuntu 16.04 with kernel 4.8.0-49-generic

[2017-05-18 01:22] glennw commented on #1260
@MortimerGoro Have you recently installed / updated nvidia proprietary drivers on your machine?

[2017-05-18 01:37] #1265 closed

[2017-05-18 14:19] kvark opened #1269 "Remove the direct GL usage from Wrench"
Ideally, GL should only be is `device.rs`. Having Wrench depend on it (calling `glViewport, glReadPixels, and other) prevents Szeged team to use it for reftests (see https://github.com/szeged/webrender/issues/17).

[2017-05-18 14:38] jrmuizel commented on #1266
The profile linked above doesn't actually show the problem it's just a website that reproduces the problem.

Most of the time is being inside TexturePage::coalesce

[2017-05-18 15:05] kvark commented on #1266
Our `coalesce` function is called way too many times and is expensive whenever anything changes. We should optimize both the function implementation and reduce the number of times it's called. I'm looking at it.

[2017-05-18 17:56] jrmuizel opened #1270 "Positioning of glyphs on macOS is wrong"
I showed this to @kvark in real life.

[2017-05-18 20:08] jrmuizel opened #1273 "Support full color glyphs"
This is needed for Emoji

[2017-05-18 22:41] #1269 closed

[2017-05-19 14:39] staktrace commented on #1218
I implemented this using the OMTA API in gecko. https://bugzilla.mozilla.org/show_bug.cgi?id=1364525

[2017-05-19 14:39] #1218 closed

[2017-05-19 15:01] jrmuizel opened #1276 "Ensure WebRender memory usage does not grow without bound"
There are a number of caches in webrender that will grow without bound. We need to make sure that things are getting evicted as appropriate.

[2017-05-19 15:23] staktrace opened #1277 "Add support for position:sticky"
Gecko currently supports position:sticky in the compositor. In order to not regress this behaviour when switching to WR we'll need WR to support it as well.

/cc @mrobinson

See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1366295

[2017-05-19 18:12] kvark opened #1279 "Pixel snapping with a stretch"
We currently pass a single reference point into the primitive's vertex shader, based on which the snapping offset is computed for the whole primitive. That's not exactly how Gecko/Safari do the snapping. We should be snapping both left and right (correspondingly, top and bottom) of a primitive, potentially even stretching it.

[2017-05-19 18:20] Gankro commented on #1279
Some relevant tests in gecko:

* layout/reftests/pixel-rounding/border-width-5.html == layout/reftests/pixel-rounding/border-width-10-ref.html
* layout/reftests/pagination/abspos-overflow-01-cols.xhtml == layout/reftests/pagination/abspos-overflow-01-cols.ref.xhtml
* layout/reftests/pagination/dynamic-abspos-overflow-01-cols.xhtml == layout/reftests/pagination/dynamic-abspos-overflow-01-cols.ref.x

[2017-05-19 18:24] kvark commented on #1276
This is a rather generic issue, begging for specification of what caches need to be put under better control. This research could be considered to be a part of the issue ;)

[2017-05-19 19:44] Gankro opened #1280 "3D border colors don't match gecko (and are too naive)"
See e.g. layout/reftests/w3c-css/received/css-multicol-1/multicol-rule-groove-000-ref.xht, where we render the "light" color darker than gecko.

Gecko's impl can be found in `NS_GetSpecial3DColors`, ours can be found in `ps_border_edge.vs.glsl:write_color()`.

It looks like we agree with chrome (unverified), so this is clearly a fuzzy implementation detail. We should just be sure we're fine with c

[2017-05-19 21:46] Gankro commented on #1280
Ah I just found a much better case, which demonstrates why complex logic exists here (and that we don't match chrome): We render a "black" 3d border as pure black, but everyone else significantly lightens it so that there's still a 3d effect.

See: layout/reftests/table-bordercollapse/border-style-outset-becomes-groove-ref.html

[2017-05-20 09:06] nical commented on #1279
Also, we need the snapping information (the two corners) to be independent of the rect of the primitive, otherwise tiled primitives often render incorrectly (1 pixel band between two tiles of the same image) because each tile get snapped independently. Or perhaps the stretching will prevent this bug?

[2017-05-20 09:45] #1216 closed

[2017-05-22 00:37] #1266 closed

[2017-05-22 08:05] mephisto41 commented on #1206
I had same problem here. mark [1] and [2] fixed problem but I didn't know why. Maybe dump the d3d shader code which is generated by ANGLE to see what happened here.

[1]: https://github.com/servo/webrender/blob/master/webrender/res/ps_border_edge.vs.glsl#L45
[2]: https://github.com/servo/webrender/blob/master/webrender/res/ps_border_edge.vs.glsl#L48

[2017-05-22 09:05] mephisto41 commented on #1206
This is compiled shader for ```write_color```

void _write_color_float4(in float4 _color, in float _style, in bool _flip)
{
float2 _modulate = {0, 0};
switch (ivec1(_style)) {
case (6):
s3;
if (_flip)
{
(s3 = float2(1.3, 0.69999999));
}
else
{
(s3 = float2(0.69999999, 1.3));
}
(_modulate = s3);
break;
;
case (7):
s4;
if (_flip)
{
(s4 = float2(0.69999999, 1.3));
}
else
{
(s4 = float2(1.3, 0.6999999

[2017-05-22 09:06] mephisto41 commented on #1206
Looks like ANGLE code generator generated s3 and s4 without type.

[2017-05-22 14:45] MortimerGoro commented on #1260
@glennw  Yes, I installed & updated some time ago. I have checked to switch to nouveau driver and it works!. The crash only happens with the proprietary drivers.

[2017-05-22 14:59] mrobinson commented on #1277
I can work on this one!

[2017-05-22 19:53] glennw commented on #1260
@MortimerGoro OK, that matches up with what I've seen on someone else's machine. Something in our build config results in the nVidia proprietary libGL.so being loaded when using OSMesa for the CI tests. This results in much badness, and a non-working GL context.

[2017-05-23 00:09] glennw opened #1283 "Remove use of stacking context local_bounds from make_polygon"
It would be good to remove ```local_bounds``` from the StackingContext structure (and the associated public APIs).

It doesn't really have any meaning, now that we collect the bounding rect from the clip-scroll groups that make up a stacking context.

There's one piece of code that currently reads the ```local_bounds``` field in the ```make_polygon``` function.

Could we modify how that function w

[2017-05-23 00:09] glennw commented on #1283
cc @kvark @mrobinson

[2017-05-23 07:20] mephisto41 commented on #1206
ANGLE will replace declaration with symbol for statement of switch-case in [1] which I don't know why. I have a workaround that surround the statement by bracket. I'll upload patch.

[1]: https://github.com/google/angle/blob/d7b1ab5893953b97fe5dc1b3087a9b4b50ec45ee/src/compiler/translator/RemoveSwitchFallThrough.cpp#L41

[2017-05-23 16:48] #1206 closed

[2017-05-23 17:39] Gankro commented on #1280
Hillariously, it seems the legacy table property `frame="..."` is lowered to a 3d border so this also breaks all reftests checking for that.

[2017-05-23 19:05] Gankro opened #1288 "Linux: Fractional length border edges lose some pixels"
If you run this test from gecko `layout/reftests/backgrounds/background-tiling-zoom-1-ref.html` in Servo or in gecko with `layers.advanded.border-layers`, some of the borders will have missing or extra pixels near the corners.

This shows up in `try` on linux, as well as when run locally on the toronto office's "hawkman" machine (Ubuntu), although the two have different artifacts. I haven't been a

[2017-05-23 19:06] Gankro commented on #1288
It's possible this is related to https://github.com/servo/webrender/issues/1279, or at least a fix for one will fix both.

[2017-05-23 20:47] Gankro opened #1289 "Handle degenerate borders?"
Webrender fails to pass this reftest in gecko: `layout/reftests/border-radius/corner-3.html` which states that it tests "when only some of the corners have a border-radius and the border-radius is greater than the sum of the border width and the element's content area width/height".

However gecko itself even fails to handle this generalization (which safari and chrome can):

<details>
<summary>Cl

[2017-05-23 20:48] Gankro commented on #1289
@jrmuizel has suggested that, at least in gecko, this is probably a case we should punt to some other strategy than a native webrender border. Handling all of these weird corner cases is likely to be Very Hard.

[2017-05-24 15:10] kvark commented on #1233
@sotaroikeda you might find this conversation useful for establishing multiple windows with WR ^

[2017-05-24 15:50] Gankro opened #1291 "Webrender doesn't curve borders if both neighbours are invisible"
Here are two borders that should render the same (to the human eye) but don't in webrender:

![screen shot 2017-05-24 at 11 46 02 am](https://cloud.githubusercontent.com/assets/1136864/26412394/a2a0a5b8-4076-11e7-897c-a9041eb85e47.png)

left (incorrect render):
[code]

right (correct render):
[code]

The problem is that webrender seems to give up on applying curvature if both neighbours (in this c

[2017-05-24 15:50] Gankro commented on #1291
I'm looking into fixing this, since it should be straightforward.

[2017-05-25 00:59] sotaroikeda commented on #1233
@kvark , thanks!

[2017-05-25 14:21] kvark opened #1295 "Override shader path by default for examples and wrench"
Examples and wrench main use case is assisting developers, which built WR locally in the first place. I suggest us having these binary to use local shaders by default, so that we can iterate quickly without putting the command line every time. Perhaps, even have a compile feature to include shaders in the build that is only used by Servo/Gecko?
We could write the shader path by the `build.rs` some

[2017-05-26 01:20] #1291 closed

[2017-05-26 11:37] mrobinson commented on #1283
@glennw I suppose this will be replaced by an offset?

[2017-05-26 17:08] kvark commented on #1280
TL;DR: 3D borders need to take the background color into account when producing the color

One way to get it would be to explore various blending modes and maybe find an approximation. Given that Blink and Gecko lighten up differently, approximation should be allowed here.

Another way, a more robust one, would be to have the borders spawning a render task for the background. This is similar to th

[2017-05-26 17:14] Gankro opened #1297 "Small artifacts in thin white borders"
`gecko/layout/reftests/bugs/1156129-1.html` fails because a thin white curved border on a white background anti-aliases to include some non-white pixels.

https://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml#logurl=https://queue.taskcluster.net/v1/task/FkcLuDANTRKocplDYA828g/runs/0/artifacts/public/logs/live_backing.log&only_show_unexpected=1

[2017-05-26 17:45] kvark commented on #930
Dupe of #691

[2017-05-26 17:45] #930 closed

[2017-05-26 18:21] #1279 closed

[2017-05-26 20:42] glennw commented on #1283
@mrobinson Yes, that's what I was thinking.

[2017-05-29 15:19] staktrace opened #1301 "Add support for background-attachment:fixed"
As far as I can tell the only mechanism for anything "fixed" in WR is the ScrollPolicy on stacking contexts, which looks like it is for position:fixed. We would like to handle other "fixed" things like background-attachment:fixed. Servo doesn't appear to handle background-attachment:fixed either. Here is a test page: https://mozilla.staktrace.com/bug/1368496/ that demonstrates how it is supposed t

[2017-05-29 20:10] staktrace opened #1304 "Using an identity transform vs None for a stacking context produces different rendering"
Apply the following patch to webrender/examples/scrolling.rs:

[code]

and run the example. Note the position of dark-red square (really a red square with opacity 0.5). Now change the line that says `Some(PropertyBinding::Value(LayoutTransform::identity()))` to `None` (the line is indicated with a comment). Run the example and note the position of the dark-red square.

I would expect the position

[2017-05-30 08:03] mrobinson commented on #1304
The issue here is that the code is pushing a "Clip" that lives outside of the reference frame. I see now that the scrolling documentation is missing some important information about how positioning is affected by new reference frames. In short:

- Stacking contexts with transformations create reference frames. Reference frames are new coordinate systems for scrolling and fixed positioning. This is

[2017-05-30 13:04] staktrace commented on #1301
After discussing with mrobinson on IRC, it appears that the push_clip_and_scroll_info API should be used for this. In particular, if there is a background-attachment:fixed item inside scrollframe S, we should push a ClipAndScrollInfo with a clip_node_id of S, and a scroll_node_id of S's parent. That way the item will be fixed relative to S (but still scroll with any ancestor scrollframes), but wou

[2017-05-30 15:33] staktrace opened #1307 "Increase in texture_cache size causes OOM in gecko media mochitests"
#1294 made some changes to the texture_cache so that it holds on to more stuff. This appears to cause OOM failures in gecko media mochitests. The PR changed webrender to hold on to 600 frames of texture data, and if I reduce it down to 60 it makes the OOMs go away. There is some additional info at https://github.com/servo/webrender/pull/1294#issuecomment-304318800 onwards.

[2017-05-30 16:19] kvark opened #1309 "Remove/fix layer's combined clip rectangle"
It's currently clipping the transformed layers incorrectly, hence the temporary hack in #1177.

[2017-05-30 19:56] staktrace commented on #1304
For the record, we discussed this on IRC. The end result of the discussion was that we should try to separate the CSS-specified transform from the other synthetic transforms in gecko, and only pass on the CSS-specified transform to webrender. Otherwise we risk creating new reference frames in unexpected places.

Also,

this was a misunderstanding, since Gecko doesn't repush an ancestor clip; the c

[2017-05-30 23:41] #1307 closed

[2017-05-31 10:26] paulrouget opened #1314 "Make it possible to configure overscroll behavior"
*This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2*

From the embedder perspective, we want to be able to configure and change the overscroll behavior.

Maybe something like this:

[code]

[2017-05-31 15:02] mrobinson opened #1316 "Split scrolling and clipping into two node types in the ClipScrollTree"
Currently the ClipScrollTree uses a single type of node to represent clips and scrolling regions with clips. This is an evolutionary design from a simpler version of the API. This means that we are treating clips like they have the potential to scroll, which leads to extra work and, ultimately, a more confusing API. Once they are split into two trees, our internals will match Gecko and we will be

[2017-05-31 15:02] mrobinson commented on #1316
cc @glennw @staktrace

[2017-05-31 20:22] glennw commented on #1316
@mrobinson This sounds good! Is it something you're working towards now?

[2017-05-31 20:37] staktrace commented on #1301
It took some contortions but I managed to get this working locally. Closing this issue, I might reopen it later if I run into problems.

[2017-05-31 20:37] #1301 closed

[2017-06-01 05:06] glennw opened #1321 "Add support to wrench for loading YUV images."
It would be good to have test coverage for the various YUV formats.

[2017-06-01 05:06] glennw commented on #1321
cc @JerryShih

[2017-06-01 07:25] JerryShih commented on #1321
@glennw @nical

It's good to have that, but we might have some troubles with some hardware specific buffer formats. With that format, the stride or the internal format of that buffer might be unknown. We should create a draw target to draw that buffer to target and read back as rgba buffer. Thus, we could save the buffer into file.
Anyway, we could do that for the regular image and "external buffe

[2017-06-01 09:35] mrobinson commented on #1316
@glennw I've started working on this locally, though the calculation of the local_combined_clip_rect is pretty complicated. If you've made good progress eliminating that, it would make sense to wait until it has landed.

[2017-06-01 09:41] glennw commented on #1316
@kvark has kindly offered to take over the work I was doing on combined_local_clip_rect - but I'm happy to pick it up again if @kvark needs to work on something else.

[2017-06-01 15:26] staktrace opened #1324 "ps_image shader compile error in angle, '_clamp_rect': ambiguous function call"
The latest WR update into gecko resulted in a new failure on Windows QR reftests. ([Full log](https://treeherder.mozilla.org/logviewer.html#?job_id=103721042&repo=graphics&lineNumber=2277))

Relevant output:
[code]

[2017-06-01 21:10] staktrace opened #1326 "Pushing a clip on top of clip_and_scroll_info has unexpected behaviour"
Apply this patch to examples/scrolling.rs:

[code]

Run the example and scroll the nested scrollframe. Observe how the teal square is clipped as you scroll, behaving the way you'd expect background-attachment:fixed to behave.

Now uncomment the lines that start with "// !" and repeat. Now the teal square doesn't get clipped as you scroll.

It seems that pushing an extra clip after pushing the clip

[2017-06-01 21:38] #1324 closed

[2017-06-02 12:37] staktrace opened #1332 "ps_image shader compilation failure with ambiguous function _intersect_rect"
Same deal as #1324, but a different function. Log is at https://treeherder.mozilla.org/logviewer.html#?job_id=103827367&repo=try&lineNumber=2287

[2017-06-02 14:44] mrobinson opened #1335 "Remove `push_clip_node` API"
This was just added for backward compatibility support in Gecko, which will soon stop using it.

[2017-06-05 07:51] mrobinson commented on #1326
@staktrace Sorry for the delay in replying. I think what is happening here is that `redundant_clip_id` is being positioned relative to `clip_id` instead of `nested_clip_id`. The key thing here is that a clip is placed into the clip tree based on the current positioning clip_id on the stack at the moment you call `define_clip`. Take a look at this code from the `DisplayListBuilder`:

[code]

So wha

[2017-06-05 10:04] nical commented on #1245
Side note, to give an idea of what some of the numbers can look like:
When rendering the hacker news front page, we tend to request a dozen bags of 3 to 30-ish glyphs in the same frame. Most of the glyph requests are closer to 5 but it is during page load or when scrolling quickly (so when we are most subject to blow the frame budget up) that we run into the bigger glyph requests.
It would be bett

[2017-06-05 12:28] staktrace commented on #1332
@kvark - we're hitting shader compilation crashes in the wild too - https://bugzilla.mozilla.org/show_bug.cgi?id=1370104 so it would be good to fix this soon and push a new WR update into gecko.

[2017-06-05 15:12] kvark commented on #1332
I believe this is fixed in 9143f1d565f20086b1b00c9ee132cfbe30c658da

[2017-06-05 15:12] #1332 closed

[2017-06-06 02:42] staktrace commented on #1332
Confirmed fixed, thanks!

[2017-06-06 13:25] staktrace opened #1345 "Rust panic in Frame::flatten_items"
We're seeing some Firefox crashes in the wild and in automation with an expect_failed panic in Frame::flatten_items. We don't have steps to reproduce though, so I'm filing this just to track the problem on the webrender side, or if anybody spots any problems via code inspection.

Relevant bugs:
https://bugzilla.mozilla.org/show_bug.cgi?id=1344190
https://bugzilla.mozilla.org/show_bug.cgi?id=136816

[2017-06-06 17:02] kvark commented on #1345
The expectations seem to fail in different places, which is worrisome:
  - some fail with "no entry found for key", which happens if you try to work with a `HashMap` element by key without safely checking for it. I haven't found yet the exact hashmap in question and the spot it fails.
  - some fail with "No display list?!" when flattening a rectangle display item and looking up the pipeline

[2017-06-06 17:31] staktrace commented on #1326
I experimented some more and I got the desired effect by doing what you suggested with a slight modification. I had to define redundant_clip_id before pushing the ClipAndScrollInfo. And then I had to push another ClipAndScrollInfo, this time with (clip_id, redundant_clip_id), after pushing the first ClipAndScrollInfo. If I just pushed the redundant_clip_id as a simple clip it didn't work. Which in

[2017-06-07 15:14] kvark opened #1350 "Share RenderBackend between multiple Renderer/RenderAPIs"
It would be great to investigate if we gain anything from sharing a backend between different GL contexts (that are associated with different `Renderer` and `RenderApi` instances. At the very minimal, we could share the rayon thread pool, but there can be more.

cc @nical @jrmuizel @sotaroikeda

[2017-06-07 15:28] nical commented on #1350
Sharing the rayon thread pool is already possible without further modification of webrender, see the [gecko patch to do that](https://bugzilla.mozilla.org/show_bug.cgi?id=1370879) for example.

I would love to at least share the render backend thread between webrender instances.
Going further and sharing resources like fonts and rasterized glyphs would be really nice too.

I doubt we can have a si

[2017-06-07 15:33] jrmuizel commented on #1350
See also https://github.com/servo/webrender/issues/1233

[2017-06-07 15:41] nical commented on #1350
My understanding is that this was because servo is using a wr instance per window (just like gecko currently does) and gl make_current wasn't properly used, causing a window to send commands to the other window's gl context. We already have the same form of multi-window support.

[2017-06-07 16:10] kvark commented on #1350
Right, I'm aware of the patch. The issue can be re-formulated as "what parts of WR we can share between different contexts", and I brought up the thread pool as a sort of lower bound for that metric, that we already achieved.

From the first look at the backend:
  - `GpuCache`, `TextureCache`, `webgl_textures` - would only work if we share textures between GL contexts
  - `font_templates`, `image_

[2017-06-07 16:52] nical commented on #1350
Out of order:

 - Blob image renderer doesn't hold much state (it uses the shared thread pool) and only produces data that is useful to the specific scene it renders, so there isn't much gain from sharing it.

 - Sharing the render backend thread (and have several render backend objects on it) should not be too hard and we should really make it possible. It would also make the other items below a

[2017-06-08 08:23] mrobinson commented on #1326
@staktrace Does it make sense to close this now or would you like the API behavior to change in some way?

[2017-06-08 08:23] mrobinson commented on #1304
@staktrace I think this one can be closed?

[2017-06-08 08:25] mrobinson opened #1351 "Implement blur filter"
This can be observed by running the following wrench test:
[code]

cc @glennw @jrmuizel

[2017-06-08 09:25] glennw commented on #1351
It's not implemented yet, that's why :) Most of the work is done in other areas, so it shouldn't be a huge amount of work.

There is a (slow) blur render task and shader that is used for text shadow blurs.

There is also some code to render a stacking context to a target with identity transform.

We basically need to hook up / abstract those bits of code, to get the blur filter working.

We also n

[2017-06-08 12:33] staktrace commented on #1326
Yeah I think we can close this, it makes sense now.

[2017-06-08 12:33] #1326 closed

[2017-06-08 12:38] staktrace commented on #1304
@mrobinson I was thinking about this some more and I still feel that it's a bit of a footgun that a `None` transform produces a different result than an identity transform. I feel like it might be better to make this a bit more explicit in the API by adding a `is_reference_frame` bool argument to `push_stacking_context`. The caller can specify if they want that stacking context to be treated as a

[2017-06-08 13:03] mrobinson commented on #1304
@staktrace One thing I've been considering,along a similar line is to explicitly expose reference frames to the API. Instead of pushing a stacking context with a transform, you would define a reference frame with a transformation and then push the stacking context as a child. This would also allow clients to handle fixed positioning by assigning stacking contexts the clip id of the reference frame

[2017-06-08 13:08] staktrace commented on #1304
@mrobinson That sounds like a good idea, I'd be ok with that change.

[2017-06-08 20:22] glennw commented on #1304
I like this idea too.

[2017-06-08 20:50] staktrace opened #1352 "Unexpected behaviour when swapping the order of stacking context and clip"
I don't yet have fully reduced test case for this but here's a quick summary. I have a stacking context (no transform, but nonzero top-left) and inside it I push a clip (with a mask). Inside that I push an image. This works fine. If I then invert the order of the stacking context and clip, adjusting the clip positioning accordingly, then I get different behaviour.

Here's a dump from the first (go

[2017-06-08 21:31] glennw commented on #1352
I'm wondering if it's related to this comment - https://github.com/servo/webrender/blob/master/webrender/src/clip_scroll_node.rs#L130. Does that sound possible @mrobinson ?

[2017-06-09 07:02] glennw opened #1353 "Consider splitting the WebGL related code into a separate crate."
Instead, we could connect WebGL up to WR via the ExternalImage APIs, which support CPU-side buffers and native surface handles.

The primary benefits would be:
 * Simplify the internals of resource cache by removing the GL context management code.
 * Remove the WebGL cargo feature, since not all clients use it.

[2017-06-09 09:21] mrobinson opened #1354 "Unexpected behavior when combining filters"
I have observed that opacity filters do not combine as I would expect. For instance the two rectangles in the following wrench output are a different color:
[code]

![screenshot](https://user-images.githubusercontent.com/13536/26969368-c9e8c0e2-4d05-11e7-8cc4-a11b2c51cb78.png)

[2017-06-09 09:22] mrobinson commented on #1354
@glennw Perhaps this is an issue with premultiplied alpha?

[2017-06-09 13:18] staktrace commented on #1352
I made a sample app that reproduces the problem. You can get it by checking out the `test` branch in my webrender fork

https://github.com/staktrace/webrender/tree/53d84abd1cea754c74736e4a92dfd640a0dae576

Run `cargo run --example test` and observe the behavior. Then modify the "if true" block inside test.rs to be "if false" so that it goes down the other branch in the condition, and re-run to obs

[2017-06-09 13:34] kvark commented on #1353
WebGL needs GL context, while ExternalImage does not. Are you suggesting to read back the WebGL surfaces into CPU memory in order to bring it to WR?

[2017-06-09 14:16] jrmuizel opened #1357 "APZ doesn't seem to be async enough"
I'm concerned that rasterizing blob images, glyphs and processing a new scene will block scrolling. If this is true we should do better.

[2017-06-09 18:21] emilio commented on #1353
I'm assuming we'd use something like rendering to a native texture, and pass that handle to WR.

[2017-06-09 20:06] staktrace commented on #1352
I strongly suspect this is related to using a mask in the clip. While debugging another reftest I'm seeing what appears to be another (possibly related) problem with a clip mask not showing up where I expect it to. I haven't yet reduced the test.

[2017-06-09 22:09] jrmuizel opened #1358 "Expose font data/fonts to blob renderer"
Gecko needs this to avoid resending the fonts all the time.

If we don't expose the fonts and only expose the font data we need some way to know about font key deletions so that we can remove our own Font objects when they no longer correspond to the keys.

Thoughts?

[2017-06-10 17:47] nical commented on #1358
What I have in mind is to have a list of the ids of the resources that the blob image depends on at the beginning of the recording. Then, when requesting a blob image (or a tile of a blob image), we go through these ids and get the data from the resource cache, and send it along with the rest of the information to the worker thread.
To do that we have to extend [BlobImageRenderer::request](https:/

[2017-06-11 14:23] stshine opened #1361 "BlobImageRenderer does not scale with device pixel ratio"
Currently when calling  `BlobImageRender::request()` in `ResourceCache::request_image()`, the width and height in the request is provided as css pixel, and after getting the resolved image webrender scale the bitmap with the device pixel ratio, resulting quantity loss.

cc @nical

[2017-06-12 09:56] nical commented on #1361
Good catch, we should formulate blob image requests in device space rather than css space.

[2017-06-12 13:49] nical commented on #1361
@stshine Actually, I think that the issue would be on Gecko's side. As far as I can tell the blob image descriptor is in device space and the only scaling that happens is the one that makes the image rect fit the display item's rect (independently of the device pixel ratio). So gecko should be taking the device pixel ratio into account when creating the blob image if it is currently using css coor

[2017-06-12 15:24] mrobinson commented on #1352
@staktrace I think the issue here is that mask coordinates clip rect itself should be defined relative to the origin of the rectangle passed as the first argument to the clip. With this diff, it seems that both code paths produce the same image:
[code]
I'd like to get rid of this inconsistency at some point. See https://github.com/servo/webrender/issues/1090.

[2017-06-12 15:26] mrobinson commented on #1316
I think that it's going to be a lot easier to keep clipping and scrolling in the same tree, but split out the nodes types. This removes a lot of unnecessary complication. The first step is here: https://github.com/servo/webrender/pull/1364.

[2017-06-12 15:39] stshine commented on #1361
I wrote a experimental blob renderer for servo and with device pixel ratio of 2 the width and height the renderer received  in the descriptor is still in css pixel. I think this won't be a big problem since  we can pass the device pixel ratio to the blob renderer when it inits. On the other hand, It's good to know that simply rasterize with device pixel ratio taking into account is awesome!

[2017-06-12 18:03] jrmuizel commented on #1358
I've put a pull request up that does this here: https://github.com/servo/webrender/pull/1365

[2017-06-12 18:09] mstange opened #1366 "The Moiré demo isn't running particularly well on my machine"
The webrender demos on Servo's default new tab page don't run that well anymore, at least on my machine. For example, the moire demo doesn't seem like it does more than 20fps on this rather powerful Mac:
http://browserhtml.github.io/browserhtml/components/about/newtab/demos/moire.html

(The other two demos on http://browserhtml.github.io/browserhtml/ that I tried are "transparent_rects" and "spher

[2017-06-12 18:17] mstange commented on #1219
Is this fixed now?

[2017-06-12 20:08] glennw opened #1367 "Image resizing API"
Currently, once an image is created you cannot resize it. But this makes the API complicated to use when you *need* to resize (e.g. in the case of a canvas texture).

One option could be to pass a field on image creation that states if the image is immutable or may change size. That could give WR a hint to choose appropriate texture storage depending on the likely resize patterns of this image.

[2017-06-12 20:08] glennw commented on #1367
Thoughts @kvark ?

[2017-06-12 20:09] rlhunt commented on #1219
This should be fixed now.

[2017-06-12 20:18] staktrace commented on #1352
Making this change does appear to fix the original reftest failure I was investigating. Thanks!

[2017-06-12 20:18] #1352 closed

[2017-06-12 20:27] asajeffrey commented on #1367
This came up in the context of #17278.

[2017-06-12 21:02] pyfisch commented on #1219
Yes it is.

[2017-06-12 21:02] #1219 closed

[2017-06-12 21:57] mstange opened #1368 "Gradients are broken with the Mac driver of my integrated GPU"
On my machine, when the integrated GPU is use, repeating radial gradients are non-repeating, and non-repeating radial gradients are repeating. See [bug 1372299](https://bugzilla.mozilla.org/show_bug.cgi?id=1372299) for testcases.

I'm on macOS 10.12.5 Beta (16F71b), Intel HD Graphics 530 1536 MB

[2017-06-12 22:15] glennw commented on #1368
It's possible that https://github.com/servo/webrender/pull/1328 or https://github.com/servo/webrender/pull/1348 may fix / work around this apparent driver bug. These changes modify how gradients are stored, into what is (probably) a more common driver path. After the next WR update lands in Gecko, we should check if this still occurs.

cc @staktrace

[2017-06-13 12:30] nical opened #1369 "Rename webrender_traits into webrender_api"
The crate name webrender_traits is misleading at best. It would be nice to publish webrender on crates.io but before doing this I would like webrender_traits to have a less confusing name.

Thoughts ?

cc @glennw @kvark

[2017-06-13 12:52] Gankro commented on #1369
I agree, this is the right name for it.

[2017-06-13 13:58] staktrace commented on #1368
@mstange you can try the build from https://treeherder.mozilla.org/#/jobs?repo=try&revision=671e529cecd8e824a08cdcde17b14edbdb44cd98 which should have the above PRs to see if it fixes the problem.

[2017-06-13 15:51] kvark opened #1371 "More coordinate spaces"
We are doing a lot of jumps between scrolled/reference frame/stacking context spaces. The logic is very easy to get confused with, and the type system is not protecting us nearly enough. Example:
[code]

List of spaces:
  - [x] Layer
  - [x] ScrollLayer
  - [ ] ReferenceFrameNoScroll (relative to the reference frame but without the scrolling applied, this is how our node's  `local_viewport_rect` a

[2017-06-13 17:04] mstange commented on #1368
I tested the build, and the bug is still present.

[2017-06-13 17:34] fitzgen opened #1372 "Complain about lack of sufficient open gl[es] versions"
I've been getting "failed to create gl context" errors which get unwrapped as panics, and after working with folks on irc, I've come to realize this is because I don't have a high enough version of open gl(es?). It would be great if this were explicitly stated and I didn't have to hunt this information down (especially when this only happens under rr, for example because it forces software renderi

[2017-06-13 17:38] jrmuizel commented on #1372
FWIW, it is possible to use webrender with software rendering under rr. llvmpipe should work fine however, I know that it doesn't work on Fedora because they disable texture float because of patent concerns.

[2017-06-13 18:00] fitzgen commented on #1372
Yes, this is the issue I've been running into (among others). It would be great if I was just informed of the missing requirements up front instead of having to track them down and investigate myself.

Currently building mesa from source to enable texture floats.

[2017-06-13 18:30] jrmuizel opened #1373 "Shadows fade to black instead of transparent"
The following test case of a red shadow on top of a red rect fails with webrender:
[code]

[2017-06-14 09:29] mrobinson opened #1377 "Remove the per-item mask and complex clip feature"
The idea is that since masking and complex clips are comparatively uncommon we can rely on the `ClipScrollTree` for them. This will allow us to simplify the clipping code quite a bit and allow deduplication of clips to happen as soon as items are added to the clip scroll tree. The local clip rectangle would remain, since it is handled differently internally and is much more common. This should als

[2017-06-14 09:29] mrobinson commented on #1377
cc @glennw @Gankro

[2017-06-14 14:21] mrobinson opened #1378 "Make push_prebuilt_display_list a simple memcpy"
This is necessary so that we can properly parent new clip and scroll frames in prebuilt display lists.

[2017-06-14 14:25] mrobinson opened #1379 "Properly handle clips and scroll frames in push_prebuilt_display_list"
We need this so that we can remove per-item masks and complex clips.

[2017-06-14 15:48] kvark commented on #1368
@mstange could you provide an `apitrace`/`renderdoc` capture?

[2017-06-15 02:50] kvark commented on #809
We explicitly use BGRA as an internal format only on GL ES, where there is `GL_BGRA_EXT` that we require. We implicitly assume that RGBA8 internal format on GL is actually BGRA, thus we expect the incoming data to always be BGRA for performance reasons (so that the driver doesn't need to swizzle).

[2017-06-15 02:57] #1378 closed

[2017-06-15 05:19] trishume commented on #1366
Same here, moire runs at 6fps on my integrated GPU and 3fps on my discrete GPU (the discrete GPU should be faster, dunno what's going on there 😐). When I open the same page in Chrome it runs at 60fps on either GPU. This is on a 2014 15" Retina Display Macbook Pro with an Intel Iris pro and an Nvidia GT 750m.

Also given that it runs at 60fps in Chrome (at least nowadays) maybe it's no longer a goo

[2017-06-15 05:26] trishume opened #1384 "Some corners in Servo's transparent rects demo have seams"
Some of the rectangles in the transparent rects demo with the Servo nightly from 2017/06/14 have seams on the corners on a 2014 rMBP with both the Nvidia GT 750m and the Iris Pro. Which rectangles have seams on the corners does not change between frames. All rectangles also have weird white line artifacts on the corners.

### Nvidia GT 750M
<img width="252" alt="screen shot 2017-06-14 at 10 07 40

[2017-06-15 11:37] nical commented on #1357
We could group all blob images for a certain frame and only upload them to the texture cache when the entire group is rasterized to preserve some form of frame consistency, but not block the frame on the blob images being rasterized (or have the render backend thread block for at most a certain amount of time). This would not provide full frame consistency because we could still do some layout cha

[2017-06-15 14:55] kvark commented on #1384
cc @glennw
looks like a border rendering code, perhaps it's transparency is not working correctly with `device_pixel_ratio != 1` case

[2017-06-15 20:27] mstange commented on #1368
Maybe, but it would be a bit of work.

I can reproduce this bug by pinning my GPU to the integrated one and then running `cargo run show reftests/gradient/radial-circle.yaml`. You could do the same and then capture whatever trace you want on your machine :)

[2017-06-15 22:27] kvark commented on #1368
Ok, I'll do that next time I'm on Mac ;)

[2017-06-16 08:18] SimonSapin opened #1391 "Deduplicate the bitflags dependency"
https://github.com/servo/webrender/pull/1359 will likely land with this tidy error silenced:

[code]

[2017-06-16 09:40] mrobinson commented on #1377
So one potential issue with this, that I didn't notice before, is with the `extra_clips`. These are currently used for box shadows:
[code]
I believe this means that every box shadow is going to have a node in the clip scroll tree. This might not be too bad, but we need to be careful not to introduce performance regressions now and in the future by accidentally relying on a slow ClipScrollTree.

[2017-06-16 14:58] kvark commented on #1377
@mrobinson perhaps, the right way to think about it is within the context of shadow in general. I.e. have a node specifying the shadow to be applied for *all* children (including text and other things).

[2017-06-16 16:59] kvark commented on #1368
@mstange do the WR's reftests report any errors for you?

[2017-06-16 18:25] jrmuizel commented on #1270
It looks like this happens on Windows as well.

[2017-06-16 20:54] jrmuizel opened #1394 "Running reftests locally on macOS doesn't work on hidpi machines"
Even when running with -p 1 things get offset because of the gl viewport I think. We should fix this.
@mstange

[2017-06-16 21:02] mstange commented on #1368
Yes, but unfortunately that's due to #1394. I'll retest once that bug is fixed.

[2017-06-18 22:38] #1379 closed

[2017-06-19 14:33] kvark opened #1398 "Texture coordinate precision"
We've got issues with interpolated texture coordinates on [images](https://bugzilla.mozilla.org/show_bug.cgi?id=1370908) and gradients (#966). Need a solid way to avoid precision errors there.

Proposed ~~solutions~~ tricks to try out:
  1. interpolate absolute coordinates, divide in the PS
  2. force `highp` on the values involved
  3. derive the texture coordinate in the PS from the fragment coo

[2017-06-19 16:17] kvark opened #1400 "Support for unifying inner clip rectangle"
Current implementation is limited by this bit:
[code]
Removing it causes a failure in "inset-border-radius-ref.yaml". I don't think it will be difficult to investigate and fix.
cc @glennw

[2017-06-19 18:58] kvark commented on #1400
![reftestbeauty](https://user-images.githubusercontent.com/107301/27300992-ae4c2778-54ff-11e7-927f-f62160b4e2f6.png)

[2017-06-19 19:21] Eijebong commented on #1391
- [ ] https://github.com/brendanzab/gl-rs/pull/419
- [x] https://github.com/PistonDevelopers/image-png/pull/56
- [ ] https://github.com/kbknapp/clap-rs/pull/966 (needs a release)
- [ ] https://github.com/servo/cocoa-rs/pull/163
- [ ] https://github.com/servo/core-graphics-rs/pull/86

[2017-06-19 21:08] Gankro opened #1402 "wrench frame saving producing incorrect results"
If I open this in servo with -Zwr-record

[code]

And then replay it in wrench, it renders correctly. However if I tell it to save the results to json/yaml, the results are incorrect and attempting to `show` them produces something different.

There's two problems:

1. the outer document and inner document show up as seperate frames (weird/confusing, but usable)

2. several bounds get changed. For

[2017-06-19 21:21] MortimerGoro opened #1403 "Weird ps_border_edge program linker error on Mali-T880 GPU"
ps_border_edge program fais to link in Samsung Galaxy S7 (Mali-T880 GPU). GetProgramInfoLog returns a empty string for this link error

[code]

It's really weird because after some testing it seems that the link error is triggered when both vColor0 and vColor1 variants are set in the same function (it also happens moving all the write_color function to main()) . If I comment one of the vColor0/vCo

[2017-06-19 21:26] glennw commented on #1403
Ugh! Does it make any difference if we use something like vColor[2] ?

[2017-06-19 21:27] kvark commented on #1403
I vote to restrict access to `varying` things to only `main()` functions. This would be cleaner to understand, and easier for drivers to parse.

[2017-06-19 21:37] glennw commented on #1403
That seems like a good idea, I like that as a standard.

[2017-06-19 21:44] MortimerGoro commented on #1403
Just tried to use vColor[2] and didn´t make any difference. Moving all the write_color code with vColor[2] change to main() neither...

[2017-06-20 06:08] JerryShih opened #1405 "Implement the fallback path for the big size image"
@kvark @glennw @nical @sotaroikeda
In webrender, we have the limit size of gl texture. Currently, there is an assertion if the image is to large[1]. When we integrate gecko with WR, there are a lot of crash for this assertion.
I'm trying to create a global shared black texture. If we hit the limitation, show the global shared texture instead.

[1]
https://github.com/servo/webrender/commit/cb510c5c

[2017-06-20 07:14] glennw commented on #1405
cc @nical

I thought we handled this with tiling support now?

[2017-06-20 07:16] glennw commented on #1405
Ah, probably just not for external images, right?

[2017-06-20 09:14] nical commented on #1405
The plan is to use tiling for this, I thought we already supported tiled external images, but there might be a bit of missing glue to get the two to work together (I vaguely remember looking into this a while back but now I a not sure what came out of it). It should not be hard to do.

[2017-06-20 17:03] Thinkofname opened #1408 "Scrolling example missing light blue square"
Currently: http://i.imgur.com/TkLMrq3.png
Previously: http://i.imgur.com/qSUds0l.png

Bisect pointed to 8ee83df6512025b5b7913bf5bb20535b3f34c065 (#1374)

[2017-06-20 17:04] kvark commented on #1408
Thanks for investigation!
We need a reftest for that.

[2017-06-20 17:11] MortimerGoro commented on #1353
Very good idea, it will simplify a lot of things for WebGL and WebVR.

Could you assign this issue to me? I'd love to work on this ;)

[2017-06-20 19:15] emilio commented on #1353
That'd be awesome, please do!

[2017-06-20 20:07] glennw commented on #1353
For some reason, GH won't allow me to assign this to you - but that's great if you can work on this!

[2017-06-20 21:18] MortimerGoro commented on #1353
Fine, I'll work on this ;)

My first thought is to move WebGL code into a Servo component. It eases development, testability and I don't think that there are use cases to use the component outside Servo. Anyway,  it will be a standalone component, so it will be easy to move if required.

It's a good opportunity to work on https://github.com/servo/webrender/issues/607 too. I haven't forgotten about

[2017-06-20 21:52] glennw commented on #1353
That sounds good to me, and working towards solving #607 would be a great benefit too!

[2017-06-21 09:27] mrobinson opened #1411 "wrench writes the perspective property as a matrix, but only supports reading a float"
This means that perspective from serialized frames isn't processed correctly.

[2017-06-21 14:52] #1411 closed

[2017-06-21 22:18] mstange opened #1416 "Need API to set a composition operator that's not "over""
Webrender currently supports [MixBlendModes](https://github.com/servo/webrender/blob/4074d8c66cbfd01dce123aa3e36778a0036976d6/webrender_traits/src/display_item.rs#L301), but all the modes in this list don't affect the destination alpha. In Gecko we also need the modes Clear and Destination Out. Ideally we'd have all the porter duff modes so that we can support the [whole list of Moz2D CompositionO

[2017-06-22 16:42] Gankro opened #1418 "plan: text decoration blob support"
So today if gecko has text decorations that webrender can't handle we give up completely and produce a blob image for the text. I'd like to improve this situation so that webrender handles the things it can natively, but invokes gecko via blob images for the parts that it can't.

At the high level I want webrender to receive something like:

[code]

And for its rendering strategy to be something l

[2017-06-22 19:43] Gankro commented on #1418
Clarification: drawTextWithEffect probably only forwards a subset of the effects. i.e. blurring of the shadow should be a finalization step, and not something each piece of the text does itself.

[2017-06-22 21:51] mstange opened #1419 "Support backface-visibility: hidden"
With CSS 3D transforms, you can choose to have your element disappear once its backside turns towards the camera. This is done using `backface-visibility: hidden`.

In Gecko, ever since [bug 1375672](https://bugzilla.mozilla.org/show_bug.cgi?id=1375672), we now filter out such layers if their backside faces the camera, i.e. we don't even pass them to webrender to draw. However, we do that on the m

[2017-06-22 21:55] kvark commented on #1419
I suspected there be a config flag for that! Should be fairly easy to support in WR, and it would totally make sense. Thanks for filing the issue!

[2017-06-23 15:03] staktrace opened #1424 "Spurious "webrender::clip_scroll_node: Tried to scroll a non-scroll node" warnings"
See [bug 1375843](https://bugzilla.mozilla.org/show_bug.cgi?id=1375843) and related bugs for backstory. It looks like the clip_scroll_tree sometimes ends up with `DynamicallyAddedNode` clip ids in its `self.nodes` map, which means when it calls `finalize` on those nodes it prints out a warning. This is happening with webrender in gecko in automation and causing job failures because the warning spe

[2017-06-23 15:43] pcwalton opened #1425 "Tessellate big border corners again"
I think this is the problem with moire: when the border code got rewritten, border corners didn't get tessellated. Large border corners should be tessellated along the curve so that they don't needlessly render a whole bunch of transparent pixels.

@glennw (Is this correct?)

[2017-06-23 16:51] trishume commented on #1425
link to issue: #1366

The thing about this theory is that the slowness for me is all in the compositor CPU, or at least shows up like that in the profiler, but if I'm understanding correctly your theory would predict slowness in the GPU.

[2017-06-23 22:45] glennw commented on #1425
We certainly need to do the tesselation - I suspect that is the problem, but it may not be the only issue. I need to do some profiling to check. @trishume It's possible that it would show up in the compositor CPU profile, since the CPU GL thread would be blocking a lot, since this test would be so GPU limited due to the massive overdraw.

[2017-06-24 02:24] jrmuizel opened #1427 "Facebook news feed takes quite a bit of time in Gecko/WebRender"
I tried profiling this on Windows but didn't get great results from CodeXL. What I saw there seemed to roughly match what I see on OS X.

On the RenderBackend thread we're spending 64% of time in build_scene() and 34% in render()

In build_scene() most of the time is in flatten_item() of which 20% is memmove, 10% in ClipScrollTree::add_node(), 10% in deserialize(), 9% in BuiltDisplayItemListIter::

[2017-06-24 10:44] mrobinson commented on #1316
#1364 has landed, so I'm going to close this issue.

[2017-06-24 10:46] mrobinson commented on #1377
With #1412 landing, this feature is gone from the API, but still exists internally to handle the extra_clips property. I think the next step is to move everything to reference frame coordinates internally in order to reduce the total number of ClipScrollGroups. Then we can move extra_clips to the ClipScrollTree and close this.

[2017-06-26 19:06] glennw commented on #1427
I suspect you're right about the display lists. I've been profiling quite a few sites in Servo recently, and I typically see around 20-30% of the time in build_scene() and 70-80% in render(). Seeing that much time in build_scene() for FB does sound like there may be a heap of extra clips / stacking contexts / masks perhaps coming from the Gecko DLs. Is there a way to dump the Gecko DL to text to s

[2017-06-27 20:22] jrmuizel commented on #1357
I don't think we'll be able to have the kind of frame consistency problems that you describe. It might be worth trying but we'll need a plain that has better consistency.

[2017-06-27 21:15] glennw opened #1430 "Support different box-shadow radii per corner."

[2017-06-28 17:42] glennw opened #1431 "Improvements to font handling."
The plan is:

* Introduce an additional "layer" to the font APIs - "templates" and "instances".
* Templates roughly match what we currently have (raw byte buffer + unique key).
* Instances reference a template + some set of (platform specific) options - e.g. enable bitmaps, disable AA + some set of common options (e.g. size).
* Public APIs to draw text now take an Instance handle/key rather than a

[2017-06-28 17:42] glennw commented on #1431
@lsalzman will be working on this :)

[2017-06-28 17:45] glennw commented on #1431
GlyphOptions per string is (probably) still required - but should be a much smaller set.

[2017-06-28 18:27] jrmuizel opened #1432 "Support ANGLE with wrench"
This makes us closer to Gecko

[2017-06-29 14:21] mstange commented on #1368
I've now updated to the release version of 10.12.5, and the issue still happens.
If we can make a reduced testcase and submit a bug to Apple, they might fix it.

[2017-06-29 16:00] glennw commented on #325
We'll probably want to either stick with the default platform rasterizer, or use a GPU-specific solution.

[2017-06-29 16:00] #325 closed

[2017-06-29 16:01] glennw commented on #459
GpuStore has been replaced by the Gpu Cache now.

[2017-06-29 16:01] #459 closed

[2017-06-29 16:01] glennw commented on #458
We now have the GpuCache, which supports incremental updates.

[2017-06-29 16:01] #458 closed

[2017-06-29 16:01] glennw commented on #588
This is no longer a problem, with the use of the GpuCache that supports incremental updates.

[2017-06-29 16:01] #588 closed

[2017-06-29 16:02] glennw commented on #728
I don't see these problems any more.

[2017-06-29 16:02] #728 closed

[2017-06-29 16:02] glennw commented on #759
We have some tags now.

[2017-06-29 16:02] #759 closed

[2017-06-29 16:03] glennw commented on #880
Are we still wanting to explore this?

[2017-06-29 16:04] glennw commented on #979
We have a plan here https://github.com/servo/webrender/issues/1431.

[2017-06-29 16:04] #979 closed

[2017-06-29 16:04] glennw commented on #1145
Closing this since it's not actionable by itself.

[2017-06-29 16:04] #1145 closed

[2017-06-29 16:05] glennw commented on #1188
I don't believe this is feasible, given the way we use the z-value for layer ordering.

[2017-06-29 16:05] #1188 closed

[2017-06-29 16:06] glennw commented on #1245
@nical It looks like we have a glyph rasterizing benchmark now. Please re-open if still needed.

[2017-06-29 16:06] #1245 closed

[2017-06-29 16:06] glennw commented on #1256
This is resolved now - we have fast paths for simple borders, and the border shaders in general have been cleaned up.

[2017-06-29 16:06] #1256 closed

[2017-06-29 16:07] glennw commented on #1309
I believe this is fixed now - please re-open if still needed.

[2017-06-29 16:07] #1309 closed

[2017-06-29 16:07] glennw commented on #1316
Closing as suggested above.

[2017-06-29 16:07] #1316 closed

[2017-06-29 17:34] glennw commented on #1280
I set up a series of border tests with various colors, styles and backgrounds (HTML and outputs below) and compared on Gecko, Blink and Servo.

It looks like Blink doesn't take the background color into account (except for normal alpha blending), and would thus be far simpler to match.

What is our policy here? Do we need to exactly match Gecko on unspecified behavior or would it be reasonable to

[2017-06-29 17:40] kvark opened #1433 "PBO-based texture updates"
We already have basic support for PBO for the means of GPU resource cache updates. We should consider also doing it for texture updates.

Roughly, what we can do is:
  - having a persistently-mapped PBO containing all the texture updates per frame to be written by the `RenderBackend` (or, more specifically, `TextureCache`).
  - the `TextureUpdateOp::Update` would just specify the slice of that PBO

[2017-06-29 20:53] kvark opened #1436 "Filter out clip items in local space"
Current implementation does smart filtering in screen space, but we can do even better if we take the local inner clips of items that we know to be in the same reference frame:
[code]

[2017-06-29 20:58] Gankro opened #1437 "mutliple colored text blurs cause chaos"
https://gankro.github.io/blah/webtests/shadows.html

left: firefox nightly (no webrender)

right: recent servo build
<img width="230" alt="screen shot 2017-06-29 at 1 55 06 pm" src="https://user-images.githubusercontent.com/1136864/27709996-fd8f4722-5cd2-11e7-832d-a3b4d461a500.png">

[2017-06-29 21:06] mrobinson opened #1438 "Clipping issues with rotated content"
I see artifacts when I load this page in servo.
[code]

Gecko:
![firefox](https://user-images.githubusercontent.com/13536/27710295-1be800dc-5cd4-11e7-9a17-383410eda5bd.png)

Servo:
![servo](https://user-images.githubusercontent.com/13536/27710310-235febc2-5cd4-11e7-9cbb-550da935ed00.png)

[2017-06-29 21:06] mrobinson commented on #1438
cc @kvark

[2017-06-29 21:44] kvark opened #1439 "Reduce the clip mask target space"
The solution proposed in Hawaii was to split the mask into 4 regions, excluding the inner rectangle. The pixel shaders of primitives that are masked would then calculate the exact sub-region they want to be sampling. This would slightly increase the mask sampling cost, but fortunately we are not doing the masking for a whole lot of rendered pixels.

cc @glennw

[2017-06-29 21:48] kvark opened #1440 "Optimize target clears"
We are spending roughly 1/3 of the GPU time on clears for the Github pages. For clip masks, the clears are not strictly needed, since we can just draw the first clip item without blending (and we had this optimization at some point). Thus, a simple solution would be to have a flag for each render task saying that it needs clearing or not, so that we can skip the clear if none of the targets need i

[2017-06-29 21:51] kvark commented on #1283
It appears that we need to calculate local bounds specifically when traversing stacking context anyway, based on the children that are not `ContextIsolation::Items`.

[2017-06-29 22:16] glennw opened #1442 "Consider whether / when we should do snapping on transformed primitives."
There *may* be some WPT reftests that rely on this?

It does produce visible artifacts when animating a rotated primitive - it seems we want to disable snapping on transformed primitives at least in this case.

[2017-06-29 22:17] glennw commented on #1442
cc @kvark @jrmuizel

[2017-06-29 22:53] jrmuizel commented on #1280
I don't feel strongly about the coloring. However, it might be easier just to match Gecko because of all the tests... @dbaron do you know (or know who would know) if the colors that we choose matter?

[2017-06-29 22:54] jrmuizel commented on #1442
Yes, disabling on transformed primitives seems very sane.

[2017-06-29 23:12] mrobinson commented on #1377
I think we can close this for now, since it is no longer clear that this is the direction we want to go. Instead we will move toward simplifying the kind of clips that the API will accept.

[2017-06-29 23:12] #1377 closed

[2017-06-29 23:13] mrobinson opened #1443 "Expose ReferenceFrames to the API"
Based on feedback from #1304, it might make sense to expose ReferenceFrame creation to the API. A prerequisite of this is using ReferenceFrame coordinates everywhere internally.

[2017-06-29 23:13] mrobinson commented on #1304
Going to close this in favor of #1443.

[2017-06-29 23:13] #1304 closed

[2017-06-29 23:16] dbaron commented on #1280
Changing the behavior to match blink may well be reasonable (though I'd want to consider it a tad more deeply, perhaps next week), but if we think matching blink is the right thing, we should probably also change the existing Gecko code to do so so that:
 (a) we separate the behavior change from the webrender landing
 (b) we get feedback on any risks of that behavior change sooner rather than late

[2017-06-29 23:18] mrobinson commented on #220
I'm not seeing this any longer. There have been a lot of changes to clipping and border rendering. I think we can close this for now. Please feel free to reopen if it's still an issue.

[2017-06-29 23:18] #220 closed

[2017-06-29 23:23] mrobinson commented on #840
Here is some more information about the kind of situation we want to support:

[code]

Frame tree (roughly)
[code]

Note that we have two different types of clipping here, the clip to make overflow:hidden work, and the clip from the css 'clip' property. These work differently. The overflow clip doesn't apply to the out of flow frame, but the css one does.

To handle this in Gecko, we build and sto

[2017-06-29 23:42] Gankro commented on #1280
To clarify the matter on tests: there's a few reftests that hardcode border colors, and there's some reftests in our transient state where gecko borders get compared to webrender borders.

[2017-06-29 23:59] mrobinson opened #1444 "Panic in plane splitting code in CSS parallax demo"
When running http://keithclark.co.uk/articles/pure-css-parallax-websites/demo3/ in Servo I see this panic:

[code]

The code in question is:
[code]

[2017-06-29 23:59] mrobinson commented on #1444
cc @kvark

[2017-06-30 00:05] glennw commented on #1280
@dbaron That basically matches what @jrmuizel and I just discussed. We can hold off on this until the Gecko team decides whether to change to match the Blink behaviour. Thanks!

[2017-06-30 01:28] dbaron commented on #1280
It would help if you did a bit more to drive that change.  (Ideally, drive the whole thing to a conclusion, but at minimum, get a bug filed with some information.)

[2017-06-30 02:06] glennw commented on #1280
Will do, thanks.

[2017-06-30 19:21] staktrace commented on #880
Let's close it for now. If somebody cares enough they can reopen it.

[2017-06-30 19:21] #880 closed

[2017-06-30 22:08] Gankro commented on #1418
Ran into an issue in implementation: "hello 👏 there" will often contain two fonts -- one for the text, one for the emoji (because emoji aren't in many fonts). Similar thing for kanji and friends. *However* "hello 👏 there" should have a single shadow -- in fact all the paragraphs in a single stacking context should have their shadows on the same "layer" behind the text, per:

https://drafts.csswg.o

[2017-07-01 16:40] kvark opened #1447 "Preserve3D baking space"
We bake each preserve-3D stacking context in screen space as of a43b0c2ae7ee136e6d68178c9efe879854fd5473 in order to get proper text rendering and anti-aliasing of the contents. However, this only works when preserve-3D forms isolated branches of the SC tree. This appear to not always be the case...

Consider the following tree: a 3D context `A` may contain 2D context `B` that contains another 3D

[2017-07-01 18:23] mstange opened #1449 "Opacity group compositing treats premultiplied RGBA as unpremultiplied RGBA"
Testcase: [testcase](https://bugzilla.mozilla.org/attachment.cgi?id=8882833)
Screenshot:
<img width="230" alt="screen shot 2017-07-01 at 2 35 25 pm" src="https://user-images.githubusercontent.com/961291/27764573-9a0f9406-5e6a-11e7-8057-5fd4df83708e.png">
Firefox left, Servo right.

This box has a greyish fill in both servo and webrendest Gecko. It should have a yellow-whitish fill.

[2017-07-03 17:21] #1391 closed

[2017-07-04 20:57] kvark opened #1451 "Text glyph pixel snapping"
Apparently, the fix in #1441 doesn't cut it (see https://github.com/servo/webrender/pull/1441#issuecomment-312922649).

[2017-07-05 01:48] #1358 closed

[2017-07-05 03:13] jrmuizel opened #1452 "Bad texture cache behaviour with large mask images"
Loading https://github.com/matklad/fall/commit/931293e4fc423ac6a2b763bde156d9632fbf4787 in Gecko with webrendest turned on causes about 1GB of A8 texture cache. This is presumably from large MaskLayers.

[2017-07-05 17:45] #1283 closed

[2017-07-05 21:01] kvark commented on #1444
Fixed by  #1448

[2017-07-05 21:01] #1444 closed

[2017-07-05 21:04] jrmuizel opened #1453 "Transformed text should probably be rasterized transformed"
Currently it looks like we just transform the rasterized bitmap. Browsers do a transformed rasterization. An example of this is here: https://jrmuizel.github.io/tests/transformed-text.html

Servo gives a blurry mess, Gecko and Chrome give proper subpixel AA

[2017-07-05 21:05] jrmuizel commented on #1451
I don't think we ever want to snap glyph bitmaps. We should either be re-rasterizing with the transform applied or just transforming a greyscale bitmap without any snapping applied.

[2017-07-05 21:06] kvark commented on #1453
Related to #1451

[2017-07-06 03:44] glennw commented on #1451
The snapping is so that we don't bilinear sample on glyphs that have fractional positions (either due to the text layout itself, or the parent stacking context positions). We need to do this to avoid blurry text. This is separate from transformed text, which should not be snapped at all (which is true for all transformed primitives).

[2017-07-07 00:13] #1451 closed

[2017-07-07 08:12] ferjm opened #1458 "Is there any way to be notified when a specific display list has been rendered?"
I need to know when a **specific** display list has been rendered.

The use case I am working on is the implementation of Progressive Web Metrics in Servo. There are two metrics ([Time to First Paint and Time to First Contentful Paint](https://github.com/WICG/paint-timing#definition)) that requires the analysis of the display lists before sending them to WebRender and waiting for the display lists

[2017-07-07 15:52] staktrace commented on #1424
So I looked at this a bit more, and it seems to me that the warning is just wrong. The `finalize_and_apply_pending_scroll_offsets()` function in clip_scroll_tree iterates over the entire set of nodes that it has, which includes ReferenceFrame and Clip nodes in addition to Scroll nodes. So calling `finalize()` on those types of nodes should be ok. The real problem would be if we tried to call `set_

[2017-07-07 19:33] #1424 closed

[2017-07-10 03:14] #1090 closed

[2017-07-10 03:14] #1335 closed

[2017-07-10 03:14] #1408 closed

[2017-07-10 06:30] shinglyu commented on #1314
@paulrouget I'm interested in this. Is overscroll already implemented in WR and we only need to add a way to turn it on and off, or do we have to implement the toggle AND the behavior?

[2017-07-10 06:55] glennw opened #1463 "Test failures in Servo"
Testing current master WR against Servo (using the ```webrender-update``` branch from @mrobinson) results in the following failures:

[code]

I haven't looked into them to see if they are related to the clip/scroll changes, or some other PR that's landed in WR since the last update.

[2017-07-10 06:55] glennw commented on #1463
cc @kvark @mrobinson @staktrace

[2017-07-10 09:09] ferjm commented on #1458
CC @glennw @kvark

[2017-07-10 13:21] mrobinson commented on #1463
I'm pretty sure these regression are not due too the clipping changes. BTW I have the Servo update baking here: https://github.com/servo/servo/pull/17649.

[2017-07-10 14:11] paulrouget commented on #1314
Cool!

It is implemented, but it's very basic.

The toggle first. Behavior could be done later.

The important bit is that we want to configure, at anytime, which side support overscroll.

Here is an example: when the user overscrolls horizontally, the page is "stretched". On the left and on the right. But maybe the embedder wants, when the user overscrolls, to go back or forward in the history, i

[2017-07-10 14:32] kvark commented on #1367
Canvas is sort of special. It's typically big enough to deserve it's own texture anyway, so that we can not bother caring about the resize in texture allocator. Are there any other prominent examples of the need for resize? If canvas is the only thing, then I think it would be simpler to treat everything as storage-immutable on the WR side and expect the `ImageId` to be re-generated for canvas res

[2017-07-10 17:05] asajeffrey commented on #1367
We are thinking of redoing the canvas implementation anyway (https://github.com/servo/servo/issues/17497) which would probably make this change unnecessary.

[2017-07-10 21:41] glennw commented on #1463
@mrobinson In the reftest output for those images, it looks like complete lines of text are getting clipped out. I'll investigate further today to see if I can track down the cause.

[2017-07-11 00:15] glennw commented on #1463
The test failures are bugs / missing features that are being exposed by the fix in https://github.com/servo/webrender/pull/1426. Since the fix is correct in this case, I think it's fine to mark those tests as expected failures (since they were accidentally passing previously) and get this WR update reviewed / merged.

[2017-07-11 00:15] #1463 closed

[2017-07-11 04:57] glennw commented on #1458
After calling ```render()``` you could call ```current_epoch()``` - this will allow you to know which display list generation / epoch has been send to OpenGL. Technically, you may also want to wait for the swap buffers to occur before querying the current epoch. I think this should provide what you are looking for.

[2017-07-11 04:58] glennw commented on #1458
(FWIW this is the same technique we use in the reftest harness to ensure that we have actually drawn the layout epoch that we care about).

[2017-07-11 08:04] shinglyu commented on #1314
Sounds useful! I'd be very grateful if you can point me to the related code to get me started faster.

[2017-07-11 08:22] paulrouget commented on #1314
I wrote a proof of concept last year:

Servo side: https://github.com/paulrouget/servo/commit/15c0c88d2f4dbb461b896425d8b111868781111c

WR side: https://github.com/paulrouget/webrender/commit/424f44bfcd5afd26b54b6c3b6c5d55ab2349fe84

The main part about scrolling is missing. Basically, this code sets the options. We need `ClipScrollNode::scroll` to use these options.

This draft uses the Browser A

[2017-07-11 09:17] shinglyu commented on #1314
Thanks so much!

[2017-07-11 09:53] shinglyu commented on #1314
@paulrouget In your old Browser API implementation, IIUC, the embedder set the option by getting the `<iframe mozbrowser>` element then set it like `mozbrowser.setOverscrollOptions(...)`. If we discard there, how do we allow allow the embedder to set it? I looked around in your servoshell code and I believe it's something like [this](https://github.com/paulrouget/servoshell/blob/2ac77b171fb347db04

[2017-07-11 09:57] nical commented on #1367
Another use case is rendering blob images at the resolution of the screen while zooming. Currently blob images have a fixed resolution and we'd need to re-create the blob image as we zoom. Might not be extremely important, though, since I think that Firefox doesn't yet support async zoom on desktop (so we re-build the display list each frame during zoom, and can re-create the blob image along the

[2017-07-11 14:45] paulrouget commented on #1314
Do not look at servoshell for this, but instead, servo's `/ports/servo/`. See how the embedder sends a Reload event: https://github.com/servo/servo/blob/ee95bda3bff01d4ca0e1987a0355d01238d60cf6/ports/glutin/window.rs#L1285

[2017-07-12 00:05] stshine opened #1468 "CSS filter does not apply on inline elements"
Testcase:

[code]

Screenshot:
![2017-07-12-080826_1024x740_scrot](https://user-images.githubusercontent.com/1694478/28096180-56f87b66-66d9-11e7-84e6-d1dc0e3dfe5c.png)

This happens because currently we only support filter on `PushStackingContextDisplayItem` but according to CSS spec filter can be applied on arbitrary element.

[2017-07-12 00:07] stshine commented on #1468
cc @glennw @mrobinson @nical

I would love to know the solution to this, because according to SVG spec, a transform, a filter, a mask and a mix blend can be applied to any SVG item or a group of them.

[2017-07-12 00:10] glennw commented on #1468
In CSS, the presence of a filter should establish a stacking context (see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context) which is why we pass filters via ```PushStackingContextDisplayItem```. So this sounds more like an issue with how Servo is doing layout / DL building, I think.

Having said that, applying a mix-blend to arbitrary SVG

[2017-07-12 00:20] stshine commented on #1468
@glennw Oh, missed that part of spec, sorry.

That sounds great! Would love to know your decision about it :)

[2017-07-12 00:21] #1468 closed

[2017-07-12 06:32] sotaroikeda opened #1470 "Failed to rendered to FBO on ANGLE windows"
webrender's rendering failed on ANGLE windows in some situations. It is tracked by [Bug 1372083](https://bugzilla.mozilla.org/show_bug.cgi?id=1372083).

When the problem happened, Framebuffer validity check was failed because depth of ColorAttachment and DepthAttachment were different. The fbo was created with multiple layers in create_fbo_for_texture_if_necessary().

More information is in [Bug 1

[2017-07-12 07:07] sotaroikeda commented on #1470
"if (hasMismatchedSize(mDepthAttachment))" was failed in FramebufferState::attachmentsHaveSameDimensions().
  https://dxr.mozilla.org/mozilla-central/source/gfx/angle/src/libANGLE/Framebuffer.cpp#194

The attachmentsHaveSameDimensions() failed because dimensions of ColorAttachments and mDepthAttachment were different.

depth of mDepthAttachment was always 1, since it was created with gl.renderbuff

[2017-07-12 12:51] shinglyu commented on #1314
I have some prototype but I can test it because of https://github.com/servo/servo/issues/17642, probably need to wait for it to be resolved. I really don't want to mess around with multiple versions of rustc myself.

[2017-07-12 14:59] RoyJacobs opened #1473 "What needs to happen after a resize?"
This feels like an extremely obvious question, apologies if this is the case.

I'm currently extending a Webrender example by listening to the Glutin "resize" event. I'm rendering a rect that's the same size as the window.

Once I receive the resize event I:
* Build a new display list with a rect that has the new layout size (but with the same PipelineId)
* Call `api.set_display_list` with an incr

[2017-07-12 15:09] mrobinson commented on #1449
Is this a duplicate of https://github.com/servo/webrender/issues/1354?

[2017-07-12 15:46] kvark commented on #1367
@nical
Now that I look at it, there doesn't appear to be any fundamental problem of updating the same key with an entirely new data (new size/format). `update_image_template` would need to detect his and re-allocate the new space in texture cache accordingly.

[2017-07-12 16:46] kvark commented on #1470
I investigated this issue a bit, and here is what I found:
  - if one of the attachments is layered, then all others have to be layered as well. This doesn't apply to us, since our attachment is a single layer, we don't actually use layered rendering (yet).
  - GLES 3.0 and higher doesn't impose restrictions on the attachment sizes to match.
  - GLES 2.0 requires width and height of the attachment

[2017-07-12 17:03] kvark commented on #1473
@RoyJacobs thanks for filing the issue! I believe this is the appropriate place to ask.

The easiest way to solve this (for me) would be capturing the frame with RenderDoc and looking at the states to see what has not been updated properly. I'd be happy to check it myself if you publish your code in a branch somewhere.

[2017-07-12 22:06] glennw commented on #1473
@RoyJacobs You'll also need to call ```api.set_window_parameters```. I think that should fix the problem you're seeing.

[2017-07-13 01:29] sotaroikeda commented on #1470
Thanks for the advice! Just changing attachmentsHaveSameDimensions() addressed the problem.

[2017-07-13 05:40] #1442 closed

[2017-07-13 09:08] RoyJacobs commented on #1473
I can confirm calling `api.set_window_parameters` does the trick. Thanks!

Is there a good place to find these implicit requirements? The examples are not using this call for instance. I guess it's time to start figuring out how Servo works, perhaps? :)

[2017-07-13 09:08] #1473 closed

[2017-07-13 12:01] nical opened #1478 "Ensure potentially expensive operations don't break APZ"
Followup from #1370 to discuss architecture changes we want to make in order to move expensive operations out of the critical path.

[2017-07-13 14:29] #1369 closed

[2017-07-13 15:23] Gankro opened #1479 "Shadow offsets don't actually offset the content"
It appears that it only offsets the clipped/masked region:

From reftests/text/shadow-complex.yaml (with offset on red shadow set to [10, 10]) (mesa).

<img width="150" alt="screen shot 2017-07-13 at 11 12 17 am" src="https://user-images.githubusercontent.com/1136864/28173783-74fc3c58-67bd-11e7-8b60-20ed9e96f045.png">

(Note the T at the start)

From running servo on https://gankro.github.io/blah/

[2017-07-13 15:31] Gankro commented on #1479
Note: I tried messing around with the bounds/local_rect a bunch and nothing happened. I assume you intended to place the content according to it, but forgot to, since the only place you seem to factor in `offset` is in translating that rect.

[2017-07-13 21:20] glennw commented on #1479
I'll look into these today.

[2017-07-13 22:19] mstange commented on #1449
Looks like it, yes.

[2017-07-13 22:40] Gankro opened #1480 "LineDisplayItem to support text-decoration-style"
Discussing with @glennw on irc, here's our plan for supporting text-decorations, and their resulting shadows.

Add:

[code]

Producers of these items will figure out appropriate position, style, and ordering. Also in the case of a `text-decoration-style: double`, they will just emit two of these. So in total a span of text might have up to 6 LineDisplayItems pushed in with it.

In the backend, the

[2017-07-13 23:25] Gankro opened #1481 "Text shadows draw over the actual text?"
Running servo on master:

<img width="203" alt="screen shot 2017-07-13 at 7 13 00 pm" src="https://user-images.githubusercontent.com/1136864/28191747-44ecf0d2-6800-11e7-8df3-9c0b1b0dfcf2.png">

That's a green and red shadow for black text

In Gecko the black is clearly on top:

<img width="204" alt="screen shot 2017-07-13 at 7 20 36 pm" src="https://user-images.githubusercontent.com/1136864/281917

[2017-07-14 07:51] shinglyu commented on #1314
@paulrouget I see that in your code you pass the `PipelineId` down, but If I'm sending the `WindowEvent` from `glutin::Window`, how do I get the PipelineId?

[2017-07-14 08:01] shinglyu commented on #1314
Let me rephrase that: If we are going to set the overscroll behavior in `ports/glutin`, how do we know which iframe to change? Do we change every pipeline we found in the current compositor? How does the embedder identify the iframe it wants to set and put it in the `WindowEvent`?

[2017-07-14 08:05] paulrouget commented on #1314
It was necessary in the past. It is not anymore as we don't want to set these options on iframes but on top level browsing contexts.

So when this event is sent to the servo, it should come with the TopLevelBrowsingContextId of the browser we are targeting.

This is not a thing we do yet. But I am working on exactly this at the moment.

You can either wait until servo#17425 lands, or base your wor

[2017-07-14 09:32] paulrouget commented on #1314
The compositor (WR) knows about one frame_tree/browser at a time.
The constellation knows about all the frame_tree/browser.
The constellation changes the frame of the compositor via send_frame_tree.

glutin and cef are 2 different embedders. glutin port is a standalone application. cef port translates the libservo into the CEF interface.

browserhtml is a html page rendered by the glutin port. It

[2017-07-14 09:34] shinglyu commented on #1314
I'm asking the last question because I was confused about how browser.html make tabbing possible

So does browser.html not rely on the glutin code, or is it using one window only and create a feeling of tabs using iframe only?

[2017-07-14 09:36] paulrouget commented on #1314
It uses the glutin port.

Yes.

[2017-07-14 15:39] Gankro opened #1483 "apply subpixel-aa to non-blurred text-shadows"
Gecko does this. Should hopefully be a simple fast-path.

[2017-07-14 16:16] Thinkofname opened #1485 "Box shadows aren't rendering correctly at larger sizes"
Found after updating stylish a large number of versions (https://github.com/Thinkofname/stylish/commit/3824c5da48c59ff68d38f2b57c170e43251feec1)

Tested on nvidia cards (970, 980 ti) with driver versions 381.22 and 384.47.

Nvidia 970: http://i.imgur.com/UBhbnqY.png
Nvidia 980 ti: http://i.imgur.com/5AxnEEe.png
After resizing more http://i.imgur.com/PTis3XX.png

Only test case I have currently is

[2017-07-14 20:48] kvark commented on #1481
Fixed by #1482

[2017-07-14 20:48] #1481 closed

[2017-07-14 20:48] kvark commented on #1479
Fixed by #1482

[2017-07-14 20:48] #1479 closed

[2017-07-14 22:17] jrmuizel opened #1486 "Texture cache gets too big"
When running Gecko I'll get a texture cache that's larger than 1GB while only having about 16MB of image data in my image_templates. It would be nice if the profiler reported the amount of free space in the texture cache as well as the total used.

[2017-07-14 22:18] jrmuizel commented on #1486
To reproduce I just load up Gecko with blob images turned on "webrender.blob-images"=true, "gfx.webrendest"=true and then scroll around about:config

[2017-07-17 03:32] shinglyu commented on #1314
@paulrouget Thank you! Now I have a clear picture of how they fit together. How far are you from landing https://github.com/servo/servo/pull/17425 ? I need to weight the effort and risk of whether to fork your branch now or wait. :)

[2017-07-17 04:58] paulrouget commented on #1314
@shinglyu hopping to ask for a review today.

[2017-07-17 12:42] nical commented on #1405
So I had another look and we already have code to support tiling external buffer images the same way we tile regular images. This is done by specifying the proper stride and offset in the texture cache that is passed to `TextureUpdateOp::UpdateForExternalBuffer`. `ResourceCache::should_tile` allows tiling external buffer images under the same conditions as regular images.

@JerryShih Are you refer

[2017-07-17 13:25] nical commented on #1486
The resource cache expires allocations that have not been used for a certain number of frames (see `RendererOptions::cache_expiry_frames`) which defaults to 600 frames.

We should at least do the following two things:
 - On gecko's side, more aggressively reuse ImageKeys. Right now, continuously updating a layer re-generates the ImageKey each time and ends up accumulating up to 600 times its area

[2017-07-17 17:13] kvark commented on #1449
It appears to not be the issue about color pre-multiplication. The problem lies within blend modes we use for opacity, and the fact our cache target is cleared with black. So, having 2 opacity filters means one has to go through the cache target, and thus gets blended with black color, which screws up the result.

[2017-07-17 17:46] kvark commented on #1449
@glennw I think, internally, our task API should have the (optional) clear color information. The renderer will then make sure that the task gets proper background color.

[2017-07-17 19:01] kvark commented on #1486
I confirm that reducing the cache expiry delay solves the problem.

[2017-07-17 20:30] kvark commented on #1449
Edit: my previous 2 comments were related to #1354, not this one.

[2017-07-17 22:16] #1485 closed

[2017-07-17 23:30] #1483 closed

[2017-07-18 03:07] shinglyu commented on #1314
I'll wait then. Let me find some other bug to work on :)

[2017-07-18 09:54] JerryShih commented on #1405
I think the "external buffer" could be used with a large size[1]. But I think this type of buffer could be tiled.

https://dxr.mozilla.org/mozilla-central/rev/e0b0865639cebc1b5afa0268a4b073fcdde0e69c/gfx/layers/composite/TextureHost.cpp#590

[2017-07-18 12:24] nical opened #1495 "Fast-clear optimization"
Under certain conditions, it is way faster to clear using glClear than using rectangles. We currently do the latter since PR #1011, where it was measured to be faster at least on intel hadrware.

I don't think we were getting the fast-clear optimizations. On intel hardware you only get it with certain special colors like `[0.0, 0.0, 0.0, 0.0]` or `[1.0, 1.0, 1.0, 1.0]` (I suspect we were clearing

[2017-07-18 15:08] jrmuizel commented on #1486
Setting cache_expiry_frames to 1 improves things but it still seems like I'm able to get into a situation where the amount of texture cache memory seems to stay high.

[2017-07-18 15:16] nical commented on #1486
It'd be nice to have a live debugging view of the texture atlas to see how much fragmentation there is. I suppose we can already have a look through apitrace.

[2017-07-18 18:48] Gankro opened #1496 "Isolation failures in gecko reftests"
Accidentally noticed that the raw logs of recent gecko try builds include these errors (on a passing test).

Try build: https://treeherder.mozilla.org/#/jobs?repo=try&revision=79738b756f0e08958e493f3020b254817a97b94a&selectedJob=115176289

Relevant raw log output:

[code]

This shows up fairly consistently. But it looks like it's only this one reftest (at least, in this task).

[2017-07-18 21:30] glennw commented on #1486
There is a mode that blits the contents of the intermediate render target surfaces on to the screen (render_target_debug in RendererOptions). It would be easy to extend this to support displaying the texture atlas too.

FWIW, once I finish up the line decoration work, I'm planning to do some work in this area - I have some ideas for a much more efficient way to cache the glyphs and images that I'd

[2017-07-19 07:03] sotaroikeda opened #1497 "Need a way to disable RenderBackend::render_on_scroll"
Gecko with webrender does not need "render on scroll", it just spend cpu time. It is nice if we could disable it.

Gecko expects to generate new frames only with ApiMsg::GenerateFrame, since gecko generates new frames with v-sync timings. It is done by [WebRenderBridgeParent::CompositeToTarget()](https://dxr.mozilla.org/mozilla-central/source/gfx/layers/wr/WebRenderBridgeParent.cpp#1082). Frame sc

[2017-07-19 14:13] jrmuizel opened #1501 "WebRender has a bad time with https://jrmuizel.github.io/perf-tests/moving-balls.html"
Profiling servo running this test case shows about 50% of the time in WebRender. The rendering is also incorrect (the solid colors leak out of the borders)

[2017-07-19 19:32] #1354 closed

[2017-07-19 19:32] #1449 closed

[2017-07-19 23:05] glennw opened #1502 "Text / CPU optimization"
Profiling shows that the majority of the time spent in WR (on real pages) is in producing text runs (dealing with the glyph cache primarily).

It's also often the case that when WR receives a new DL, the majority of the text runs are actually the same as in the previous DL.

If we could identify text runs that are the same across DLs (e.g. hash the string, font options, etc) and cache these in FBO

[2017-07-19 23:06] glennw commented on #1502
cc @jrmuizel @kvark @lsalzman

[2017-07-19 23:13] glennw opened #1503 "Glyph cache optimizations / ideas"
A general list of ideas for improving glyph cache performance:

* We currently have way too many hash table lookups - e.g. the resource cache expiry times are maintained in a separate hash from the items. We could combine some of these hash lookups, and also could consider using a freelist in place of the hashmap in some cases.
* The glyph cache currently uses a fairly complex allocator to minimiz

[2017-07-19 23:13] glennw commented on #1503
cc @kvark

[2017-07-19 23:47] glennw commented on #1478
*Crazy* idea / question:

Could we ship the clip-scroll tree along with each frame we send to the compositor thread? I'm not sure if it's feasible or how costly it would be.

But if it were feasible, then the APZ could actually be done on the compositor thread - just by updating transforms in the clip-scroll tree, and then patching the list of matrices that get uploaded for a frame.

In such a sce

[2017-07-20 02:46] glennw commented on #1437
This appears to be resolved now, please re-open if you're still seeing issues.

[2017-07-20 02:46] #1437 closed

[2017-07-20 02:49] glennw commented on #1501
Wow, of the 33ms spent in the backend thread, 20ms of that is DL deserialization and processing :(

[2017-07-20 11:47] nical opened #1505 "Have a notion of transaction"
Currently each pipeline will send a bunch of messages to add/remove/update resources, set the display list and generate the frame. A pipeline, when doing something that causes a frame to be rendered, can race with resources being updated in another pipeline and produce a frame with only a portion of the other pipeline's updates that are meant to show up in the same frame.

In Gecko we have a notio

[2017-07-20 13:27] staktrace commented on #1478
I don't have a good mental model of some of this, so please correct me if what I say makes no sense...

Are you thinking of duplicating the clip-scroll tree, or just sharing it across the two threads? If we end up with two copies, and we only update the one on the compositor thread with APZ, then we would *have to* use that updated one for hit-testing (assuming we do it in WR at all). Updating bot

[2017-07-20 14:08] nical commented on #1502
Is it possible to fix this in a generic way through incremental display list updates?

[2017-07-20 16:33] kvark commented on #1502
That's a good question to Gecko folks (@jrmuizel, @nical?). Do you guys know if a text run is the same as you submitted the previous frame? In this case, we could use this information effectively by making the text runs go through `generate_key` and such, similar to how we handle images and fonts.

I did a rough check on Servo, and they appear to call `push_text` at higher frequency (in general) t

[2017-07-20 16:34] kvark commented on #1501
Sounds like @Gankro should be ~~accused~~ involved

[2017-07-20 16:43] kvark commented on #1495
@nical

#1011 didn't replace `glClear` with rectangles, it just enabled scissoring (which is now behind an option btw). Whether or not the hardware is able to do the fast clears with scissoring is an open question, hence my original concerns on the PR. But so far, @glennw 's benchmarks have been convincing enough.

Here are the recommendations I found related from Intel's guide:

- [x] we still us

[2017-07-20 16:48] jrmuizel commented on #1502
Yeah, it's possible for us to know if the text run is the same.

[2017-07-20 17:01] kvark commented on #1497
We could certainly add a flag into `RendererOptions` to prevent `render_on_scroll` ever flipping on.

[2017-07-20 17:49] kvark opened #1506 "Tips from Intel GPU guide"
Guide: https://software.intel.com/sites/default/files/managed/3a/93/6th-gen-graphics-api-dev-guide-1.1.pdf

Some stuff seems to be relevant to us:
1. Avoid read hazards between sample instructions. For example, the UV coordinate of the next sample instruction is dependent upon the results of the previous sample operation.
2. Define input geometry in structure of arrays (SOA) instead of array of st

[2017-07-20 18:21] kvark commented on #1505
I see this relating heavily with resource snapshots that we'll need for APZ. Thus, I believe we should touch on that topic during the APZ call (whenever we manage to schedule it...), and the issue to be postponed until our asynchronous backend architecture is cleared out.

[2017-07-20 21:09] jrmuizel commented on #1501
https://github.com/rust-lang/rust/issues/31681 should help here.

[2017-07-20 21:25] glennw commented on #1505
I do like the idea in general of introducing transactions - it does seem likely to be a useful addition. But we can certainly discuss the details as part of the (to be rescheduled) APZ discussions.

[2017-07-20 21:25] nical commented on #1505
It is mostly superficially related. I would rather start by looking for a solution to this simple problem (how we expose atomicity of updates in the api) and adjust it as needed when we talk about the threading architecture (which is more about how we internally implement some aspects of this atomicity while preserving APZ). I prefer iterating small steps at a time than postponing too many things

[2017-07-20 21:27] glennw commented on #1502
Great, it sounds like this is worth further investigation!

[2017-07-20 21:28] glennw commented on #1505
@nical Yup, that sounds like a good idea to me. Thanks!

[2017-07-21 00:31] glennw commented on #1480
This happened.

[2017-07-21 00:31] #1480 closed

[2017-07-21 00:32] glennw commented on #1367
This is resolved.

[2017-07-21 00:32] #1367 closed

[2017-07-21 00:46] glennw commented on #1280
Submitted https://bugzilla.mozilla.org/show_bug.cgi?id=1382896 to start the discussion in Bugzilla.

[2017-07-21 00:52] glennw commented on #1085
I believe this is resolved with https://github.com/servo/webrender/pull/1488 - please re-open if still an issue.

[2017-07-21 00:52] #1085 closed

[2017-07-21 00:54] glennw commented on #739
preserve-3d support has merged. Let's close this and open new issues for any specific bugs / missing features.

[2017-07-21 00:54] #739 closed

[2017-07-21 10:03] nical commented on #1506
final color in the render target.

Wow! Doing this can be super bad on a lot of GPUs (it will turn off early-Z and Hi-Z on at least nvidia and powervr and I suppose AMD as well although I need to check). I am really surprised that intel chips don't suffer from doing things like this.

[2017-07-21 10:07] nical commented on #1506
The first two items don't mesh very well with how we store primitive data in a big float texture. Hopefully it won't matter much since that's all in the vertex shader and we don't seem to be spending too much time in there. But it would be worth reconsidering this approach for some specific things like if/when we introduce tessellated geometry with lots of vertices for paths.

[2017-07-21 13:46] Gankro commented on #1503
As part of this I'm working on adding a list of all glyphs to the end of the display list, so that those can be uploaded in parallel.

[2017-07-21 19:32] mstange opened #1507 "Brightness filter with transparent contents renders incorrectly"
Testcase: https://bugzilla.mozilla.org/attachment.cgi?id=8888896

Both boxes should render the same. They look different in Servo and Gecko+webrender+webrendest.

Screenshot:

<img width="257" alt="screen shot 2017-07-21 at 3 32 04 pm" src="https://user-images.githubusercontent.com/961291/28479290-c74193b0-6e29-11e7-90f4-665f30e7fe9d.png">

[2017-07-21 19:34] mstange opened #1508 "Invert filter with transparent contents renders incorrectly"
This is very similar to #1507.

Testcase: https://bugzilla.mozilla.org/attachment.cgi?id=8888897

Both boxes should render the same. They look different in Servo and Gecko+webrender+webrendest.

Screenshot:

<img width="260" alt="screen shot 2017-07-21 at 3 33 49 pm" src="https://user-images.githubusercontent.com/961291/28479349-03e8b8de-6e2a-11e7-81d1-905b3699c871.png">

[2017-07-21 19:39] mstange commented on #1508
The screenshot above was from a somewhat older servo build.

Below is a screenshot from today's servo build:

<img width="260" alt="screen shot 2017-07-21 at 3 38 51 pm" src="https://user-images.githubusercontent.com/961291/28479535-cdaa1adc-6e2a-11e7-8cd7-7c35844d28ff.png">

[2017-07-21 19:40] mstange commented on #1507
The screenshot above was from a somewhat older servo build.

Below is a screenshot from today's servo build:

<img width="256" alt="screen shot 2017-07-21 at 3 40 10 pm" src="https://user-images.githubusercontent.com/961291/28479558-e7d7c012-6e2a-11e7-9f20-4846d03b39d5.png">

[2017-07-25 13:49] MortimerGoro opened #1517 "Text rendering is broken on Android"
See https://github.com/servo/servo/issues/17851 (images attached + specific WR update info)

[2017-07-25 20:11] jrmuizel opened #1519 "Panic in webrender::frame::Frame::flatten_item when loading http://www.firewatchgame.com/ in Servo"

[2017-07-25 20:41] Gankro commented on #1519
This is failing:

[code]

[code]

[2017-07-27 03:09] #1497 closed

[2017-07-28 04:25] #1470 closed

[2017-07-28 04:25] sotaroikeda commented on #1470
The problem was addressed by changing ANGLE.

[2017-07-28 17:07] msreckovic commented on #1486
Is there a "memory pressure" type of thing we can add and respond to?

[2017-07-28 20:14] MortimerGoro commented on #1517
@glennw @kvark any idea about what could cause this problem?